{{#if model.template}}
  <h2>{{ model.summary }}</h2>
  {{#if model.related.header}}
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Goal Sequence" key='goal_sequence'}}
          </div>
          <div class="panel-body">
            {{#if model.template_header}}
              {{model.related.header.sequence_summary}}
            {{else}}
              {{#link-to 'goals.goal' model.related.header.id}}
                {{model.related.header.sequence_summary}}
              {{/link-to}}
            {{/if}}
            <div class='sub_link text-muted'>
              {{t "goal" count=model.related.header.template_stats.goals key='n_goals'}}
              {{#if model.related.header.template_stats.loop}}
                {{t "repeating" key='in_a_loop'}}
              {{else}}
                {{t "in sequence" key='in_sequence'}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Advances" key='advances'}}
          </div>
          <div class="panel-body">
            {{#if model.advance}}
              {{date model.advance 'short_day'}}
            {{else if model.duration}}
              {{seconds_ago model.duration 'long'}}
            {{else}}
              {{t "Not Set" key='not_set'}}
            {{/if}}
            <div class='sub_link text-muted'>
              {{#if model.template_header}}
                {{t "(first in sequence)" key='first_in_sequence_paren'}}
              {{else}}
                &nbsp;
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Previous Goal" key='previous_goal'}}
          </div>
          <div class="panel-body">
            {{#if model.related.previous}}
              {{#link-to 'goals.goal' model.related.previous.id}}
                {{model.related.previous.summary}}
              {{/link-to}}
            {{else}}
              {{t "None" key='none'}}
            {{/if}}
            <div class='sub_link'>&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Next Goal" key='next_goal'}}
          </div>
          <div class="panel-body">
            {{#if model.related.next}}
              {{#link-to 'goals.goal' model.related.next.id}}
                {{model.related.next.summary}}
              {{/link-to}}
            {{else}}
              {{t "None" key='none'}}
            {{/if}}
            <div class='sub_link'>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if editing}}
    <form class="form-horizontal" {{action "save" on="submit"}}>
      {{#if model.template_header}}
        <div class="form-group">
          <label for="sequence_summary" class="col-sm-2 control-label">{{t "Sequence" key='sequence'}}</label>
          <div class="col-sm-5">
            {{input value=model.sequence_summary class="form-control" id="sequence_summary" placeholder="short sequence summary"}}
          </div>
        </div>
        <div class="form-group">
          <label for="sequence_description" class="col-sm-2 control-label">{{t "Details" key='details'}}</label>
          <div class="col-sm-5">
            {{textarea value=model.sequence_description class="form-control" id="sequence_description" placeholder="longer, detailed description of the goal sequence"}}
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <label for="summary" class="col-sm-2 control-label">{{t "Summary" key='summary'}}</label>
        <div class="col-sm-5">
          {{input value=model.summary class="form-control" id="summary" placeholder="short goal summary"}}
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
        <div class="col-sm-5">
          {{textarea value=model.description class="form-control" id="description" placeholder="longer, detailed description of the goal"}}
        </div>
      </div>
      <div class="form-group">
        <label for="advancement" class="col-sm-2 control-label">{{t "Advances" key='advances'}}</label>
        <div class="col-sm-2">
          {{bound-select select_class="form-control" select_id="advancement" content=advance_options selection=model.advance_type action=(action (mut model.advance_type)) }}
        </div>
        {{#if model.date_advance}}
          <div class='col-sm-3'>
            {{input value=model.goal_advances_at class="form-control" id="date_advance" placeholder="month, day"}}
          </div>
        {{else if model.duration_advance}}
          <div class='col-sm-1'>
            {{input type='number' value=model.goal_duration_number class="form-control" id="duration_advance" placeholder="##"}}
          </div>
          <div class='col-sm-2'>
            {{bound-select select_class="form-control" select_id="duration_advance_at_unit" content=advance_unit_options selection=model.goal_duration_unit action=(action (mut model.goal_duration_unit)) }}
          </div>
        {{/if}}
      </div>
      {{#if model.any_advance}}
        <div class="form-group">
          <label for="next_template_id" class="col-sm-2 control-label">{{t "Next Template" key='next_template'}}</label>
          <div class="col-sm-2">
            {{#if status.loading_templates}}
              <p class='form-control-static'>{{t "Loading templates..." key='loading_templates'}}</p>
            {{else if status.loading_templates_error}}
              <p class='form-control-static'>{{t "There was an unexpected error loading templates..." key='error_loading_templates'}}</p>
            {{else}}
              {{bound-select select_class="form-control" select_id="next_template_id" content=template_options selection=model.next_template_id action=(action (mut model.next_template_id)) }}
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#if model.new_next_template_id}}
        <div class="form-group">
          <label for="new_summary" class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-5">
            {{input value=model.new_next_template_summary class="form-control" id="new_summary" placeholder="short sequence summary"}}
          </div>
        </div>
      {{/if}}
      {{#unless model.related.header}}
        <div class="form-group">
          <label for="template_header" class="col-sm-2 control-label">{{t "Template" key='template_header'}}</label>
          <div class="col-sm-5">
            <div class="checkbox">
              <label>
                {{input type="checkbox" checked=model.template_header id="template_header"}}
                {{t "This goal is a public template for others to use" key='make_goal_a_template'}}
              </label>
            </div>
          </div>
        </div>
      {{/unless}}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-primary" disabled={{status.saving}}>
            {{#if status.saving}}
              {{t "Saving Goal..." key='saving_goal'}}
            {{else}}
              {{t "Save Goal" key='save_goal'}}
            {{/if}}
          </button>
          <button type="button" class="btn btn-default" {{action "cancel_save"}}>{{t "Cancel" key='cancel'}}</button>
          {{#if status.saving_error}}
            <p class='text-danger'>{{t "There was an unexpected error creating the goal" key='error_saving'}}</p>
        {{/if}}
        </div>
      </div>
    </form>
  {{else}}
    <div class='safe_html'>
      {{safe model.description}}
    </div>
    {{#if model.related.header}}
      <h4 style='margin-top: 50px;'>{{t "Sequence Description:" key='sequence_description'}}</h4>
      <div class='safe_html'>
        {{safe model.related.header.sequence_description}}
      </div>
    {{/if}}
    {{#if model.template_header}}
      {{#if status.loading_templates}}
        <p>{{t "Loading templates..." key='loading_templates'}}</p>
      {{else if status.loading_templates_error}}
        <p>{{t "Error loading templates" key='error_loading_templates'}}</p>
      {{else if templates}}
        <h4 style='margin-top: 30px;'>{{t "Sequence Goals" key='sequence_goals'}}</h4>
        <table class='table table-striped table-hover' style='max-width: 600px;'>
          <thead>
            <tr>
              <th>{{t "Goal" key='goal'}}</th>
              <th>{{t "Advances" key='advances'}}</th>
              <th>{{t "Next" key='next'}}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {{#each templates as |goal|}}
              <tr>
                <td>
                  {{#if goal.template_header}}
                    {{goal.summary}}
                  {{else}}
                    {{#link-to 'goals.goal' goal.id}}{{goal.summary}}{{/link-to}}
                  {{/if}}
                </td>
                <td>
                  {{#if goal.advance}}
                    {{date goal.advance 'short_day'}}
                  {{else if goal.duration}}
                    {{seconds_ago goal.duration 'long'}}
                  {{else}}
                    {{t "Not Set" key='not_set'}}
                  {{/if}}
                </td>
                <td>
                  {{#if goal.related.next}}
                    {{#link-to 'goals.goal' goal.related.next.id}}
                      {{goal.related.next.summary}}
                    {{/link-to}}
                  {{else}}
                    {{t "None" key='none'}}
                  {{/if}}
                </td>
                <td>
                  {{#unless goal.template_header}}
                    <a href="#" {{action 'delete_goal' goal}}><span class='glyphicon glyphicon-trash'></span></a>
                  {{/unless}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
      {{/if}}
    {{/if}}
  {{/if}}

  {{#unless editing}}
    {{#if model.permissions.edit}}
      <div style='margin-top: 50px;'>
        <button class='btn btn-default' {{action 'edit_goal'}}>{{t "Edit Goal" key='edit_goal'}}</button>
        {{#if model.permissions.delete}}
          <button class='btn btn-default'>{{t "Delete Goal" key='delete_goal'}}</button>
        {{/if}}
      </div>
    {{/if}}
  {{/unless}}
{{else}}
  {{t "Not A Goal Template" key='not_a_goal_template'}}
{{/if}}