{{#button-listener compute_height='compute_height' button_event='button_event'}}
{{#if model.integration}}
  {{#if teaser_description}}
    <div id="board_description">
      <span>{{model.integration_name}}</span>
    </div>
  {{/if}}
  {{#if model.embed_url}}
    <iframe style={{board_style}} frameborder=0 src={{model.embed_url}} id='integration_frame' data-user_token={{model.user_token}}></iframe>
  {{else}}
    <p class='text-danger'>{{t "There was an error loading the tool's page, it appears to not be configured properly" key='misconfigured_integration'}}</p>
  {{/if}}
{{else if model.id}}
  {{#if teaser_description}}
    <div id="board_description">
      <span {{action "boardDetails"}}>
        {{#unless model.public}}
          <span class="glyphicon glyphicon-lock"></span>
        {{/unless}}
        {{#if cc_license}}
          <img src="{{path "images/cc.png"}}" alt="cc license" style="opacity: 0.5;"/>
        {{else if pd_license}}
            <img src="{{path "images/pd.png"}}" alt="public domain" style="opacity: 0.5;"/>
        {{/if}}
        {{teaser_description}}
      </span>
    </div>
  {{/if}}
  <div id="stash_hover" style="position: absolute;" {{action 'stash_button'}}>
    <span class="glyphicon glyphicon-copy"></span>
    {{t "Copy to Button Stash" key='copy_to_button_stash'}}
    <span style="clear: left;"></span>
  </div>
  {{#if show_word_suggestions}}
    <div id="word_suggestions" class="advanced_selection">
      {{#if suggestions.ready}}
        {{#each suggestions.list as |suggestion|}}
          <a href='#' class="suggestion" {{action "complete_word" suggestion}}>
            {{suggestion}}
          </a>
        {{/each}}
      {{else if suggestions.error}}
        {{t "Word suggestions failed to load" key='word_suggestions_failed'}}
      {{else}}
        {{t "Loading word suggestions..." key='loading_word_suggestions'}}
      {{/if}}
    </div>
  {{/if}}
  {{#with model as |board|}}
  <div style={{board_style}} class={{display_class}} data-id={{board.id}}>
    {{#if nothing_visible_not_edit}}
      <div class="board_status">
        <p>{{t "This board hasn't been set up yet, or doesn't have any visible buttons." key='no_visible_buttons'}}</p>
        {{#if board.permissions.edit}}
          {{#unless app_state.speak_mode}}
            <button class='btn btn-default btn-lg' {{action "toggleEditMode" }}>{{t "Edit this Board" key='edit_this_board'}}</button>
          {{/unless}}
        {{/if}}
      </div>
    {{else}}
      {{#if board.grid}}
        {{#if ordered_buttons}}
          {{#if app_state.edit_mode}}
            {{#each ordered_buttons as |row|}}
              <div class="button_row">
                {{#each row as |button|}}
                  {{partial "button"}}
                {{/each}}
              </div>
            {{/each}}
          {{else}}
            {{#if app_state.currentUser.preferences.device.canvas_render}}
              {{board-canvas id="board_canvas" redraw='redraw' tabindex='0'}}
            {{else}}
              {{#each ordered_buttons as |row|}}
                <div class="button_row">
                  {{#each row as |button|}}
                    {{partial "button-unbound"}}
                  {{/each}}
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
        {{else}}
          <span class="board_status">
            {{t "Loading..." key='loading'}}
          </span>
        {{/if}}
      {{else}}
        <span class="board_status">
          {{t "Grid not defined!" key='grid_not_defined'}}
        </span>
      {{/if}}
    {{/if}}
    <div style="clear: left;"></div>
  </div>
  {{/with}}
{{else}}
  {{#if persistence.online}}
    <p>{{t "You don't have access to this board right now, or it doesn't exist." key='no_permissions'}}</p>
  {{else}}
    <p>{{t "This board isn't available, or hasn't been synced for offline use." key='board_not_synced'}}</p>
  {{/if}}
{{/if}}
{{/button-listener}}