{{#if in_list}}
  <div class="form-group" style='border-top: 1px solid #eee; padding-top: 10px;'>
    <label class="col-sm-2 control-label">
      {{t "Level %{level}" key='level_n' level=index increment='level' }}
    </label>
    <div class='col-sm-2'>
      <img src={{badge.image_url}} style='height: 75px; max-width: 75px;'/>
    </div>
    <div class='col-sm-3'>
      <button class='btn btn-default' type='button' {{action 'change_image'}}>{{t "New Image"}}</button>
      <button class='btn btn-default' type='button' {{action 'delete_badge'}}><span class='glyphicon glyphicon-trash'></span></button>
    </div>
  </div>
{{/if}}
{{#if in_list}}
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=badge.enable_auto_tracking}}
          {{t "This badge is automatically awarded based on user activity" key='auto_tracking'}}
        </label>
      </div>
    </div>
  </div>
{{/if}}
{{#if badge.enable_auto_tracking}}
  <div class="form-group">
    <div class='col-sm-4 col-sm-offset-2'>
      <p class='form-control-static'>
        {{#if in_list}}
          {{t "For awarding this badge," key='for_awarding_badge'}}
        {{else}}
          {{t "For tracking daily success," key='for_daily_tracking'}}
        {{/if}}
      </p>
    </div>
    <div class='col-sm-4'>
      {{bound-select select_class="form-control" content=tracking_types selection=badge.tracking_type action=(action (mut badge.tracking_type)) }}
    </div>
  </div>
  {{#if badge.watchlist}}
    <div class='form-group'>
      <div class='col-sm-4 col-sm-offset-2'>
        <p class='form-control-static'>
          {{#if in_list}}
            {{t "To earn this badge, the user must use some of the following" key='user_must_use'}}
          {{else}}
            {{t "The user should daily use some of the following" key='userMust_daily_user'}}
          {{/if}}
        </p>
      </div>
      <div class={{if in_list 'col-sm-2' 'col-sm-4'}}>
        {{bound-select select_class="form-control" content=watchlist_types selection=badge.watchlist_type action=(action (mut badge.watchlist_type)) }}
      </div>
      {{#if in_list}}
        <div class='col-sm-2'>
          {{bound-select select_class="form-control" content=unit_type_list selection=badge.interval action=(action (mut badge.interval)) }}
        </div>
      {{/if}}
    </div>
    <div class='form-group'>
      <label for='string_list' class='col-sm-2 col-sm-offset-2'>
        <p class='form-control-static'>{{t "list of %{types}:" types=watchlist_type_plural key='list_of_watchlist_types'}}</p>
      </label>
      <div class='col-sm-6'>
        {{input value=badge.string_list class="form-control" placeholder="comma-separated list"}}
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-3 col-sm-offset-2'>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=badge.enable_watch_type_minimum}}
            {{t "limit to %{types} used at least" types=watchlist_type_plural key='watch_type_minimum'}}
          </label>
        </div>
      </div>
      <div class={{if in_list 'col-sm-1' 'col-sm-2'}}>
        {{input value=badge.watch_type_minimum class="form-control" placeholder='#'}}
      </div>
      <div class='col-sm-3'>
        <p class='form-control-static'>{{t "times per %{unit_type}" unit_type=unit_type key='from_the_list'}}</p>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-3 col-sm-offset-2'>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=badge.enable_watch_total}}
            {{t "require a total every %{unit_type} of" unit_type=unit_type key='watch_total'}}
          </label>
        </div>
      </div>
      <div class={{if in_list 'col-sm-1' 'col-sm-2'}}>
        {{input value=badge.watch_total class="form-control" placeholder='#'}}
      </div>
      <div class='col-sm-3'>
        <p class='form-control-static'>{{t "of any %{types} from the list" types=watchlist_type_plural key='from_the_list'}}</p>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-3 col-sm-offset-2'>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=badge.enable_watch_type_count}}
            {{t "require different %{types}, at least" types=watchlist_type_plural key='watch_type_count'}}
          </label>
        </div>
      </div>
      <div class={{if in_list 'col-sm-1' 'col-sm-2'}}>
        {{input value=badge.watch_type_count class="form-control" placeholder='#'}}
      </div>
      <div class='col-sm-3'>
        <p class='form-control-static'>
          {{t "different %{types}" types=watchlist_type_plural key='different_types'}}
          {{t "per %{unit_type}" unit_type=unit_type key='per_unit_type'}}
        </p>
      </div>
    </div>
    {{#if in_list}}
      <div class='form-group'>
        <div class='col-sm-3 col-sm-offset-2'>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checked=badge.enable_watch_type_interval}}
              {{t "also require different %{types}, at least" types=watchlist_type_plural key='watch_type_interval_count'}}
            </label>
          </div>
        </div>
        <div class='col-sm-1'>
          {{input value=badge.watch_type_interval_count class="form-control" placeholder='#'}}
        </div>
        <div class='col-sm-2'>
          <p class='form-control-static'>{{t "different %{types} used" types=watchlist_type_plural key='different_types_used'}}</p>
        </div>
        <div class='col-sm-2'>
          {{bound-select select_class="form-control" content=unit_type_list selection=badge.watch_type_interval action=(action (mut badge.watch_type_interval)) }}
        </div>
      </div>
    {{/if}}
  {{else if badge.instance_count}}
    <div class="form-group">
      <div class='col-sm-3 col-sm-offset-2'>
        <p class='form-control-static'>
          {{#if in_list}}
            {{t "To earn this badge, the user must have at least" key='to_earn_must_have_at_least'}}
          {{else}}
            {{t "The user should daily have at least" key='user_should_daily_have_at_least'}}
          {{/if}}
        </p>
      </div>
      <div class={{if in_list 'col-sm-1' 'col-sm-2'}}>
        {{input value=badge.instance_count class="form-control" placeholder='#'}}
      </div>
      <div class={{if in_list 'col-sm-3' 'col-sm-4'}}>
        {{bound-select select_class="form-control" content=instance_metric_list selection=badge.instance_metric action=(action (mut badge.instance_metric)) }}
      </div>
      {{#if in_list}}
        <div class='col-sm-2'>
          {{bound-select select_class="form-control" content=unit_type_list selection=badge.interval action=(action (mut badge.interval)) }}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if badge.interval}}
    {{#if in_list}}
      <div class="form-group">
        <div class="col-sm-3 col-sm-offset-2">
          <p class='form-control-static'>{{t "The user must meet the criteria" key='must_meet_criteria'}}</p>
        </div>
        <div class='col-sm-3'>
          {{bound-select select_class="form-control" content=criteria_type_list selection=badge.criteria_type action=(action (mut badge.criteria_type)) }}
        </div>
        {{#if badge.for_consecutive_units}}
          <div class='col-sm-1'>
            {{input value=badge.consecutive_units class="form-control" placeholder='#'}}
          </div>
          <div class='col-sm-2'>
            <p class='form-control-static'>{{unit_type_plural}}</p>
          </div>
        {{else if badge.for_matching_units}}
          <div class='col-sm-1'>
            {{input value=badge.matching_units class="form-control" placeholder='#'}}
          </div>
          <div class='col-sm-2'>
            <p class='form-control-static'>{{unit_type_plural}}</p>
          </div>
        {{else if badge.for_matching_instances}}
          <div class='col-sm-1'>
            {{input value=badge.matching_instances class="form-control" placeholder='#'}}
          </div>
          <div class='col-sm-2'>
            <p class='form-control-static'>{{event_type_plural}}</p>
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}
<!--
[x] this badge is automatically triggered based on user activity
[watch for a specific type of events|watch for a list of words of word types]

To earn this badge, the user must have at least
[N]
[button presses|words|sessions|etc]
[every day|every week|every other week|every month]


the user must meet these criteria
[in a sequential row of|with at least|for a total of]
[N] units
[N] events
-->