<div style='width: 100%; overflow-x: auto;'>
  {{#if selectable}}
    <a href="#" {{action 'select_all'}}>{{t "Select All" key='select_all'}}</a> |
    <a href="#" {{action 'toggle_board_hierarchy' 'all' true}}>{{t "Expand All" key='expand_all'}}</a> |
    <a href="#" {{action 'toggle_board_hierarchy' 'all' false}}>{{t "Collapse All" key='collapse_all'}}</a>
  {{/if}}
  {{#with hierarchy.root as |board|}}
    <div class="board_hierarchy" style='margin-top: 10px;'>
      <ul>
        {{partial "recursive-board"}}
      </ul>
    </div>
  {{/with}}
</div>
