<!-- TODO: i18n for placeholders based on element id -->
{{input value=selection class="form-control" id="image_url" placeholder="URL or pick from the list"}}
<div style="margin-top: 12px; float: left; height: 42px; width: 42px; border: 1px solid #ccc; overflow: hidden;">
  {{#if selection_preview}}
    <img src={{selection_preview}} {{action "pick" selection_preview}} style="width: 40px; height: 40px;" alt="current image"/>
  {{/if}}
</div>
<div class="icon_urls">
  {{#each iconUrls as |icon|}}
    <img src={{icon.url}} {{action "pick" icon.url}} alt={{icon.alt}} />
  {{/each}}
  {{#each included_icon_urls as |url|}}
    <img src={{url}} {{action "pick" url}} alt={{t "original" key='alternate'}} />
  {{/each}}
</div>
<div style="clear: left;"></div>
