{{#if video_allowed}}
  {{#if app_state.feature_flags.video_recording}}
    <div class="row">
      {{#if video}}
        <div class="col-sm-10">
          <video id='video_elem' controls preload='metadata' src={{video.url}} style="width: 100%; border: 1px solid #ccc;"></video>
        </div>
      {{else}}
        <div class="col-sm-2 video_buttons">
          {{#if video_preview}}
            {{#if video_preview.saving}}
              <div style="padding: 10px 15px; font-size: 35px;">
                <span class="glyphicon glyphicon-refresh spinning"></span>
              </div>
            {{else}}
              <button class='btn btn-primary' {{action 'keep'}} title={{t "Use This" key='use_this'}}><span class='glyphicon glyphicon-ok'></span><span class='sr-only'>{{t "Use This" key='use_this'}}</span></button>
              {{#if video_recording}}
                <button class='btn btn-default' {{action 'setup_recording'}} title={{t "Try Again" key='try_again'}}><span class='glyphicon glyphicon-arrow-left'></span><span class='sr-only'>{{t "Try Again" key='try_again'}}</span></button>
              {{/if}}
              <button class='btn btn-default' {{action 'clear'}} title={{t "Start Over" key='start_over'}}><span class='glyphicon glyphicon-remove'></span><span class='sr-only'>{{t "Start Over" key='start_over'}}</span></button>
            {{/if}}
          {{else if video_recording}}
            {{#if video_recording.started}}
              <button class='btn btn-primary' {{action 'stop'}} title={{t "Stop Recording" key='stop_recording'}}><span class='glyphicon glyphicon-stop'></span><span class='sr-only'>{{t "Stop Recording" key='stop_recording'}}</span></button>
              <div style="text-align: center; font-size: 20px;">
                <span class='text-muted'>{{duration time_recording}}</span>
              </div>
            {{else}}
              <button class='btn btn-primary' {{action 'record'}} title={{t "Start Recording" key='start_recording'}}><span class='glyphicon glyphicon-record'></span><span class='sr-only'>{{t "Start Recording" key='start_recording'}}</span></button>
              {{#if webcam.video_streams}}
                <button class='btn btn-default' {{action 'swap'}} title={{t "Switch Views" key='switch_views'}}><span class='glyphicon glyphicon-repeat'></span><span class='sr-only'>{{t "Switch Views" key='switch_views'}}</span></button>
              {{/if}}
              <button class='btn btn-default' {{action 'clear'}} title={{t "Start Over" key='start_over'}}><span class='glyphicon glyphicon-remove'></span><span class='sr-only'>{{t "Start Over" key='start_over'}}</span></button>
            {{/if}}
          {{else}}
            <button class='btn btn-default' {{action 'setup_recording'}} title={{t "Record Video" key='record_video'}}><span class='glyphicon glyphicon-facetime-video'></span><span class='sr-only'>{{t "Record Video" key='record_video'}}</span></button>
            <span class="file_select_holder">
              <button class='btn btn-default' title={{t "Upload Video" key='upload_video'}}>
                <img src={{path 'images/upload.svg'}} style='width: 35px; margin: -12px -3px -3px;'/><span class='sr-only'>{{t "Upload Video" key='upload_video'}}</span>
              </button>
              <input type="file" name="video_upload" id="video_upload" accept="video/*"/>
            </span>
          {{/if}}
        </div>
        <div class="col-sm-10">
          {{#if video_recording.error}}
            <span class='text-danger'>
              {{t "Video recording is supported by this browser" key='video_recording_not_supported'}}
            </span>
          {{else if video_preview.url}}
            <video id='video_elem' controls preload='metadata' src={{video_preview.url}} style="width: 100%; border: 1px solid #ccc;"></video>
          {{else if video_recording.video_url}}
            <video id='video_elem' muted preload='metadata' src={{video_recording.video_url}} style="width: 100%; border: 1px solid #ccc;"></video>
          {{else}}
            <span class='text-muted'>
              {{t "You can record a video using your device's camera, or upload a pre-recorded video to share. Just hit one of the buttons to record or upload a video." key='video_prompt'}}
            </span>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{t "Coming Soon!" key='coming_soon'}}
  {{/if}}
{{else}}
  <p>
    {{t "Video recording is a CoughDrop feature that's only available to users who have a paid premium subscription. Please " key='purchase_subscription_1'}}
    {{#if user}}
      {{#link-to 'user.subscription' user.user_name}}{{t "purchase a premium subscription" key='purchase_subscription_2'}}{{/link-to}}
    {{else if app_state.currentUser}}
      {{#link-to 'user.subscription' app_state.currentUser.user_name}}{{t "purchase a premium subscription" key='purchase_subscription_2'}}{{/link-to}}
    {{else}}
      {{t "purchase a premium subscription" key='purchase_subscription_2'}}
    {{/if}}
    {{t "to support this good cause and to unlock this feature." key='purchase_subscription_3'}}
  </p>
{{/if}}
