<%= @user.settings['name'] %> -- Welcome to CoughDrop! We're excited that you've signed
up to use what we think is the most flexible, usable communication tool out there! We 
built CoughDrop to make things easier for 
communicators and the support teams around them, so we hope the app can make a 
difference for you.<br/><br/>

You've signed up for an account with the user name <b><%= @user.display_user_name %></b>.
To finish registering just
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/confirm_registration/<%= @user.registration_code %>">open this link in your web browser of choice</a>.<br/><br/>

After that you'll be good to go. There are lots of powerful tools in CoughDrop for tracking
and reporting on usage, customizing how buttons look, changing the header, etc. You can
find walkthroughs on simple and advanced features on
<a href="https://coughdrop.zendesk.com">our support site</a>. You can also file a ticket
there if you think something might be broken.<br/><br/>

If you ever find something you think could be improved upon, we'd love
to hear about it! Our goal is to build something that can help enable communicators to succeed,
and we're always looking for new ways to make that happen!<br/><br/><br/>

Thanks!<br/>
-The CoughDrop Team
