<% if @user %>
You requested a password reset for the CoughDrop login, <b><%= @user.display_user_name %></b>.<br/><br/>
To finish resetting your password you'll need to 
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/password_reset/<%= @user.password_reset_code %>">open this link in your web browser</a> and enter a new password.<br/><br/>
If this message was sent in error please disregard it and your password will not be changed.<br/><br/>
Thanks!<br/>
- The CoughDrop Team
<% else %>
You requested a password reset for one of the CoughDrop logins tied to this email address.<br/><br/>
To finish resetting your password you'll need to click the link for the correct login below.<br/><br/>
<% @users.each do |user| %>
<b><%= user.display_user_name %></b> -
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/password_reset/<%= @user.password_reset_code %>">change the password for this login</a>.<br/><br/>
<% end %>
Thanks!<br/>
- The CoughDrop Team
<% end %>