{{#if model.confirmed}}
  <h2>{{t "Account confirmed!" key='account_confirmed'}}</h2>
  <p>
    {{t "You did it! Air high five! Then as you were." key='account_confirmed_message'}}
  </p>
{{else}}
  <h2>{{t "Confirmation failed" key='confirmation_failed'}}</h2>
  <p>
    {{t "Nope, that wasn't it :-(." key='confirmation_failed_message'}}
  </p>
{{/if}}
