{{#if model.full_premium_or_trial_period}}
  <h2>{{t "Communication Goals" key='communication_goals'}}</h2>

  {{#if goals.loading}}
    {{t "Loading goals..." key='loading_goals'}}
  {{else if goals.error}}
    {{t "Goals failed to load" key='goals_failed_to_load'}}
  {{else}}
    {{#if primary_goal}}
      {{#with primary_goal as |goal|}}
        {{partial "goal_in_list"}}
      {{/with}}
    {{else if any_goal}}
      <p>{{t "No primary goal set" key='no_primary_goal_set'}}</p>
    {{else}}
      <div style='max-width: 600px;'>
        <p>{{t "Goals are a way to help the communicator and their support team keep their current strategies top of mind. They can be general like \"Remember to use core words!\" or specific like \"Use greetings when entering a new setting\". Remember, these can be goals for the communicator (\"Answer questions with yes or no\"), <strong>or</strong> for the support team around the communicator (\"Use a prompting hierarchy\")." key='goals_explainer1'}}</p>
        <p>{{t "Goals can be tracked for each communicator using assessments, or when making notes on a user's logs. These status updates are then used to show a general report of how the goal is progessing over time." key='goals_explainer2'}}</p>
        <p>{{t "You can start using goals at any time by creating a goal for a communicator. Then use notes and assessments to track progress toward the goal over time. Users can have multiple goals, but only one \"primary\" goal at a time." key='goals_explainer_3'}}</p>
        <p>{{t "For more information on choosing good goals, <a href='http://praacticalaac.org/praactical/how-i-do-it-writing-iep-goals-for-students-who-use-aac-with-lauren-enders/' target='_blank'>please check out</a> these <a href='http://praacticalaac.org/praactical/praactical-goals-that-matter/' target='_blank'>great resources</a> from PrAACtical AAC." key='goals_explainer_4'}}</p>
      </div>
      <!--
      things we could programmatically track:
        - average number of sessions
        - average session length
        - average number of buttons
        - requesting
        - longer phrases
        - get it out more often
        - use describing words
        - use pronouns
        - words of the week/month
        - http://praacticalaac.org/praactical/praactically-may-resources-for-a-year-of-core-vocabulary-words/
        - use in different locations
      - notification when goal is changed/added
      - link to report on goals within reports summary email
      -->
    {{/if}}
    {{#if model.permissions.edit}}
      <button {{action 'add_goal'}} class='btn btn-default'>{{t "Set a New Goal" key='set_a_new_goal'}}</button>
      <button {{action 'find_goal'}} class='btn btn-default'>{{t "Browse Community Goals" key='browse_community_goals'}}</button>
    {{/if}}
    {{#link-to 'user.badges' model.user_name class='btn btn-default'}}{{t "See User Badges" key='see_user_badges'}}{{/link-to}}

    {{#if any_goal}}
      <h3>{{t "Secondary Goals" key='secondary_goals'}}</h3>
      {{#if secondary_goals}}
        {{#each secondary_goals as |goal|}}
          {{partial "goal_in_list"}}
        {{/each}}
      {{else}}
        {{t "None set" key='none_set'}}
      {{/if}}
      <h3>{{t "Past Goals" key='past_goals'}}</h3>
      {{#if past_goals}}
        {{#each past_goals as |goal|}}
          {{partial "goal_in_list"}}
        {{/each}}
      {{else}}
        {{t "No past goals" key='no_past_goals'}}
      {{/if}}
    {{/if}}
  {{/if}}
{{else}}
  <h2>{{t "Premium Membership Required" key='premium_required'}}</h2>
  <p>
    {{t "CoughDrop is a powerful, flexible communication tool with lots of great features. Some features, including this one, are only available to users who have purchased a premium account. Please " key='purchase_subscription_1'}}
    {{#if app_state.feature_flags.subscriptions}}
      {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium account" key='purchase_subscription_2'}}{{/link-to}}
    {{else}}
      {{t "purchase a premium account" key='purchase_subscription_2'}}
    {{/if}}
    {{t "to support this good cause and to unlock this feature." key='purchase_subscription_3'}}
  </p>
{{/if}}