<h2>{{model.summary}}</h2>
<div class="row">
  <div class="col-sm-3 col-xs-2">
    <div class="panel panel-default summary smaller">
      <div class="panel-heading">{{t "State" key='state'}}</div>
      <div class="panel-body">
        {{#if model.active}}
          {{#if model.primary}}
            {{t "Primary Goal" key='primary_goal'}}
          {{else}}
            {{t "Secondary Goal" key='secondary_goal'}}
          {{/if}}
        {{else}}
          {{t "Past Goal" key='past_goal'}}
        {{/if}}

        <br/>
        <span class='text-muted'>
          {{#if model.active}}
            {{t "started" key='started'}}
          {{else}}
            {{t "ended" key='ended'}}
          {{/if}}
          {{#if model.active}}
            {{date model.started 'day'}}
          {{else}}
            {{date model.ended 'day'}}
          {{/if}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-2">
    <div class="panel panel-default summary smaller">
      <div class="panel-heading">{{t "Author" key='author'}}</div>
      <div class="panel-body" style='line-height: 44px;'>
        {{#link-to 'user' model.author.user_name}}{{model.author.user_name}}{{/link-to}}
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-2">
    <div class="panel panel-default summary smaller">
      <div class="panel-heading">{{t "Average" key='average_success'}}</div>
      <div class="panel-body">
        {{model.stats.weighted_percent_positive}}%
        {{t "weighted" key='weighted'}}
        <br/>
        <span class='text-muted'>
          {{model.stats.weighted_average_status}}
          {{t "weighted status" key='weighted_status'}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-2">
    <div class="panel panel-default summary smaller">
      <div class="panel-heading">{{t "Total Sessions" key='total_sessions'}}</div>
      <div class="panel-body" style='line-height: 44px;'>
        {{t "session" key='sessions' count=model.stats.sessions}}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    {{stats/goal-statuses-over-time goal=model}}
  </div>
  <div class="col-sm-6">
    {{stats/goal-summary goal=model}}
  </div>
</div>
<div class='safe_html'>{{safe model.description}}</div>
<h3>{{t "Comments" key='comments'}}</h3>
<p>{{t "No Comments" key='no_comments'}}</p>
<button class='btn btn-default'>{{t "Add Comment" key='add_comment'}}</button>
<h3>{{t "Notes and Assessments" key='notes_and_assessments'}}</h3>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: 10px;">{{t "Type" key='type'}}</th>
        <th>{{t "Summary" key='summary'}}</th>
        <th style="width: 20%;">{{t "Date" key='date'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each logs as |log|}}
        {{partial 'log'}}
      {{/each}}
    </tbody>
  </table>
</div>
{{#if more_available}}
  <button class='btn btn-default' {{action 'more_results'}}>{{t "More" key='more'}}</button>
{{/if}}
<button class='btn btn-default' {{action 'new_note'}}>{{t "New Note" key='new_note'}}</button>
<button class='btn btn-default' {{action 'quick_assessment'}}>{{t "Quick Assessment" key='quick_assessment'}}</button>