<h2>{{t "Communication Goals" key='communication_goals'}}</h2>

{{#if model.goal}}
{{else}}
  set a goal! what's a goal? well let me tell you something..
  - average number of sessions
  - average session length
  - average number of buttons
  - requesting
  - longer phrases
  - get it out more often
  - use describing words
  - use pronouns
  - words of the week/month
  - http://praacticalaac.org/praactical/praactically-may-resources-for-a-year-of-core-vocabulary-words/
  - use in different locations
{{/if}}
add comments on a goal (log notes, associated with a goal?)
notification when goal is changed/added

{{#if goals.loading}}
  {{t "Loading goals..." key='loading_goals'}}
{{else if goals.error}}
  {{t "Goals failed to load" key='goals_failed_to_load'}}
{{else}}
  <h3>{{t "Secondary Goals" key='secondary_goals'}}</h3>
  {{#if goals.secondary}}
  {{else}}
    {{t "None set" key='none_set'}}
  {{/if}}
  <h3>{{t "Past Goals" key='past_goals'}}</h3>
  {{#if goals.prior}}
  {{else}}
    {{t "No past goals" key='no_past_goals'}}
  {{/if}}
{{/if}}
