<h2>{{t "Edit History for %{user_name}" key='edit_history_for' user_name=model.user_name}}</h2>
{{#if history.loading}}
  {{t "Loading history..." key='loading_history'}}
{{else if history.error}}
  {{t "There was an error loading the user's history" key='error_loading_history'}}
{{else if history}}
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>{{t "Date" key='date'}}</th>
        <th>{{t "User" key='user'}}</th>
        <th>{{t "Action" key='action'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each history as |version|}}
        <tr>
          <td>
            {{#if version.recent}}
              <span title={{date version.created}}>{{date_ago version.created}}</span>
            {{else}}
              {{date version.created}}
            {{/if}}
          </td>
          <td style='white-space: nowrap;'>
            <img src={{version.modifier.image}} alt='' style="max-width: 50px; height: 30px;"/>
            {{version.modifier.description}}
          </td>
          <td>
            {{version.action}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if maybe_more}}
    <p>{{t "NOTE: there may be more results not shown" key='maybe_more'}}</p>
  {{else}}
    <p>{{t "All results shown" key='all_results_shown'}}</p>
  {{/if}}
{{else}}
  {{t "No data available" key='no_data_available'}}
{{/if}}

