{{#if model.valid}}
  <h2>{{t "Change Password" key='change_password'}}</h2>
  <form class="form-horizontal" {{action "changePassword" on="submit"}}>
    <div class="form-group">
      <div class="col-sm-6">
        {{t "Here we go. Pick a new password." key='new_password'}}
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">{{t "Password" key='password'}}</label>
      <div class="col-sm-4">
        {{input type="password" value=model.password class="form-control" id="password" placeholder="new password"}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        {{input type="password" value=model.password2 class="form-control" id="password2" title="Repeat password" placeholder="new password again"}}
        {{#if badPassword.mismatch}}
          {{t "Passwords do not match" key='passwords_dont_match'}}
        {{else}}
          {{#if badPassword.short}}
            {{t "Password must be 6 characters" key='min_password'}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <div style="margin-bottom: 10px;">
        {{#if cantSubmit}}{{/if}}
        <button class='btn btn-primary' type='submit' disabled={{cantSubmit}}>
          {{#if password_reset.pending}}
            {{t "Saving Password..." key='saving_password'}}
          {{else}}
            {{t "Save Password" key='save_password'}}
          {{/if}}
        </button>
        </div>
        {{#if password_reset.pending}}
          <p>{{t "Resetting password..." key='resetting_password'}}</p>
        {{else}}
          {{#if password_reset.failed}}
            <p>{{t "Rats, something went wrong. Please try again." key='password_reset_failed'}}</p>
          {{else}}
            {{#if password_reset.succeeded}}
              <p>
              {{t "Hooray, it worked! Now you can" key='password_reset_confirmed'}}
              <a href="#" {{action "authenticateSession"}}>{{t "sign back in" key="sign_back_in"}}</a>
              </p>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </form>
{{else}}
  <h2>{{t "Change Password" key='change_password'}}</h2>
  <p>
  {{t "Bad code. Maybe there's a newer email in your inbox?" key='bad_password_confirmation'}}
  </p>
{{/if}}
