{{#opening-observer done_opening='draw_charts'}}
{{#if model.full_premium}}
  {{#if model.preferences.logging}} 
    <h2>{{t "Usage Reports" key='usage_reports'}}</h2>
    {{#if usage_stats}}
      <div style="margin: 20px 0;">
        <form class="form-inline">
          <div class="form-group">
            {{input type="date" value=usage_stats.start_date_field class="form-control"}}
          </div>
            &nbsp;{{t "to" key='to'}}&nbsp;
          <div class="form-group">
            {{input type="date" value=usage_stats.end_date_field class="form-control"}}
          </div>
          {{#if device_id}}
            <div class="form-group">
              {{#link-to 'user.stats' model.user_name (query-params device_id='') class='btn btn-default'}}
                {{device_name}}
                <span class="glyphicon glyphicon-remove"></span>
              {{/link-to}}
            </div>
          {{/if}}
          {{#if location_id}}
            <div class="form-group">
              {{#link-to 'user.stats' model.user_name (query-params location_id='') class='btn btn-default'}}
                {{location_name}}
                <span class="glyphicon glyphicon-remove"></span>
              {{/link-to}}
            </div>
          {{/if}}
          <button type="button" {{action "update_filter" "date"}} class="btn btn-default">{{t "Go" key='go'}}</button>
        </form>
      </div>
      {{#if usage_stats.no_data}}
        {{t "No data available" key='no_data_available'}}
      {{else}}
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total sessions" key='total_sessions'}}
              </div>
              <div class="panel-body">
                {{ usage_stats.total_sessions}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total words" key='total_words'}}
              </div>
              <div class="panel-body">
                {{ usage_stats.total_words}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total utterances" key='total_utterances'}}
              </div>
              <div class="panel-body">
                {{ usage_stats.total_utterances}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total buttons" key='total_buttons'}}
              </div>
              <div class="panel-body">
                {{ usage_stats.total_buttons}}
              </div>
            </div>
          </div>
        </div>
        <div class="row last_row">
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Words per utterance" key='words_per_utterance'}}
              </div>
              <div class="panel-body">
                {{round usage_stats.words_per_utterance}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Words per minute" key='words_per_minute'}}
              </div>
              <div class="panel-body">
                {{round usage_stats.words_per_minute}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Utterances per minute" key='utterances_per_minute'}}
              </div>
              <div class="panel-body">
                {{round usage_stats.utterances_per_minute}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Buttons per minute" key='buttons_per_minute'}}
              </div>
              <div class="panel-body">
                {{round usage_stats.buttons_per_minute}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h3>{{t "Word Usage" key='word_usage'}}</h3>
            <div id="daily_stats" style="width: 100%; height: 320px;"></div>
          </div>
          <div class="col-sm-4" style="padding-top: 43px;">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th colspan="2">
                    {{t "Most common words" key='most_common_words'}}
                    <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#if usage_stats.popular_words}}
                  {{#each usage_stats.popular_words as |word|}}
                    <tr>
                      <td>{{word.text}}</td>
                      <td>{{word.count}}</td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td>{{t "No data available" key='no_data'}}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h3>{{t "Parts of Speech" key='parts_of_speech'}}</h3>
            <div id="parts_of_speech_combinations" style="width: 100%; height: 300px; margin-bottom: 10px;"></div>
          </div>
          <div class="col-sm-4">
            <div style="margin-top: 56px;">
              <div id="parts_of_speech" style="width: 100%; height: 300px;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h3>{{t "Time of Day" key='time_of_day'}}</h3>
            <div class="time_block_rows">
              <div style="margin-left: 2%; margin-right: -2%;"> 
                <div class="time_block_top" style="margin-left: 4%;">1</div>
                <div class="time_block_top">2</div>
                <div class="time_block_top">3</div>
                <div class="time_block_top">4</div>
                <div class="time_block_top">5</div>
                <div class="time_block_top">6</div>
                <div class="time_block_top">7</div>
                <div class="time_block_top">8</div>
                <div class="time_block_top">9</div>
                <div class="time_block_top">10</div>
                <div class="time_block_top">11</div>
                <div class="time_block_top">12</div>
                <div class="time_block_top">1</div>
                <div class="time_block_top">2</div>
                <div class="time_block_top">3</div>
                <div class="time_block_top">4</div>
                <div class="time_block_top">5</div>
                <div class="time_block_top">6</div>
                <div class="time_block_top">7</div>
                <div class="time_block_top">8</div>
                <div class="time_block_top">9</div>
                <div class="time_block_top">10</div>
                <div class="time_block_top">11</div>
                <div class="time_block_top">12</div>
                <div style="clear: left;"></div>
              </div>
              {{#each usage_stats.local_time_blocks as |wday|}}
                <div class="time_block_row">
                  <div class="time_block_left">
                    {{wday.day}}
                  </div>
                  {{#each wday.blocks as |block|}}
                    <div class={{block.style_class}} data-toggle="tooltip" data-placement="top" title={{block.tooltip}}>&nbsp;</div>
                  {{/each}}
                  <div style="clear: left;"></div>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="col-sm-4">
            <div style="margin-top: 30px; max-height: 200px; overflow-y: scroll;">
              <strong>{{t "Weighted Words" key='weighted_words'}}</strong>
              <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
              <br/>
              {{#each usage_stats.weighted_words as |word|}}
                <span class={{word.weight_class}}>{{word.text}}</span>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="row">
          {{#if model.preferences.geo_logging }}
            <div class="col-sm-8">
              <h3>{{t "Locations" key='maps'}}</h3>
              {{#if usage_stats.geo_locations}}
                {{map-with-markers action="marker_link_select"}}
              {{else}}
                <p>{{t "There is not enough data to show geographic locations. Please check back after using CoughDrop a few more times." key='need_more_geo_data'}}</p>
              {{/if}}
            </div>
            <div class="col-sm-4" style="padding-top: 24px; max-height: 350px; overflow: auto;">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>
                      {{t "IP Addresses" key='ip_addresses'}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#if usage_stats.ip_locations}}
                    {{#with this as |controller|}}
                    {{#each usage_stats.ip_locations as |location|}}
                      <tr>
                        <td>
                          <strong>
                            {{#link-to 'user.stats' model.user_name (query-params location_id=location.id)}}
                              {{location.readable_ip_address}}
                            {{/link-to}}
                          </strong><br/>
                          <span class="text-muted" style="padding-left: 10px;">{{t "%{term} sessions" key='session_count' term=location.total_sessions}}</span>
                        </td>
                      </tr>
                    {{/each}}
                    {{/with}}
                  {{else}}
                    <tr>
                      <td>{{t "No data available" key='no_data'}}</td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          {{else}}
            <div class="col-sm-8">
              <h3>{{t "Location-Based Reports" key='location_based_reports'}}</h3>
              <p>{{t "CoughDrop can show awesome map data on how this user is communicating across different locations, but only if geo-logging is enabled. Right now it's turned off, but you can enable it in your preferences." key='geo_logging_disabled'}}</p>
              {{#if model.permissions.edit}}
                <button {{action "enable_geo_logging"}} type="button" class='btn btn-default'>{{t "Enable Geolocation Logging & Reports" key='enable_geo_logging'}}</button>
              {{/if}}
            </div>
          
          {{/if}}
        </div>
        <div class="row">
          <div>
            <div class="col-sm-8">
              <h3>{{t "Activation Heat Map" key='heat_map'}}</h3>
              {{#if usage_stats.max_touches}}
                <canvas id="touch_locations" width="400" height="200" style="width: 100%; height: 300px; border: 1px solid #ccc; background: #eee;"></canvas>
              {{else}}
                <p>{{t "There are no recorded activations or touch events for the current report." key='no_touch_locations'}}</p>
              {{/if}}
            </div>
            <div class="col-sm-2" style="padding-top: 24px; max-height: 350px; overflow: auto;">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>
                      {{t "Devices" key='devices'}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#if usage_stats.devices}}
                    {{#each usage_stats.devices as |device|}}
                      <tr>
                        <td>
                          <strong>
                            {{#link-to 'user.stats' model.user_name (query-params device_id=device.id)}}
                              {{device.name}}
                            {{/link-to}}
                          </strong><br/>
                          <span class="text-muted" style="padding-left: 10px;">{{t "%{term} sessions" key='session_count' term=device.total_sessions}}</span>
                        </td>
                      </tr>
                    {{/each}}
                  {{else}}
                    <tr>
                      <td>{{t "No data available" key='no_data'}}</td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">
            {{#link-to 'user.logs' model.user_name (query-params start=usage_stats.start_date_field end=usage_stats.end_date_field location_id=controller.location_id device_id=controller.device_id type='session') class='btn btn-default'}}
              {{t "Log Entries for this Report" key='log_entries_for_report'}}
            {{/link-to}}
          </div>
        </div>
      {{/if}}
    {{else}}
      {{#if stats_error}}
        {{t "Reports failed to load" key='reports_failed_to_load'}}
      {{else}}
        {{t "Loading..." key='loading'}}
      {{/if}}
    {{/if}}
  {{else if model.permissions.edit}}
    <h2>{{t "Usage Reports" key='usage_reports'}}</h2>
    <p>{{t "CoughDrop can generate insightful reports on word frequency, usage by time of day or location, etc., but only if logging is enabled. Right now it's turned off, but you can enable it in your preferences." key='logging_disabled'}}</p>
    <button {{action "enable_logging"}} type="button" class='btn btn-default'>{{t "Enable Communication Logging & Reports" key='enable_logging'}}</button>
  {{else}}
    <h2>{{t "Usage Reports" key='usage_reports'}}</h2>
    <p>{{t "Looks like this user has logging turned off, and you don't have permission to enable it for the user." key='unauthorized_reports'}}</p>
  {{/if}}
{{else}}
  <h2>{{t "Premium Membership Required" key='premium_required'}}</h2>
  <p>
    {{t "CoughDrop is a powerful, flexible communication tool with lots of great features. Some features, including this one, are only available to users who have purchased a premium subscription. Please " key='purchase_subscription_1'}}
    {{#if app_state.feature_flags.subscriptions}}
      {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium subscription" key='purchase_subscription_2'}}{{/link-to}}
    {{else}}
      {{t "purchase a premium subscription" key='purchase_subscription_2'}}
    {{/if}}
    {{t "to support this good cause and to unlock this feature." key='purchase_subscription_3'}}
  </p>
{{/if}}
{{/opening-observer}}