{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "About CoughDrop" key='about_coughdrop'}}
    </h3>
  </div>
  <div class="modal-body">
    <img src={{path "images/logo-big.png"}} style="width: 65px; float: left;" />
    {{#if app_state.currentUser}}
      <p>{{t "Thanks for trying CoughDrop in your web browser! This is a demo you're seeing embedded in a web site, so it's limited to speak mode only, but if you visit the web site you should be able to access your account as usual." key='thanks_coughdrop'}}</p>
    {{else}}
      <p>{{t "Thanks for trying CoughDrop in your web browser! This is a demo you're seeing embedded in a web site, but CoughDrop is a powerful augmentative communication (AAC) app that can run as it's own tab in a browser on a desktop, or be downloaded in app stores on tablets and smartphones. You can sign up for a free trial and see if it will work for you or someone you know!" key='thanks_coughdrop'}}</p>
    {{/if}}
    <div style="margin-top: 20px;">
      <a class='btn btn-lg btn-primary' href="https://www.mycoughdrop.com" target="_blank">{{t "Visit the CoughDrop Web Site" key='visit_coughdrop_website'}}</a>
      <button class='btn btn-lg btn-default' {{action 'close'}}>{{t "Back to the Demo" key='back_to_demo'}}</button>
    </div>
  </div>
{{/modal-dialog}}
