<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "Every voice should be heard" key='every_voice_should_be_heard'}}</h2>
    <p><strong>{{t "Some people are hard to hear" key='some_hard_to_hear'}}</strong>
    {{t "-- through no fault of their own. Many people need the assistance of technology in order for their voices to be heard. Unfortunately, a lot of that technology is hard to use, is hard to configure, and is crazy expensive. CoughDrop is a new AAC app that tries to fix that." key='want_to_fix_that'}}
    </p>
    <p>
    {{t "Why \"CoughDrop\"? Cough drops help you get back the voice you already had, but that maybe people couldn't hear so well. They're cheap and nobody looks at you weird when you use them. We want to help get AAC to that same point by providing affordable, approachable, simple solutions to complex communication needs that work for everyday use." key='why_cough_drop'}}
    </p>
    <h3>{{t "Learn as You Go" key='learn_as_you_go'}}</h3>
    <p>{{t "If you're new to the world of augmentative communication, just about every part of it feels intimidating. How could you possibly know the right words and symbols to pick for an individual's personal needs (and wants, and hopes, and wishes). Not to worry, we work with many different specialists to provide well-researched templates that will get you started. And just as importantly, we provide training resources for parents, caregivers, siblings... everyone involved in supporting an individual deserves to know what's going on and how exactly they can help the communication strategies be successful." key='learn_as_you_go_content_1'}}</p>

    <h3>{{t "Work Offline" key='work_offline'}}</h3>
    <p>{{t "Gathering data and working across devices is great, but there are still plenty of places where you won't have a good Wi-fi connection. CoughDrop stores a user's boards and logs on each device so the user can communicate offline with no interrupts. Everything syncs back up the next time there is an internet connection." key='offline_content_1'}}</p>

    <h3>{{t "Personalization and Sync" key='personalization'}}</h3>
    <p>{{t "Being tied to a single device is risky, especially when you've added lots of your own pictures or moved picture symbols around for personal use. Not only can you possibly lose your data and configuration, but if a screen cracks or a battery dies, you're out of luck until it can be replaced. CoughDrop works across multiple devices and keeps content in sync for you so you don't have to worry." key='personalization_content_1'}}</p>

    <h3>{{t "Create, Share and Reuse" key='create_share'}}</h3>
    <p>{{t "Nobody wants to start from scratch when creating a set of communication boards. CoughDrop lets you easily discover and personalize communication boards created by others. And CoughDrop encourages open licenses of content and symbols, so you don't have to wonder if you're breaking copyright somewhere on accident." key='create_share_content_1'}}</p>
    <p>{{t "CoughDrop is committed to making boards open and reusable. So much so that we started <a href='http://openboardformat.org'>the OpenBoards initiative</a> to work toward a standard file format for importing and exporting boards across all apps and devices, and we use that format as our native import/export format. When we have the freedom to build off of each other's ideas and successes regardless of where they came from, everyone wins." key='open_board_support'}}</p>

    <h3>{{t "Team Coordination" key='coordination'}}</h3>
    <p>{{t "Having to take an individual's communication device away from them in order to program it is a terrible thing, it takes away their voice. CoughDrop lets therapists, specialists, parents and other team members modify the communication set and even log session notes and messages in a place where everyone can benefit from them." key='coordination_content_1'}}</p>

    <h3>{{t "Insights" key='insights'}}</h3>
    <p>{{t "Sometimes it's really hard to know what's working and what's not. Augmentative communication is an ongoing process of modifying and introducing vocabulary, and without good reports it's difficult to be sure what needs to change. CoughDrop can log all communications and provide insightful reports based on time, location and vocabulary that makes it clearer for everyone just where to focus their efforts for the best results." key='insights_content_1'}}</p>

    <h3>{{t "Security" key='security'}}</h3>
    <p>{{t "CoughDrop provides secure communication and storage of all boards, logs and user information. We do not share private information like user data, private boards and usage logs without explicit permission. We take user privacy extremely seriously because, at the end of the day, what we're talking about is potentially recording everything an individual ever says. That kind of information deserves to be protected." key='security_content_1'}}</p>

    <h4 style="margin-top: 50px;">{{t "App Details" key='app_details'}}</h4>
    <p>
      <span class="text-muted" style="margin-left: 20px; font-size: 12px;">
        {{t "app version:" key='version'}} {{app_state.version}}
      </span>
    </p>
    <p>
      <span class="text-muted" style="margin-left: 20px; font-size: 12px;">
        {{t "recognized device:" key='version'}} {{app_state.device_name}}
      </span>
    </p>

    <h4 style="margin-top: 20px;">{{t "Attributions" key='attributions'}}</h4>
    <p>
      <span class="text-muted" style="margin-left: 20px; font-size: 12px;"><a class="text-muted" target="_blank" href="https://www.flickr.com/photos/56155476@N08/6659988251/in/photostream/" style="text-decoration: underline;">splash page photo</a> by Lexie Flickinger / <a class="text-muted" target="_blank" href="https://creativecommons.org/licenses/by/2.0/">CC By</a></span>
    </p>
    <p>
      <span class="text-muted" style="margin-left: 20px; font-size: 12px;"><a class="text-muted" target="_blank" href="http://aactext.org/imagine/" style="text-decoration: underline;">keyboard suggestion word file</a> by <a class="text-muted" href="http://aactext.org/imagine/" target="_blank">aactext.org</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-nd/3.0/">CC By-ND</a></span>
    </p>
    <p>
      <span class="text-muted" style="display: inline-block; margin-left: 20px; font-size: 12px;">
        board icon suggestions by<br/>
        <span style="display: inline-block; margin-left: 20px;">
          <a class="text-muted" href="http://straight-street.org/lic.php" target="_blank">Paxtoncrafts Charitable Trust</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/uk">CC By-SA</a><br/>
          <a class="text-muted" href="http://www.catedu.es/arasaac/condiciones_uso.php" target="_blank">Sergio Palao</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC By-NC-SA</a>
        </span>
      </span>
    </p>
    <p>
      <span class="text-muted" style="display: inline-block; margin-left: 20px; font-size: 12px;">
        symbol sets by<br/>
        <span style="display: inline-block; margin-left: 20px;">
          <a class="text-muted" href="http://www.opensymbols.org" target="_blank">OpenSymbols</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by/3.0">CC By</a><br/>
          <a class="text-muted" href="http://straight-street.org/lic.php" target="_blank">Paxtoncrafts Charitable Trust</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/uk">CC By-SA</a><br/>
          <a class="text-muted" href="http://straight-street.org/lic.php" target="_blank">Paxtoncrafts Charitable Trust</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/uk">CC By-SA</a><br/>
          <a class="text-muted" href="http://portlandlanguagecraft.com/" target="_blank">LanguageCraft</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC By-NC-SA</a><br/>
          <a class="text-muted" href="http://www.sclera.be/en/picto/overview" target="_blank">Sclera</a> / <a class="text-muted" target="_blank" href="http://creativecommons.org/licenses/by-nc/2.0/">CC By-NC</a><br/>
          etc.
        </span>
      </span>
    </p>
    <p>
      <span class="text-muted" style="display: inline-block; margin-left: 20px; font-size: 12px;">
        typefaces by<br/>
        <span style="display: inline-block; margin-left: 20px;">
          <a class="text-muted" href="http://opendyslexic.org/legal/" target="_blank">OpenDyslexic by Bitstream, Inc.</a><br/>
          <a class="text-muted" href="http://kimberlygeswein.com" target="_blank">Architect's Daughter by Kimberly Geswein</a> / <a class="text-muted" opehref="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" target="_blank">OFL</a>
        </span>
      </span>
    </p>
  </div>
</div>
