{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      <span class="glyphicon glyphicon-phone"></span>
      {{t "Add the CoughDrop App" key='add_the_cough_drop_app'}}
    </h3>
  </div>
  <div class="modal-body">
    {{t "CoughDrop works in web browsers on your computer or mobile device, but you can also find it in the app stores listed below. If you're having trouble finding or installing the app, please contact our support team and we can help figure it out." key='app_stores'}}

    <div style='text-align: center; margin: 50px 0;'>
      <a href="https://itunes.apple.com/us/app/coughdrop/id1021384570?ls=1&mt=8">
        <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 50px; margin-top: 5px;"/>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.mycoughdrop.coughdrop">
        <img src={{path "images/google_play.png"}} alt="google play" style="height: 50px; margin-top: 5px;"/>
      </a>
    </div>
    
    {{t "You can also install the web version on mobile devices by hitting share or settings and selecting \"Add to Home Screen\"." key='add_to_home_screen'}}
  </div>
{{/modal-dialog}}
