{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Add Board to Sidebar" key='add_board_to_sidebar'}}
    </h3>
  </div>  
  <div class="modal-body">
    <form class="form-horizontal" {{action 'nothing' on='submit'}}>
      <p>
        {{t "The sidebar is a set of quick links you can use to jump to commonly-used boards other than the home board. It can be useful for school or home-specific board sets, quick phrases, keyboard access, etc." key='sidebar_boards_explanation'}}
      </p>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{t "Board" key='board'}}</label>
        <div class="col-sm-10">
          <p class='form-control-static'>{{model.board.key}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{t "Name" key='name'}}</label>
        <div class="col-sm-10">
          <div style="width: 100px;">
            {{input value=model.board.name class="form-control" id="name" placeholder="Board"}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">{{t "Icon" key='icon'}}</label>
        <div class="col-sm-10">
          {{icon-select selection=model.board.image action=(action (mut model.board.image)) }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <label>
            {{input type='checkbox' checked=model.board.home_lock}}
            {{t "Set as temporary Home when loaded from the sidebar" key='set_home_lock'}}
          </label>
        </div>
      </div>
    </form>

    {{#if model.supervisees}}
      <p>
        {{t "For which user would you like to add <b>%{board_key}</b> as a sidebar board?" key='which_user_set_as_home' board_key=model.board.key}}
      </p>
      {{partial "select-user"}}
    {{/if}}
    
    {{#if error}}
      <p class='text-danger'>{{t "Adding to sidebar failed unexpectedly" key='add_to_sidebar_failed'}}</p>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button {{action "add"}} class="btn btn-primary" disabled={{loading}}>
      {{#if loading}}
        {{t "Adding to Sidebar..." key='adding_to_sidebar'}}
      {{else}}
        {{t "Add Board to Sidebar" key='add_board_to_sidebar'}}
      {{/if}}
    </button>
    <button {{action "close"}} class="btn btn-default" disabled={{loading}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
