<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "Download CoughDrop" key='download_coughdrop'}}</h2>
    <h4>{{t "iOS" key='ios'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <a href="https://itunes.apple.com/us/app/coughdrop/id1021384570?ls=1&mt=8" target="_blank">
          <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 50px; margin-top: 5px;"/>
        </a>
        <p>{{t "Please see <a href='https://itunes.apple.com/us/app/coughdrop/id1021384570?ls=1&mt=8' target='_blank'>listing in the App Store</a>." key='app_store_link'}}</p>
      </div>
    <h4>{{t "Android" key='android'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <a href="https://play.google.com/store/apps/details?id=com.mycoughdrop.coughdrop" target="_blank">
          <img src={{path "images/google_play.png"}} alt="google play" style="height: 50px; margin-top: 5px;"/>
        </a>
        <p>{{t "Please see <a href='https://play.google.com/store/apps/details?id=com.mycoughdrop.coughdrop' target='_blank'>listing in the Google Play Store</a>." key='app_store_link'}}</p>
        </div>
    <h4>{{t "Amazon Kindle" key='amazon_kindle'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <a href="http://www.amazon.com/CoughDrop-Inc-AAC/dp/B01BU8RUEY/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1458589410&sr=1-1" target="_blank">
          <img src={{path "images/amazon.png"}} alt="amazon" style="height: 50px; margin-top: 5px;"/>
        </a>
        <p>{{t "Please see <a href='http://www.amazon.com/CoughDrop-Inc-AAC/dp/B01BU8RUEY/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1458589410&sr=1-1' target='_blank'>listing in the Amazon App Store</a>." key='app_store_link'}}</p>
      </div>
    <h4>{{t "Windows" key='window'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <p>{{t "You can install CoughDrop as a Windows desktop app on your computer or Windows device. CoughDrop on Windows has some eye-tracking integrations that will help it work better with more devices. Please make sure to download the right version for your operating system." key='windows_explainer'}}</p>
        <p><a href="https://s3.amazonaws.com/coughdrop/installer/windows/x64/coughdrop-setup.exe">64-Bit Windows Download</a></p>
        <p><a href="https://s3.amazonaws.com/coughdrop/installer/windows/ia32/coughdrop-setup.exe">32-Bit Windows Download</a></p>
      </div>
    <h4>{{t "Web Browser" key='web_browser'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <img src={{path "images/web_version.svg"}} alt="web version" style="height: 50px; margin-top: 5px;"/>
        <p>{{t "CoughDrop is a web-first application, and should work with many modern web browsers. Some browsers may have quirks that prevent certain features from working, if this happens please let us know. Please consider using Chrome as your default browser if you are running into compatibility issues." key='browser_explainer'}}</p>
      </div>
  </div>
</div>