<div id="within_ember" class={{background_class}}>
<header class={{header_class}}>
  <!-- TODO: add  style="touch-action: none;" but NOT to dropdowns -->
  <div id="inner_header">
  {{#if app_state.speak_mode}}
    <span id="speak">
      <button class="btn btn-default access" id="home_button" {{action "home"}}>
        <span class="sr-only">{{t "Home" key="home"}}</span>
        <span class="glyphicon glyphicon-home button_icon"></span>
        {{#if stashes.temporary_root_board_state}}
          <span class="glyphicon glyphicon-lock" style="float: left; width: 0; height: 0; color: #aaa; margin-top: 15px; margin-left: -5px;" title={{t "Home or Board Lock Set" key='home_or_board_lock_set'}}></span>
        {{else if stashes.sticky_board}}
          <span class="glyphicon glyphicon-lock" style="float: left; width: 0; height: 0; color: #aaa; margin-top: 15px; margin-left: -5px;" title={{t "Board Lock Set" key='board_lock_set'}}></span>
        {{/if}}
      </button>
      {{#unless app_state.empty_board_history}}
        <button class="btn btn-default access skinnier" id="back_button" {{action "back"}}>
          <span class="sr-only">{{t "Back" key="back"}}</span>
          <span class="glyphicon glyphicon-arrow-left button_icon"></span>
        </button>
      {{/unless}}
      <div tabindex="0" id="button_list" class={{button_list_class}} {{ action "vocalize" on="select"}} data-placement="bottom" data-trigger="manual">
        {{#unless app_state.button_list}}
          {{#if app_state.currentUser.preferences.blank_status}}
            <div id="blank_status" class='text-muted'>
              {{time app_state.current_time}}
              {{#if app_state.battery.level}}
                <div class="progress">
                  <div class={{app_state.battery.progress_class}} role="progressbar" aria-valuenow={{app_state.battery.level}} aria-valuemin="0" aria-valuemax="100" style={{app_state.battery.progress_style}}>
                    {{#if app_state.battery.charging}}
                      <span class="glyphicon glyphicon-flash"></span>
                    {{/if}}
                    <span class="sr-only">{{t "%{pct}% battery" key='percent_battery' pct=app_state.battery.level}} {{#if app_state.battery.charging}}{{t "charging" key='charging'}}{{/if}}</span>
                  </div>
                  {{#if app_state.battery.low}}
                    {{#unless app_state.battery.charging}}
                      <span class="glyphicon glyphicon-exclamation-sign" style="margin-top: 2px;"></span>
                    {{/unless}}
                  {{/if}}
                </div>
              {{/if}}
              {{#if app_state.eye_tracking}}
                <div class="eye_status">
                  {{#if app_state}}
                    <span class="glyphicon glyphicon-eye-close"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-eye-open"></span>
                  {{/if}}
                </div>
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}
        {{#with app_state.button_list as |button_list|}}
          {{partial "button-list"}}
        {{/with}}
      </div>
      <button class="btn btn-default undwellable" {{action "speakOptions"}} id="speak_options"><span class="sr-only">{{t "speak options" key='speak_options'}}</span><span class="glyphicon glyphicon-chevron-down"></span></button>
      <button class="btn btn-default access skinnier" id="backspace_button" {{action "backspace"}}>
        <span class="sr-only">{{t "backspace" key='backspace'}}</span>
        <img src="{{path "images/delete.svg"}}"/>
      </button>
      {{#triple-click-listener triple_click='toggle_modeling'}}
        <button class="btn btn-default access" id="clear_button" {{action "clear"}} style='position: relative;'>
          <span class="sr-only">{{t "clear" key='clear'}}</span>
          <span class="glyphicon glyphicon-remove button_icon" style="margin: 5px -5px 0;"></span>
          {{#if app_state.modeling}}
            <div style="position: absolute; bottom: 2px; left: 2px;">
              <span class="glyphicon glyphicon-hand-up"></span>
            </div>
          {{/if}}
        </button>
      {{/triple-click-listener}}
    </span>
  {{else}}
    <span id="nav_header" class='no_beta'>
    <h1 class={{if app_state.currentBoardState 'with_board'}}>
      <a href="#" {{action "index"}}>
        <img src="{{path 'images/logo-big.png'}}" alt="CoughDrop"/>
        <span>
          {{t "COUGHDROP" key="coughdrop"}}
        </span>
        <span class="label label-primary" style="display: none;">{{t "BETA" key='beta'}}</span>
      </a>
    </h1>
    {{#if app_state.currentBoardState.id}}
      {{#unless app_state.edit_mode}}
        <span id="board_id">
          {{#if app_state.current_board_is_home}}
            <img src="https://s3.amazonaws.com/opensymbols/libraries/noun-project/Home-c167425c69.svg" style="height: 30px; width: 30px; vertical-align: bottom;"/>
          {{else}}
            {{#if board.model.image_url}}
              <img src={{board.model.image_url}} style="width: 30px; height: 30px; vertical-align: bottom;"/>
            {{/if}}
          {{/if}}
          {{#if app_state.current_board_in_board_set}}
            <span class="glyphicon glyphicon-align-justify" title={{t "in the user's board set" key='in_board_set'}}></span>
          {{else if app_state.current_board_in_extended_board_set}}
            <span class="glyphicon glyphicon-list" title={{t "in a supervisee's board set" key='in_supervisee_board_set'}}></span>
          {{/if}}

          {{#link-to 'user' app_state.current_board_user_name}}{{app_state.current_board_user_name}}{{/link-to}} /
          {{app_state.current_board_name}}
        </span>
      {{/unless}}
    {{/if}}
    {{#if app_state.empty_header}}
      {{#if persistence.online}}
        <form id="header_search">
          <div style="float: left; margin-right: 4px; width: 150px;">
          {{input type="text" value=searchString enter="searchBoards" class="form-control" placeholder="Search Boards"}}
          </div>
          <button class="btn btn-default" {{action "searchBoards"}}>{{t "Go" key='go'}}</button>
          <div style="clear: left;"></div>
        </form>
      {{/if}}
    {{/if}}
    {{#if app_state.edit_mode}}
      {{#if dragMode}}
        <button class="btn btn-default drag_button" id="edit_clear_button" style="position: relative; width: 300px;">
          {{t "Clear Button" key="clear_button"}}
        </button>
        <button class="btn btn-default drag_button" id="edit_stash_button" style="position: relative; width: 300px;">
          {{t "Copy Button to Stash" key="copy_button_to_stash"}}
        </button>
      {{else}}
        <button class={{no_paint_mode_class}} {{action "noPaint"}}><span class='wide'>{{t "&nbsp;&nbsp;Edit&nbsp;&nbsp;" key="edit"}}</span><span class='skinny glyphicon glyphicon-hand-up'></span></button>
        <span class="dropdown" style="display: inline-block;">
          <button class={{paint_mode_class}} data-toggle="dropdown">
            <span class="wide">{{t "Paint" key="paint"}}</span><span class="skinny glyphicon glyphicon-tint"></span>
            {{#if board.paint_mode}}
              {{{board.paintColor}}}
            {{/if}}
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {{#each swatches as |swatch|}}
              <li role="presentation">
                <a role="menuitem" href="#" tabindex="-1" href="#" {{action "paint" swatch.fill swatch.border swatch.types}}>
                  <span class="swatch" style={{swatch.style}}></span>
                  <span style="width: 70px; overflow: hidden; text-overflow: ellipsis; display: inline-block; vertical-align: top;">{{swatch.color}}</span>
                  {{#if swatch.hint}}
                    <span class="text-muted" style="display: inline-block; vertical-align: top;">({{swatch.hint}})</span>
                  {{/if}}
                </a>
              </li>
            {{/each}}
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" href="#" {{action "paint" "hide"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-minus-sign"></span> {{t "Hide" key="hide"}}</a>
              <a role="menuitem" href="#" tabindex="-1" href="#" {{action "paint" "show"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-ok-sign"></span> {{t "Show" key="show"}}</a>
              <span style="clear: left;"></span>
            </li>
            <li role="presentation" class="text-muted">
              <a role="menuitem" href="#" tabindex="-1" href="#" {{action "paint" "close"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-remove-sign"></span> {{t "De-Link" key="close"}}</a>
              <a role="menuitem" href="#" tabindex="-1" href="#" {{action "paint" "open"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-plus-sign"></span> {{t "Re-Link" key="open"}}</a>
              <span style="clear: left;"></span>
            </li>
          </ul>
        </span>
        <span class="wide_placeholder" style="padding-right: 10px;"></span>
        <button class="btn btn-default wide" {{action "undoEdit"}} disabled={{board.noUndo}}><span class="wide">{{t "Undo" key="undo"}}</span><span class="skinny glyphicon glyphicon-backward"></span></button>
        <button class="btn btn-default wide" {{action "redoEdit"}} disabled={{board.noRedo}}><span class="wide">{{t "Redo" key="redo"}}</span><span class="skinny glyphicon glyphicon-forward"></span></button>
        <span class="dropdown" style="display: inline-block;">
          <button class="btn btn-default" data-toggle="dropdown"><span class="wide">{{t "Grid +/-" key="grid_plus_minus"}}</span><span class="skinny glyphicon glyphicon-th"></span></button>
          <ul class="dropdown-menu skinny_grid" role="menu" aria-labelledby="dLabel">
            <li role="presentation" id="grid_menuitem">
              <span style="display: block; width: 300px; height: 200px; position: relative;">
                <span style="position: absolute; top: 0px; left: 0; width: 100%; text-align: center;">
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">{{t "Top Row "key='top_row'}}</span></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "row" "top"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Top Row" key='add_top_row'}}</span></a>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "row" "top"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Top Row" key='remove_top_row'}}</span></a>
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-up"></span></span>
                </span>
                <span style="position: absolute; top: 53px; width: 50%; right: 0; text-align: right; line-height: 45px;">
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "column" "right"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Right Column" key='add_right_column'}}</span></a>
                  <span class="glyphicon glyphicon-chevron-right"></span><br/>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "column" "right"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Right Column" key='remove_right_column'}}</span></a>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </span>
                <span style="position: absolute; top: 53px; width: 50%; left: 0; text-align: left; line-height: 45px;">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "column" "left"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Left Column" key='add_left_column'}}</span></a><br/>
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "column" "left"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Left Column" key='remove_left_column'}}</span></a>
                </span>
                <span style="position: absolute; top: 160px; left: 0; width: 100%; text-align: center;">
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">{{t "Bottom Rowx" key='bottom_row'}}</span></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "row" "bottom"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Bottom Row" key='add_bottom_row'}}</span></a>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "row" "bottom"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Bottom Row" key='remove_bottom_row'}}</span></a>
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-down"></span></span>
                </span>
              </span>
            </li>
          </ul>
        </span>
        <span class="dropdown" style="display: inline-block;">
          <button class="btn btn-default" data-toggle="dropdown"><span class="wide">{{t "More" key="more"}}</span><span class="skinny glyphicon glyphicon-wrench"></span> <span class='caret'></span></button>
          <ul class="dropdown-menu skinny_right" role="menu" aria-labelledby="dLabel">
            <li role="presentation" class={{undo_class}}>
              <a role="menuitem" href="#" tabindex="-1" {{action "undoEdit"}}>{{t "Undo" key="undo"}}</a>
            </li>
            <li role="presentation" class={{redo_class}}>
              <a role="menuitem" href="#" tabindex="-1" {{action "redoEdit"}} disabled="true">{{t "Redo" key="redo"}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" {{action "editBoardDetails"}}>{{t "Edit Details" key="edit_details"}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" {{action "openButtonStash"}}>{{t "Button Stash" key="button_stash"}}</a>
            </li>
            <li role="presentation really_skinny">
              <a role="menuitem" href="#" tabindex="-1" {{action "saveBoard"}}>{{t "Save Board" key="save_board"}}</a>
            </li>
            <li role="presentation really_skinny">
              <a role="menuitem" href="#" tabindex="-1" {{action "resetBoard"}}>{{t "Cancel Changes" key="cancel_changes"}}</a>
            </li>
          </ul>
        </span>
        <span class="not_really_skinny">
          <button class="btn btn-primary" {{action "saveBoard"}}><span class="wide">{{t "Save" key="save"}}</span><span class="skinny glyphicon glyphicon-floppy-disk"></span></button>
          <button class="btn btn-default" {{action "resetBoard"}}><span class="wide">{{t "Cancel" key="cancel"}}</span><span class="skinny glyphicon glyphicon-remove"></span></button>
        </span>
      {{/if}}
    {{else}}
      {{#if app_state.currentBoardState}}
        <span id="normal_mode">
          {{#unless app_state.empty_board_history}}
            <a class="btn btn-default" href="#" {{action "back"}}>
              <span class="glyphicon glyphicon-arrow-left"></span>
              <span class="hidden">{{t "back" key='back'}}</span>
            </a>
          {{/unless}}
          {{#if app_state.currentBoardState.id}}
            {{#if app_state.speak_mode_possible}}
              {{#if app_state.currentUser.supervisees}}
                <div class="btn-group">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="speak_mode" data-placement="bottom" data-trigger="manual">
                    <span class="wide">{{t "Speak Mode" key="speak_mode"}}</span><span class="skinny real_skinny glyphicon glyphicon-volume-up"></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" {{action "setSpeakModeUser" 'self'}}>{{t "speak as me" key='speak_as_me'}}</a></li>
                    {{#each app_state.currentUser.supervisees as |supervisee|}}
                      <li><a href="#" {{action "setSpeakModeUser" supervisee.id}}>{{t "speak as" key='speak_as'}} {{supervisee.user_name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              {{else}}
                <a class="btn btn-primary" href="#" {{action "toggleSpeakMode"}} id="speak_mode" data-placement="bottom" data-trigger="manual">
                  <span class="wide">{{t "Speak Mode" key="speak_mode"}}</span><span class="skinny real_skinny glyphicon glyphicon-volume-up"></span>
                </a>
              {{/if}}
            {{/if}}
            {{#if app_state.currentUser}}
              {{#if board.model.multiple_copies}}
                <span style="margin-right: -1px;">
                <a href="#" class='btn btn-info' {{action 'list_copies'}}>
                  <span class="wide">{{t "Copies" key="copies"}}</span><span class="skinny real_skinny glyphicon glyphicon-file"></span>
                </a>
                </span>
              {{else if board.model.copy.key}}
                <!-- TODO: no idea why this is necessary -->
                <span style="margin-right: -1px;">
                {{#link-to 'board' board.model.copy.key class='btn btn-info'}}
                  <span class="wide">{{t "My Copy" key="my_copy"}}</span><span class="skinny real_skinny glyphicon glyphicon-file"></span>
                {{/link-to}}
                </span>
              {{else if board.model.original.key}}
                <!-- TODO: no idea why this is necessary -->
                <span style="margin-right: -1px;">
                {{#link-to 'board' board.model.original.key class='btn btn-info'}}
                  <span class="wide">{{t "Original" key="original"}}</span><span class="skinny real_skinny glyphicon glyphicon-certificate"></span>
                {{/link-to}}
                </span>
              {{/if}}

              {{#if board.model.permissions.edit}}
                <a class='btn btn-default not_really_skinny' href="#" {{action "toggleEditMode"}}>
                  <span class="wide">{{t "Edit Board" key="edit_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-pencil"></span>
                </a>
              {{else if app_state.current_board_in_extended_board_set}}
                <a class='btn btn-default not_really_skinny' href="#" {{action "copy_and_edit_board"}}>
                  <span class="wide">{{t "Edit Board" key="edit_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-pencil"></span>
                </a>
              {{else if board.model.for_sale}}
                <a class='btn btn-default not_really_skinny' href="#" {{action "purchase_board"}}>
                  <span class="wide">{{t "Purchase Board" key="purchase_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-usd"></span>
                </a>
              {{else}}
                <a class='btn btn-default not_really_skinny' href="#" {{action "tweakBoard"}}>
                  <span class="wide">{{t "Make a Copy" key="make_copy"}}</span><span class="skinny real_skinny glyphicon glyphicon-file"></span>
                </a>
              {{/if}}
              {{#unless app_state.current_board_is_home}}
                {{#unless app_state.currentUser.preferences.home_board}}
                  <a class="btn btn-default" href="#" {{action "setAsHome"}}>
                    <span class="wide">{{t "Set as Home" key="set_as_home"}}</span><span class="skinny real_skinny glyphicon glyphicon-home"></span>
                  </a>
                {{/unless}}
              {{/unless}}
            {{/if}}
            {{#if app_state.currentUser}}
              <a class='btn btn-default not_really_skinny' href="#" {{action "star"}}>
                <img src={{board.starImage}} alt={{board.starAlt}} style="margin-top: -5px; width: 20px;"/>
                <span class="wide">{{t "Like" key="star"}}</span> <span class="badge">{{board.stars}}</span>
              </a>
            {{else}}
              <span class='btn btn-default not_really_skinny' href="#">
                <img src={{board.starImage}} alt={{board.starAlt}} style="margin-top: -5px; width: 20px;"/>
                <span class="wide">{{t "Like" key="star"}}</span> <span class="badge">{{board.stars}}</span>
              </span>
            {{/if}}
            {{#if board.model.shareable}}
              <a class='btn btn-default' href="#" {{action "shareBoard"}}>
                <span class="wide">{{t "Share" key="share"}}</span><span class="skinny real_skinny glyphicon glyphicon-share"></span>
              </a>
            {{/if}}
            <span class="dropdown" style="display: inline-block;">
              <a class='btn btn-default' href="#" data-toggle="dropdown">
                <span class="wide">{{t "More" key="more"}} <b class="caret"></b></span><span class="skinny real_skinny glyphicon glyphicon-chevron-down"></span>
              </a>
              <ul class="dropdown-menu skinny-right" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" {{action "boardDetails"}}>{{t "Board Details" key="board_details"}}</a>
                </li>
                {{#if app_state.currentUser}}
                  {{#if board.model.permissions.edit}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" {{action "toggleEditMode"}}>{{t "Edit Board" key='edit_board'}}</a>
                    </li>
                  {{/if}}
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" {{action "tweakBoard"}}>{{t "Make a Copy" key="make_copy"}}</a>
                  </li>
                  {{#if app_state.current_board_not_home_or_supervising}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" {{action "setAsHome"}}>{{t "Set as Home Board" key="set_as_home"}}</a>
                    </li>
                  {{/if}}
                  {{#if app_state.feature_flags.custom_sidebar}}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" {{action "add_to_sidebar"}}>{{t "Add to Sidebar" key="add_to_sidebar"}}</a>
                    </li>
                  {{/if}}
                {{/if}}
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" {{action "downloadBoard"}}>{{t "Download Board" key="download_board"}}</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" {{action "printBoard"}}>{{t "Print Board" key="print_board"}}</a>
                </li>
                {{#if board.model.permissions.edit}}
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" {{action "deleteBoard"}}>{{t "Delete Board" key="delete_board"}}</a>
                  </li>
                {{/if}}
              </ul>
            </span>
          {{/if}}
        </span>
      {{/if}}
    {{/if}}
    </span>
  {{/if}}
    <span id="identity" class={{if app_state.speak_mode 'advanced_selection undwellable'}}>
      <span class="dropdown" style="display: inline-block;">
        <a class='btn btn-default' id='identity_button' href="#" data-toggle="dropdown">
          {{#if app_state.currentUser}}
            <img src={{app_state.currentUser.avatar_url_with_fallback}} />
            {{#if session.invalid_token}}
              <span class="label label-danger unread">{{t "!" key='exclaim'}}</span>
            {{else if persistence.syncing}}
              <span class='spinning unread'>
                <span class="glyphicon glyphicon-refresh" style='z-index: 2;'></span>
                <span class="glyphicon glyphicon-refresh" style='color: #fff; position: absolute; left: 2px; top: 2px;'></span>
              </span>
            {{else if persistence.app_needs_update}}
              <span class="label label-danger unread">{{t "!" key='exclaim'}}</span>
            {{else if app_state.currentUser.unread_messages}}
              <span class="label label-danger unread">{{app_state.currentUser.unread_messages}}</span>
            {{/if}}
          {{else}}
            <img src="{{path 'images/settings.png'}}" style="opacity: 0.7; height: 25px; margin: -12px 3px -10px -25px;"/>
          {{/if}}
          {{#if session.isAuthenticated}}
            <span class="user_name">
            {{app_state.currentUser.user_name}}
            </span>
          {{else}}
            <span class="user_name">
              {{t "Not signed in" key='not_signed_in'}}
            </span>
          {{/if}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="right: 0; left: inherit; text-align: left;">
          {{#if app_state.speak_mode}}
            <li role="presentation" class='big'>
              <a href="#" {{action "toggleSpeakMode"}}>{{t "Exit Speak Mode" key="exit_speak_mode"}}</a>
            </li>
            {{#if app_state.embedded}}
              <li class="divider"></li>
              {{#if app_state.full_screen_capable}}
                <li role="presentation">
                  <a href="#" {{action "full_screen"}}>{{t "Full Screen" key="full_screen"}}</a>
                </li>
              {{/if}}
              <li role="presentation">
                <a href="#" {{action "about_modal"}}>{{t "About CoughDrop" key="about_coughdrop"}}</a>
              </li>
              <li><a href="#" {{action "find_button"}}>{{t "Find a Button" key='find_a_button'}}</a></li>
            {{/if}}
            {{#unless app_state.superProtectedSpeakMode}}
              {{#if session.isAuthenticated}}
                <li class="divider"></li>
              {{/if}}
            {{/unless}}
          {{/if}}
          {{#if session.invalid_token}}
            <li role="presentation">
              <a href="#" {{action "invalidateSession"}}>
                <span class='label label-danger'>{{t "!" key='exclaim'}}</span>
                {{t "Please Re-Login" key="please_relogin"}}
              </a>
            </li>
          {{else if persistence.app_needs_update}}
            <li role="presentation">
              <a href="#" {{action "confirm_update"}}>
                <span class='label label-danger'>{{t "!" key='exclaim'}}</span>
                {{t "Update Available" key="update_available"}}
              </a>
            </li>
          {{/if}}
          {{#if app_state.speak_mode}}
            {{#if app_state.sidebar_relegated}}
              <li><a href="#" {{action "toggleSidebar"}}>{{t "Show Sidebar" key='show_sidebar'}}</a></li>
            {{/if}}
          {{/if}}
          {{#unless app_state.limited_speak_mode_options}}
            {{#if session.isAuthenticated}}
              <li class="dropdown-header">{{app_state.currentUser.name}}</li>
              {{#unless app_state.index_view}}
                <li role="presentation">
                  {{#link-to "index"}}{{t "Home" key='home'}}{{/link-to}}
                </li>
              {{/unless}}
              <li role="presentation">
                {{#link-to "user" app_state.currentUser.user_name}}{{t "My Account" key='my_account'}}{{/link-to}}
              </li>
            {{else}}
              {{#unless app_state.index_view}}
                <li role="presentation">
                  {{#link-to "index"}}{{t "Home" key='home'}}{{/link-to}}
                </li>
              {{/unless}}
            {{/if}}
          {{/unless}}
          {{#unless app_state.superProtectedSpeakMode}}
            {{#if app_state.speak_mode}}
              {{#if app_state.feature_flags.enable_all_buttons}}
                <li><a href="#" {{action 'toggle_all_buttons'}}>
                  <span class="glyphicon glyphicon-apple"></span>
                  {{#if stashes.all_buttons_enabled}}
                    {{t "Hide Hidden Buttons" key='hide_disabled_buttons'}}
                  {{else}}
                    {{t "Show Hidden Buttons" key='show_all_buttons'}}
                  {{/if}}
                </a></li>
              {{/if}}
            {{/if}}
            {{#if app_state.sessionUser.supervisees}}
              {{#if app_state.speak_mode}}
                <li><a href="#" {{action "switch_communicators"}}>{{t "Switch Communicators" key='switch_communicators'}}</a></li>
              {{/if}}
            {{/if}}
            {{#if app_state.currentBoardState}}
              <li><a href="#" {{action "find_button"}}>{{t "Find a Button" key='find_a_button'}}</a></li>
            {{/if}}
            {{#if session.isAuthenticated}}
              {{#if app_state.currentBoardState}}
                {{#if app_state.speak_mode}}
                    <!--li><a href="#" {{action "startRecording"}}>{{t "Recording (not yet)" key='start_recording'}}</a></li-->
                  {{#if stashes.sticky_board}}
                    <li><a href="#" {{action "toggle_sticky_board"}}>{{t "Release Board Lock" key='release_board_lock'}}</a></li>
                  {{else}}
                    <li><a href="#" {{action "toggle_sticky_board"}}>{{t "Stay on this Board" key='stay_on_board'}}</a></li>
                  {{/if}}
                  {{#if stashes.temporary_root_board_state}}
                    <li><a href="#" {{action "toggle_home_lock"}}>{{t "Release Home Lock" key='release_home_lock'}}</a></li>
                  {{else}}
                    {{#unless app_state.current_board_is_speak_mode_home}}
                      <li><a href="#" {{action "toggle_home_lock"}}>{{t "Set As Temporary Home" key='temporary_home'}}</a></li>
                    {{/unless}}
                  {{/if}}
                  {{#if app_state.currentUser.preferences.logging}}
                    {{#if app_state.logging_paused}}
                      <li><a href="#" {{action "toggle_pause_logging"}}>{{t "Resume Logging" key='resume_logging'}}</a></li>
                    {{else}}
                      <li><a href="#" {{action "toggle_pause_logging"}}>{{t "Pause Logging" key='pause_logging'}}</a></li>
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/unless}}
          {{#unless app_state.limited_speak_mode_options}}
            {{#if session.isAuthenticated}}
              {{#unless app_state.speak_mode}}
                <li>{{#link-to "search" "_"}}{{t "Find Board" key='find_board'}}{{/link-to}}</li>
                <li><a href="#" {{action "newBoard"}}>{{t "Create a New Board" key='create_a_new_board'}}</a></li>
              {{/unless}}
              <li>{{#link-to 'user.preferences' app_state.currentUser.user_name}}{{t "Preferences" key='preferences'}}{{/link-to}}</li>
              <li>{{#link-to 'user.logs' app_state.currentUser.user_name (query-params type='note')}}
                {{#if app_state.currentUser.unread_messages}}
                  <span class="label label-danger" style="border-radius: 5px;">{{app_state.currentUser.unread_messages}}</span>
                {{/if}}
                {{t "Messages" key='messages'}}
              {{/link-to}}</li>
              {{#if session.as_user_id}}
                <li><a href="#" {{action "stopMasquerading"}}>{{t "Stop Masquerading" key='stop_masquerading'}}</a></li>
              {{/if}}
              {{#unless app_state.speak_mode}}
                <li><a href="#" {{action "invalidateSession"}}>{{t "Sign Out" key='logout'}}</a></li>
              {{/unless}}
            {{else}}
              <li role="presentation">
                <a href="#" {{action "authenticateSession"}}>{{t "Sign In" key="login"}}</a>
              </li>
              {{#unless app_state.no_linky}}
              <li role="presentation">
                {{#link-to "register"}}{{t "Register" key="register"}}{{/link-to}}
              </li>
              {{/unless}}
            {{/if}}
          {{/unless}}
        </ul>
      </span>
    </span>
  </div>
</header>
<div id="content" class={{content_class}}>
  {{ outlet }}
</div>
{{#if app_state.sidebar_visible}}
  <div id="sidebar" style={{sidebar_style}} class="advanced_selection">
    {{#unless app_state.currentUser.preferences.quick_sidebar}}
      <span style="margin: 5px; text-align: right; white-space: nowrap;">
        {{#if app_state.currentUser}}
          <button class='btn btn-default' style="width: 50%;" {{action "stickSidebar"}}><span class="glyphicon glyphicon-pushpin"></span></button>
          <button class='btn btn-default' style="width: calc(50% - 14px); padding-left: 0; padding-right: 0;" {{action "toggleSidebar"}}>&times;</button>
        {{else}}
          <button class='btn btn-default' style="width: 90%;" {{action "toggleSidebar"}}>&times; {{t "Hide" key='hide'}}</button>
        {{/if}}
      </span>
    {{/unless}}
    {{#each app_state.sidebar_boards as |board|}}
      {{#if board.alert}}
        <a href="#" {{action 'alert' 'sidebar'}} class='sidebar_item'>
          <span class="glyphicon glyphicon-bullhorn"></span>
          <img src={{board.image}} class='pic' alt=""/>
          {{board.name}}
        </a>
      {{else}}
        <a href={{board.key}} class='sidebar_item' {{action 'jump' board.key 'sidebar' board}} data-key={{board.key}}>
          {{#if board.home_lock}}
            <span class="glyphicon glyphicon-home"></span>
          {{/if}}
          {{#if board.fenced}}
            <span class="glyphicon glyphicon-map-marker"></span>
          {{/if}}
          <img src={{board.image}} class='pic' alt=""/>
          {{board.name}}
        </a>
      {{/if}}
    {{/each}}
    {{#if app_state.currentUser.preferences.quick_sidebar}}
      {{#unless app_state.currentUser.preferences.lock_quick_sidebar}}
        <span style="margin: 5px; text-align: right;">
          <button class='btn btn-default' style="width: 90px; margin-bottom: 5px; " {{action "stickSidebar"}}>Hide</button>
        </span>
      {{/unless}}
    {{/if}}
  </div>
{{else}}
  {{#if app_state.speak_mode}}
    {{#unless app_state.currentUser.preferences.disable_quick_sidebar}}
      {{#unless app_state.sidebar_relegated}}
        <div id="sidebar_tease" class="advanced_selection" {{action "toggleSidebar"}}>
          {{#if app_state.fenced_sidebar_board}}
            <span class='glyphicon glyphicon-map-marker' style='font-size: 20px; vertical-align: middle;'></span>
          {{/if}}
          {{t "sidebar" key='sidebar'}}
        </div>
      {{/unless}}
    {{/unless}}
  {{/if}}
{{/if}}

{{outlet 'modal'}}
{{outlet 'flash-message'}}
{{#if footer}}
  {{partial 'footer'}}
{{/if}}
{{#unless app_state.testing}}
  {{#unless app_state.installed_app}}
    <iframe style="visibility: hidden; height: 0; position: absolute;" src="/cache"></iframe>
  {{/unless}}
{{/unless}}
</div>
{{button-tracker}}