{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{#if model.badge.earned}}
        {{t "Badge Awarded!" key='badge_awarded'}}
      {{else}}
        {{t "Badge In Progress" key='badge_in_progress'}}
      {{/if}}
    </h3>
  </div>
  <div class="modal-body">
    <div style='text-align: center;'>
      {{#if model.badge.earned}}
        <div class='medal-holder'>
          <div class='medal'>
            <img src={{model.badge.image_url}} style='width: 200px;'/>
            <div class='sparkle'>&#10022;</div>
          </div>
          <div class="medal-ribbon">
            <div style="width: 34px;height: 0;border-left: 11px solid transparent;border-right: 11px solid transparent;border-top: 111px solid #444;top: 0;left: 0;transform: rotate(-33deg) translate(44px,24px);position: absolute;"></div>
            <div style="width: 30px;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 112px solid red;top: 0;left: 0;transform: rotate(-33deg) translate(46px,27px);position: absolute;"></div>
            <div style="width: 35px;height: 0;border-left: 11px solid transparent;border-right: 11px solid transparent;border-top: 111px solid #444;top: 0;left: 0;transform: rotate(36deg) translate(96px,-72px);position: absolute;"></div>
            <div style="width: 30px;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 112px solid red;top: 0;left: 0;transform: rotate(36deg) translate(98px,-72px);position: absolute;"></div>
          </div>
          <div class='medal-hanger'>
            <div style='border: 2px solid #444; background: #ff0; width: 30px; height: 30px; border-radius: 15px; position: absolute; top: 95px; left: 85px;'></div>
          </div>
        </div>
        {{#if model.badge.sound_url_with_fallback}}
          <audio src={{model.badge.sound_url_with_fallback}} autoplay='true' />
        {{/if}}
      {{else}}
        <div>
          <img src={{model.badge.image_url}} style='width: 200px;'/>
        </div>
      {{/if}}
      <div style='font-weight: bold; font-size: 30px;'>{{model.badge.name}}</div>
      {{#if model.badge.level}}
        <div style='color: #888; font-size: 16px;'>{{t "Level %{n}" n=model.badge.level key='level_n'}}</div>
      {{/if}}
      {{#if model.badge.earned}}
        <div style='color: #888;'>
          {{t "earned " key='earned'}}
          {{date model.badge.earned 'short_day'}}
        </div>
      {{else}}
        <div style='color: #888; font-size: 14px; margin-top: 10px;'>
          {{#if model.badge.progress}}
            {{model.badge.time_left}}
          {{/if}}
        </div>
        <div style='width: 150px; margin: 0 auto;'>
          <div class="progress" style="border: 1px solid #aaa;height: 15px;">
            <div class="progress-bar" role="progressbar" aria-value={{model.badge.progress_out_of_100}} aria-valuemin="0" aria-valuemax="100" style={{model.badge.progress_style}}>
              <span class="sr-only">
                {{t "%{pct}% Complete" key='percent_complete' pct=model.badge.progress_out_of_100}}
              </span>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if model.badge.completion_explanation}}
        <div style='font-size: 14px; margin: 10px auto; max-width: 300px;'>
          <span style='color: #888;'>
            {{#if model.badge.earned}}
              {{t "To earn this badge, the user had to:" key='to_earn_user_had_to'}}<br/>
            {{else}}
              {{t "To earn this badge, the user needs to:" key='to_earn_user_needs_to'}}<br/>
            {{/if}}
          </span>

          {{model.badge.completion_explanation}}
        </div>
      {{/if}}
    </div>
    {{#if model.badge.earned}}
      {{#each confettis as |confetti|}}
        <div class='confetti' style={{confetti.style}}></div>
      {{/each}}
    {{/if}}
  </div>
  <div class="modal-footer">
    <button {{action "close"}} class="btn btn-lg btn-default">{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}
