<span style='display: block;' title={{board.long_preview}}>
    <span class="icon" style='display: block;'>
      <img src={{board.icon_url_with_fallback}} onerror="button_broken_image(this);"/>
    </span>
    <span style="display: block; height: 50px">
      <span style="color: #666; padding-left: 8px; display: block;">
        {{board.grid.rows}} x {{board.grid.columns}}
      </span>
      {{#if board.unlinked_buttons}}
        <span style="color: #888; padding-left: 8px; display: block;">
          <span class="glyphicon glyphicon-th"></span>
          {{board.unlinked_buttons}}
        </span>
      {{/if}}
      <span style="color: #222; padding-left: 8px; display: block;">
        <span class="glyphicon glyphicon-star"></span>
        {{board.stars}}
      </span>
    </span>
    <span style="display: block; clear: both;"></span>
</span>
<span class="names" title={{board.long_preview}}>
  <span class="name">
    {{#unless board.public}}<span class="glyphicon glyphicon-lock"></span>{{/unless}}
    {{board.name}}
  </span><br/>
  <span class="labels">{{board.labels}}</span>
</span><br/>
<span class="user_name">{{board.user_name}}</span><br/>
