{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Board Details" key='board_details'}}
</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>{{t "Name" key='name'}}</dt>
        <dd>{{model.name}}</dd>
      <dt>{{t "Description" key='description'}}</dt>
        <dd style="white-space: pre-line;">{{model.description}}</dd>
      <dt>{{t "Created" key='created'}}</dt>
        <dd>{{date model.created 'day'}}</dd>
      <dt>{{t "Last Updated" key='updated'}}</dt>
        <dd>{{date model.updated 'day'}}</dd>
      {{#if model.locale}}
        <dt>{{t "Language" key='language'}}</dt>
          <dd>{{language}}</dd>
      {{/if}}
      {{#if model.parent_board_key}}
        <dt>{{t "Copied From" key='copied_from'}}</dt>
        <dd>
          {{#link-to 'board' model.parent_board_key}}{{model.parent_board_key}}{{/link-to}}
        </dd>
      {{/if}}
      <dt>{{t "Public" key='public'}}</dt>
        <dd>
        {{#if model.public}}
          {{t "Anyone can see this board" key='anyone_can_see'}}
        {{else}}
          {{t "This board is private" key='this_board_is_private'}}
        {{/if}}
        </dd>
      {{#if model.word_suggestions}}
        <dt>{{t "Suggestions" key='suggestions'}}</dt>
        <dd>{{t "Shows word completion suggestions" key='shows_word_completion_suggestions'}}</dd>
      {{/if}}

      <dt>{{t "License" key='license'}}</dt>
        <dd>
          {{license-attribution license=model.license}}
        </dd>
      <dt>{{t "People Using" key='people_using'}}</dt>
        <dd>
          {{model.non_author_uses}}
          <a href="#" {{action 'boardStats'}}>{{t "more info" key='more_info'}}</a>
        </dd>
      {{#unless model.fresh}}
        <dt>{{t "Local Result" key='local_result'}}</dt>
          <dd>{{t "retrieved from local storage" key='retrieved_from_local'}}</dd>
      {{/unless}}
      <dt>{{t "Dimensions" key='dimensions'}}</dt>
        <dd>{{model.grid.rows}} x {{model.grid.columns}}</dd>
      <dt>{{t "Connected Boards" key='connected_boards'}}</dt>
        <dd>
          {{model.downstream_boards}}
        </dd>
      <dt>{{t "Total Unlinked Buttons" key='unlinked_buttons'}}</dt>
        <dd>
          {{model.unlinked_buttons}}
          {{#if model.button_set}}
            <a href="#" {{action 'button_set_words'}}>{{t "see full button list" key='button_list'}}</a>
          {{/if}}
        </dd>
      <dt>{{t "Likes" key='stars'}}</dt>
        <dd>
          {{model.stars}}
        </dd>
    </dl>
    {{#if hierarchy}}
      <dl class="dl-horizontal" style="margin-top: 20px;">
        <dt>{{t "Linked Boards" key='linked_boards'}}</dt>
        <dd>
          {{#if hierarchy.loading}}
            {{t "Loading linked boards..." key='loading_linked_boards'}}
          {{else if hierarchy.error}}
            {{t "There was an error trying to retrieve linked boards" key='error_getting_linked_boards'}}
          {{else}}
            <div style='margin-top: -15px;'>
              {{board-hierarchy hierarchy=hierarchy}}
            </div>
          {{/if}}
        </dd>
      </dl>
    {{/if}}
    <dl class="dl-horizontal" style="margin-top: 50px;">
      <dt>{{t "Additional Licenses" key='additional_license'}}</dt>
        <dd>
          {{#unless showing_licenses}}
            <a href="#" {{action "show_licenses"}}>{{t "show additional licenses" class='show_additiona'}}</a>
          {{else}}
            <ul class="list-unstyled">
            {{#each images_with_license as |image|}}
              <li><img src={{image.url}} alt={{image.filename}} title={{image.filename}} style="width: 30px;"/>
              {{license-attribution license=image.license}}
              </li>
            {{/each}}
            {{#each sounds_with_license as |sound|}}
              <li>
                <strong>{{sound.filename}}</strong><br/>
                <audio controls src={{sound.url}} style="width: 100%;"></audio><br/>
                <span style="padding-left: 20px;">
                  {{license-attribution license=sound.license}}
                </span>
              </li>
            {{/each}}
            </ul>
          {{/unless}}
        </dd>
    </dl>
    {{#if model.permissions.edit}}
      {{#if app_state.feature_flags.translation}}
        <button class='btn btn-default' {{action 'translate'}}>{{t "Translate this Board" key='translate_this_board'}}</button>
        <button class='btn btn-default' {{action 'swap_images'}}>{{t "Swap Images for this Board" key='swap_images_for_this_board'}}</button>
      {{/if}}
    {{/if}}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
