<form class="form-horizontal" {{action 'nothing' on='submit'}}>
<div class={{if pictureState 'active' 'hidden'}}>
  <div style="margin-bottom: 10px;" class="options">
    <span class="picture_search_field">
      {{input id='find_picture' value=model.image_field enter="find_picture" placeholder="URL or search term" class="form-control inline"}}
    </span>
    <button type="button" class='btn btn-default' {{action "find_picture"}}>{{t "Search" key='search'}}</button>
    <button type="button" {{action "webcamPicture" on="click"}} disabled={{webcam_unavailable}} class="btn btn-default">
      <img src="{{path 'images/camera.svg'}}" style="height: 42px; margin: -13px;" alt="take a picture"/>
    </button>
    <span class="file_select_holder">
      <button type="button" class='btn btn-default'>
        <img src="{{path 'images/upload.svg'}}" style="height: 30px; margin: -10px -6px -6px;" alt="upload"/>
      </button>
      <input type="file" name="image_upload" id="image_upload" accept="image/*"/>
    </span>
  </div>
  {{#if show_libraries}}
    {{#if image_libraries}}
      <div style='float: left; width: 55px; font-size: 12px;'>{{t "Library: " key='library'}}</div>
      <div style='margin-top: -5px; width: 200px; float: left;'>
        {{bound-select select_class="form-control" select_id="image_library" short=true content=image_libraries selection=image_library action=(action (mut image_library)) }}
      </div>
      <div style="clear: left;"></div>
    {{else}}
      <div style='float: left; width: 255px; font-size: 12px;'>{{t "Library: opensymbols.org" key='library_open_symbols'}}</div>
    {{/if}}
  {{/if}}

  <div style="text-align: center;" class={{if webcam 'shown' 'hidden'}}>
    <video autoplay id="webcam_video" {{action "webcamToggle" true}} class={{webcam_class}}></video>
    <canvas id="webcam_canvas" style="display:none;" width="800" height="800"></canvas>
    {{#unless webcam.snapshot}}
      <br/>
      <button type="button" class='btn btn-primary' {{action "webcamToggle" true}}>{{t "Take Pic" key='take_pic'}}</button>
      {{#if webcam.video_streams}}
        <button type="button" class='btn btn-default' {{action "swapStreams"}}>{{t "Switch Views" key='switch_cameras'}}</button>
      {{/if}}
      <button type="button" class='btn btn-default' {{action "clearImageWork"}}>{{t "Cancel" key='cancel'}}</button>
    {{/unless}}
  </div>

  {{#if image_preview}}
    {{#if image_preview.error}}
      {{image_preview.error}}
      <div style='margin-top: 10px;'>
        <button type="button" class='btn btn-default' {{action "clearImageWork"}}>{{t "Cancel" key='cancel'}}</button>
      </div>
    {{else}}
      <div style="text-align: center;">
        {{#if image_preview.word_editor}}
          <iframe src="https://www.opensymbols.org/word_maker#embed" style="width: 100%; height: 225px;" frameborder="0"></iframe>
        {{else if image_preview.editor}}
          <iframe src="https://opensymbols.herokuapp.com/editor#embed" style="width: 100%; height: 225px;" frameborder="0"></iframe>
        {{else}}
          <img src={{image_preview.url}} class="button_image"/>
        {{/if}}
        <div style="margin-top: 10px;">
          {{pick-license license=image_preview.license}}
        </div>
        <div style="margin-top: 10px;">
          <button type="button" class='btn btn-primary' {{action "select_image_preview"}}>{{t "Use This" key='use_this'}}</button>
          {{#unless image_preview.editor}}
            <button type="button" class='btn btn-default' {{action "edit_image_preview"}}>{{t "Edit" key='edit'}}</button>
          {{/unless}}
          {{#if stream}}
            <button type="button" class='btn btn-default' {{action "webcamToggle" false}}>{{t "Try Again" key='try_again'}}</button>
          {{/if}}
          {{#if image_search.previews}}
            <button type="button" class='btn btn-default' {{action "clear_image_preview"}}>{{t "Back to List" key='back_to_list'}}</button>
          {{/if}}
          <button type="button" class='btn btn-default' {{action "clearImageWork"}}>{{t "Cancel" key='cancel'}}</button>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{#if image_search.error}}
      {{image_search.error}}
      <div style='margin-top: 10px;'>
        <button type='button' class='btn btn-default' {{action 'word_art'}}>{{t "Make Word Art" key='make_word_art'}}</button>
        <button type="button" class='btn btn-default' {{action "clearImageWork"}}>{{t "Cancel" key='cancel'}}</button>
      </div>
    {{else}}
      {{#if image_search.previews}}
        <div style="margin: 10px 0 10px 0;">
          {{#each image_search.previews as |image|}}
            <img src={{image.image_url}} {{action "pick_preview" image}} style="height: 50px; max-width: 100px; border: 1px solid #ccc; padding: 1px; margin-bottom: 4px;"/>
          {{/each}}
        </div>
        <button type='button' class='btn btn-default' {{action 'word_art'}}>{{t "Make Word Art" key='make_word_art'}}</button>
        <button type="button" class='btn btn-default' {{action "clearImageWork"}}>{{t "Cancel" key='cancel'}}</button>
      {{else if image_search.previews_loaded}}
        {{t "No results found for %{term}" key='no_image_results_for' term=image_search.term}}
      {{else}}
        {{#if image_search.term}}
          {{t "Finding symbols for %{term}..." key='finding_symbols_for' term=image_search.term}}
        {{else}}
          {{#unless webcam}}
            {{#if model.image.url}}
              <div style="text-align: center; margin-bottom: 10px;">
                <img src={{model.image.best_url}} class="button_image"/>
              </div>
              {{pick-license license=model.image.license}}
              <div style="margin-top: 10px;">
                <button type="button" class='btn btn-default' {{action "edit_image"}}>{{t "Edit Image" key='edit_image'}}</button>
                <button type="button" class='btn btn-default' {{action "clear_image"}}>{{t "Clear Image" key='clear_image'}}</button>
              </div>
            {{else}}
              <div style="text-align: center;">
                {{t "No pic" key="no_pic"}}
              </div>
            {{/if}}
          {{/unless}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
</form>