<form class="form-horizontal">
<div class={{if generalState 'active' 'hidden'}}>
  <div class="form-group">
    <label for="label" class="col-sm-2 control-label">{{t "Label" key='label'}}</label>
    <div class="col-sm-10">
      {{input value=model.label class="form-control" id="label"}}
    </div>
  </div>
  <div class="form-group" style='margin-top: -20px;'>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="checkbox">
        <label>
          {{input checked=model.hide_label type="checkbox"}}
          {{t "Hide the label when the picture is shown" key='hide_label'}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="part_of_speech" class="col-sm-2 control-label">{{t "Word" key="part_of_speech"}}</label>
    <div class="col-sm-10">
      {{bound-select select_class="form-control" select_id="part_of_speech" content=parts_of_speech selection=model.part_of_speech action=(action (mut model.part_of_speech)) }}
    </div>
  </div>
  <div class="form-group">
    <label for="fill" class="col-sm-2 control-label">{{t "Fill" key='fill'}}</label>
    <div class="col-sm-10">
      <span {{action "toggle_color" "fill"}} style="display: inline-block; border-width: 3px; border: 2px dotted #ccc; height: 34px; width: 70px; vertical-align: bottom;" class={{fake_button_class}}></span>
      <span class="button_field">
        {{input value=model.background_color class="form-control" id="fill"}}
      </span>
      <br/>
      <em style="font-size: 12px; line-height: 12px;">{{t "You can also color multiple buttons at once with standard color schemes using the Paint button" key='use_paint_button'}}</em>
    </div>
  </div>
  <div class="form-group">
    <label for="border" class="col-sm-2 control-label">{{t "Border" key='border'}}</label>
    <div class="col-sm-10">
      <span {{action "toggle_color" "border"}} id="background_pattern" style="display: inline-block; border-width: 3px; height: 34px; width: 70px; vertical-align: bottom;" class={{fake_button_class}}></span>
      <span class="button_field">
        {{input value=model.border_color class="form-control" id="border"}}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="hidden" class="col-sm-2 control-label">{{t "Hidden" key='hidden'}}</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          {{input checked=model.hidden type="checkbox"}}
          {{t "Hide this button from view" key='hide_this_button'}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-default" {{action "clear_button"}}>{{t "Clear" key='clear'}}</button>
      <button type="button" class="btn btn-default" {{action "swapButton"}}>{{t "Swap With..." key='swap_with'}}</button>
      <button type="button" class="btn btn-default" {{action "stash_button"}}>
        {{#if stashed}}
          <span class="glyphicon glyphicon-check"></span>
          {{t "Copied to Stash" key='copied_to_stash'}}
        {{else}}
          {{t "Copy to Stash" key='copy_to_stash'}}
        {{/if}}
      </button>
    </div>
  </div>
</div>
</form>