<div style={{button.computed_style}} class={{unbound button.computed_class}} data-id={{unbound button.id}} tabindex="0">
  {{#if button.pending}}
    <div class="pending">
      <img src={{path 'images/spinner.gif'}} />
    </div>
  {{/if}}
  <div class={{unbound button.action_class}}>
    <span class="action">
      <img src={{button.action_image}} alt={{unbound button.action_alt}} />
    </span>
  </div>
  <span style={{button.image_holder_style}}>
    {{#unless app_state.currentUser.hide_symbols}}
      <img src={{button.image.best_url}} onerror="button_broken_image(this);" style={{button.image_style}} class="symbol">
    {{/unless}}
  </span>
  {{#if button.sound}}
    <audio style="display: none;" preload="auto" src={{button.sound.best_url}} rel={{unbound button.sound.url}}></audio>
  {{/if}}
  <div class={{button_symbol_class}}>
    <span class={{if button.hide_label "button-label hide-label" "button-label"}}>{{unbound button.label}}</span>
  </div>
</div>
