<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "Compare CoughDrop" key='compare_coughdrop'}}</h2>
    <p>{{t "There are lots of communication apps and devices out there, and sometimes it's hard to know what will work well for your communicator. Some apps only run on an iPad and some won't work with hardware or have limited customization. We want to make sure you know everything CoughDrop can offer, so we've put together the comparison chart below." key='compare_notes'}}</p>
    <table class='compare table table-striped table-hover'>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th style='text-align: center;'>{{t "CoughDrop" key='coughdrop'}}</th>
          <th style='text-align: center;'>{{t "iOS Apps" key='most_ios_apps'}}</th>
          <th style='text-align: center;'>{{t "Windows Apps" key='windows_apps'}}</th>
          <th style='text-align: center;'>{{t "Dedicated Devices" key='dedicated_devices'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="5">{{t "Common Features" key='common_features'}}</th>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Core Vocabulary Starters" key='core_board_templates'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Keyboard With Word Prediction" key='keyboard_with_word_prediction'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Custom Boards" key='custom_boards'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Upload Your Own Images/Sounds" key='upload_images_sounds'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Premium Voices" key='premium_voices'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Symbol Library" key='premium_voices'}}</td>
          <td><span style='color: #888; font-size: 20px;'>{{t "opensymbols.org" key='opensymbols.org'}}</span></td>
          <td><span style='color: #888; font-size: 20px;'>{{t "SymbolStix" key='symbolstix'}}</span></td>
          <td><span style='color: #888; font-size: 20px;'>{{t "SymbolStix, PCS, Widgit, etc." key='symbolstix_etc'}}</span></td>
          <td><span style='color: #888; font-size: 20px;'>{{t "SymbolStix, PCS, Widgit, etc." key='symbolstix_etc'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Social Media Sharing" key='social_media_sharing'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "limited" key='limited'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "limited" key='limited'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Cloud Backup" key='cloud_backup'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Multi-Device Sync" key='multi_device_sync'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Remote Editing" key='remote_editing'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "via USB drive" key='via_usb_drive'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "via USB drive" key='via_usb_Drive'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Share Boards With Other Users" key='share_boards'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "public only" key='public_only'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "public only" key='public_only'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Built-In Usage Reports" key='built_in_usage_reports'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "limited" key='limited'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "limited" key='limited'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "limited or extra fee" key='limited_or_for_a_fee'}}</span></td>
        </tr>
        <tr>
          <th colspan="5">{{t "Supported Devices" key='supported_devices'}}</th>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "iPad" key='ipad'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "iPhone" key='iphone'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "sort of" key='sort_of'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Windows Tablet" key='windows_tablet'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Any Windows Computer" key='any_windows_computer'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Android Tablet" key='android_tablet'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Android Phone" key='android_phone'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Amazon Kindle" key='amazon_kindle'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Chromebook" key='chromebook'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Web Browser" key='web_browser'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
        </tr>
        <tr>
          <th colspan="5">{{t "Supported Peripherals" key='supported_peripherals'}}</th>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Bluetooth Switch" key='bluetooth_switch'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span style='color: #880; font-size: 20px;'>{{t "not always" key='not_always'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Plug-in Switch" key='plug_in_switch'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Head Mouse" key='head_mouse'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
        <tr>
          <td style='padding-left: 20px; white-space: nowrap;'>{{t "Eye Tracker" key='eye_tracker'}}</td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-remove' style='color: #800; font-size: 30px;'></span><span class='sr-only'>{{t "no" key='no'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
          <td><span class='glyphicon glyphicon-ok' style='color: #080; font-size: 30px;'></span><span class='sr-only'>{{t "yes" key='yes'}}</span></td>
        </tr>
      </tbody>
    </table>
    <p>{{t "As you can see, we're pretty proud of everything CoughDrop can do. We wanted to build something that could stay with communicators as their needs develop and change over time, so there are a lot of customizations built-in to help support the needs of each individual." key='proud_of_features'}}</p>
    {{#if app_state.currentUser}}
      <p>{{t "Excited by what you see? Please share CoughDrop with others to help spread the good word!" key='please_share_coughdrop'}}</p>
    {{else}}
      <p>
        {{t "Ready to try it out yourself?" key='read_to_try_it_out'}}
        {{#link-to 'register'}}{{t "Sign up for a CoughDrop account" key='sign_up'}}{{/link-to}}
        {{t "to see how powerful and flexible CoughDrop really is!" key='to_see_coughdrop_for_yourself'}}
      </p>
    {{/if}}
  </div>
</div>