{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Edit this Board" key='edit_this_board'}}</h3>
  </div>
  <div class="modal-body">
    <p>
      {{t "You don't have permission to edit this board directly, but if you'd like you can make changes and then save a copy when you're finished." key='confirm_copy_later'}}
    </p>
  </div>
  <div class="modal-header">
    <button class='btn btn-primary' {{action 'confirm'}}>{{t "Edit a Copy" key='make_a_copy'}}</button>
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
