{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-body">
    {{#if loading}}
      <p>{{t "Removing board..." key='removing board'}}</p>
    {{else if error}}
      <p class='text-danger'>{{t "There was an unexpected error trying to remove this board, please try again" key='error_removing_board'}}</p>
    {{else}}
      <p>
        {{#if delete_action}}
          <span class="glyphicon glyphicon-trash"></span>
          {{t "Are you sure you want to delete this board?" key='confirm_delete_board'}}
        {{else if unstar_action}}
          <span class="glyphicon glyphicon-star-empty"></span>
          {{t "Are you sure you want to unlike this board?" key='confirm_unstar_board'}}
        {{else if unlink_action}}
          <span class="glyphicon glyphicon-remove"></span>
          {{t "Are you sure you want to unlink this board?" key='confirm_unlink_board'}}
        {{else}}
          <span class="glyphicon glyphicon-remove"></span>
          {{t "Are you sure you want to remove this board?" key='confirm_remove_board'}}
        {{/if}}
      </p>
    {{/if}}
    <img src="{{ model.board.icon_url_with_fallback }}" style="width: 40px; float: left; margin-right: 10px;"/>
    <strong>{{model.board.name}}</strong><br/>
    {{model.board.grid.rows}} x {{model.board.grid.columns}}
    <br/><br/>
    <button class='btn btn-primary' {{action 'remove'}}>
      {{#if delete_action}}
        {{t "Delete Board" key='delete_board'}}
      {{else if unstar_action}}
        {{t "Unlike Board" key='unstar_board'}}
      {{else if unlink_action}}
        {{t "Unlink Board" key='unlink_board'}}
      {{else}}
        {{t "Remove Board" key='remove_board'}}
      {{/if}}
    </button>
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}

