{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Copy Board" key='copy_board'}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if error}}
      <p class="text-danger">{{error}}</p>
    {{else if loading}}
      <p>{{t "Loading..." key='loading'}}</p>
    {{else if hierarchy}}
      <p>{{t "Please choose the boards you would like copied. By default all are copied." key='choose_boards_to_copy'}}</p>
      <div style='width: 100%; overflow-x: auto;'>
        <a href="#" {{action 'select_all'}}>{{t "Select All" key='select_all'}}</a> |
        <a href="#" {{action 'toggle_board_hierarchy' 'all' true}}>{{t "Expand All" key='expand_all'}}</a> |
        <a href="#" {{action 'toggle_board_hierarchy' 'all' false}}>{{t "Collapse All" key='collapse_all'}}</a>
        {{#with hierarchy.root as |board|}}
          <div class="board_hierarchy" style='margin-top: 10px;'>
            <ul>
              {{partial "recursive-board"}}
            </ul>
          </div>
        {{/with}}
      </div>
      <button class='btn btn-primary' {{action 'start_copying'}} disabled={{hierarchy.root_deselected}}>{{t "Copy Selected Boards" key='copy_selected_boards'}}</button>
    {{else}}
      {{#with model.board.key as |bk|}}
        <p><img src="{{path 'images/spinner.gif'}}" style="float: left; padding-right: 15px;"/> {{t "Copying the board <strong>%{board_key}</strong>,<br/> this could take a few minutes..." key='copying_the_board' board_key=model.board.key}} </p>
      {{/with}}
    {{/if}}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
