{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{#if pdf_download}}
        {{t "Print Board" key='print_board'}}
      {{else}}
        {{t "Download Board" key='download_board'}}
      {{/if}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if persistence.online}}
      {{#if finished}}
        <div class='alert alert-success'>{{status_message}}</div>
        <b>
        {{#if download_type}}
          <a href={{progress.result.download_url}}>{{t "Download board(s) to your computer" key='board_download_available'}}</a>
        {{else}}
          <a target="_blank" href={{progress.result.download_url}}>{{t "Open board(s) for printing" key='open_board_for_printing'}}</a>
        {{/if}}
        </b>
      {{else}}
        {{#if errored}}
          <div class='alert alert-danger'>{{status_message}}</div>
        {{else}}
          {{#if progress}}
            <div class='alert alert-info'>{{status_message}}</div>
            {{#if progress.percent}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-value={{num_percent}} aria-valuemin="0" aria-valuemax="100" style={{num_style}}>
                  <span class="sr-only">
                    {{t "%{pct}% Complete" key='percent_complete' pct=num_percent}}
                  </span>
                </div>
              </div>
            {{/if}}
          {{else}}
            {{#if download_type}}
              <span class="glyphicon glyphicon-cloud-download" style="font-size: 30px; float: left; padding-right: 10px; padding-bottom: 5px;"></span>
              <p>{{t "This board contains links to sub-boards. Would you like to download a file containing all available sub-boards, or just the current board?" key='confirm_download_board'}}</p>
              <button {{action "startDownload" "all"}} class="btn btn-primary">{{t "Download full board set" key='download_all_boards'}}</button>
              <button {{action "startDownload" "this"}} class="btn btn-default">{{t "Download just this board" key='download_this_board'}}</button>
            {{else}}
              <span class="glyphicon glyphicon-print" style="font-size: 30px; float: left; padding-right: 10px; padding-bottom: 5px;"></span>
              <p>{{t "You can print off a physical copy of any board set in CoughDrop. Printed copies can work as an effective backup or for places where you may not want to take a physical device." key='print_explanation'}}</p>
              {{#if model.has_links}}
                <p>{{t "This board contains links to sub-boards. Would you like to print a packet containing all available sub-boards, or just the current board?" key='confirm_print_board'}}</p>
              {{/if}}
              <p>
                <label>
                  {{input type='checkbox' checked=include_header}}
                  {{t "Include a vocalization header in the printed pdf" key='include_header'}}
                </label>
              </p>
              <p>
                <label>
                  {{input type='checkbox' checked=text_below}}
                  {{t "Print with text below the images" key='text_below'}}
                </label>
              </p>
              {{#if model.has_links}}
                <button {{action "startDownload" "all"}} class="btn btn-primary">{{t "Print full board set" key='download_all_boards'}}</button>
                <button {{action "startDownload" "this"}} class="btn btn-default">{{t "Print just this board" key='download_this_board'}}</button>
              {{else}}
                <button {{action "startDownload" "this"}} class="btn btn-primary">{{t "Print this board" key='print_this_board'}}</button>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{else}}
      <p>{{t "Downloading and printing are only available when online" key='download_only_online'}}</p>
    {{/if}}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
