<div style="margin: 20px auto; width: 400px;">
{{#if persistence.online}}
  <h2>{{t "Failed to load" key='failed_to_load'}}</h2>
  {{t "The requested resource failed to load. If you got here through a web link then it's possible the resource was renamed, and you might find it by searching. If you got here from a link within CoughDrop you may want to report the error through our support tool." key='failed_to_load_online'}}
{{else}}
  <h2>{{t "Unavailable offline" key='failed_to_load'}}</h2>
  {{t "The requested resource failed to load. This probably happened because you tried to access something that isn't available when offline. You can try connecting to the Internet and attempting the action again." key='failed_to_load_offline'}}
{{/if}}
</div>
