<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>{{t "Give CoughDrop as a Gift" key='give_as_a_gift'}}</h2>
    <span class="glyphicon glyphicon-gift" style="font-size: 30px; float: left; margin: 5px 10px 10px 0;"></span>
    <p>{{t "CoughDrop can be a powerful tool for struggling communicators. If you know someone who could benefit from access to CoughDrop, you can purchase a membership on their behalf. When you do you will receive an email with a gift code that can be used to redeem your gift for a CoughDrop user." key='gift_details'}}</p>
    {{#if subscription.purchase_complete}}
      <div style="margin: 50px 0;">
        <h4>
          <span class="glyphicon glyphicon-ok"></span>
          {{t "Purchase complete! Thank you!" key='purchase_complete'}}
        </h4>
        <p>{{t "You should receive an email with the gift code associated with this purchase. You can forward the email to the intended recipient, or come up with a more creative way to get the code to them (I hear trumpets make things exciting..). Make sure to check your spam box if you're not seeing the email come through within a few minutes." key='purchase_in_email'}}</p>
      </div>
    {{else if subscription.finalizing_purchase}}
      <div style="margin: 50px 0;">
        <h4>
          <span class="glyphicon glyphicon-refresh spinning"></span>
          {{t "Confirming subscription update..." key='finalizing_subscription'}}
        </h4>
      </div>
    {{else}}
      <form {{action "purchase" on="submit"}}>
        <div class="form-group">
          <div class="col-sm-9" style="padding-top: 30px;">
            <label>{{t "Your Email" key='your_email'}}</label><br/>
            <span style="display: inline-block; width: 300px;">
              {{input type='text' value=subscription.email class='form-control input-lg' placeholder='email@example.com'}}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12" style="padding-top: 30px;">
            <label>{{t "Purchase Amount" key='purchase_amount'}}</label><br/>
            <p class='explanation'>
              {{t "To make CoughDrop accessible to as many people as possible, we offer flexible \"pay-what-you-can\" pricing. If you can afford to pay more, your contribution will help gift CoughDrop to additional families in need!" key='how_much_to_gift'}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12" style="overflow-x: auto; margin-top: 20px; margin-bottom: 50px;">
            <div class="btn-group btn-group-lg money two-line" role="group" aria-label="subscription plan" style="min-width: 500px; overflow: auto;">
              <button type="button" class={{long_term_150_class}} {{action "set_subscription" 'long_term_150'}}>$150<br/><span class='text-muted money-smaller'>for 5 years</span></button>
              <button type="button" class={{long_term_200_class}} {{action "set_subscription" 'long_term_200'}}>
                <div style="position: absolute; width: 100%; width: calc(100% + 3px); color: #000; border: 1px solid #ccc; z-index: 3; top: -1px; left: -1px; background: #afa; padding: 3px 0; text-shadow: 1px 1px 2px #aaa; font-size: 16px;">
                    {{t "suggested" key='suggested'}}
                </div>
                $200<br/><span class='text-muted money-smaller'>for 5 years</span>
              </button>
              <button type="button" class={{long_term_250_class}} {{action "set_subscription" 'long_term_250'}}>
                $250<br/><span class='text-muted money-smaller'>for 5 years</span>
                <div style="position: absolute; width: 278px; color: #000; border: 1px solid #ccc; border-top-right-radius: 4px; z-index: 3; top: -1px; left: -1px; background: #cdf; padding: 3px 0; text-shadow: 1px 1px 2px #aaa; font-size: 16px;">
                  {{t "help sponsor someone else!" key='help_sponsor_short'}}
                </div>
              </button>
              <button type="button" class={{long_term_300_class}} {{action "set_subscription" 'long_term_300'}}>
                $300<br/><span class='text-muted money-smaller'>for 5 years</span>
              </button>
            </div>
            <div style="margin-top: 5px;">
              <div style="float: left; margin-right: 5px;">
                <a href="#" class={{long_term_custom_class}} {{action 'set_subscription' 'long_term_custom'}}>{{t "Custom Gift Amount" key='custom_gift_amount'}}</a>
              </div>
              {{#if subscription.long_term_custom}}
                <div style="float: left; width: 250px;">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">$</span>
                   {{input type='text' value=subscription.subscription_custom_amount class='form-control' placeholder='multiple of $50 > 100'}}
                  </div>
                </div>
              {{/if}}
              <div style="clear: left;">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-lg btn-primary">{{t "Purchase Gift Membership" key='activate_subscription'}}</button>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
</div>