<div class='well goal sparkle_list_item'>
  {{#if badges_loaded}}
    <div style='float: left; width: 50px; height: 65px; overflow: hidden; margin-right: 10px; font-size: 40px; text-align: center; line-height: 20px;'>
      {{#if goal.current_badge}}
        {{# if goal.current_badge.earned}}
          <span style='display: inline-block; position: relative;'>
            <img src={{goal.current_badge.image_url}} style='width: 50px; max-height: 50px;'/>
            <div class='sparkle' style='font-size: 10px;'>&#10022;</div>
          </span>
        {{else}}
          <img src={{goal.current_badge.image_url}} style='width: 50px; max-height: 50px;'/>
          <div class="progress" style="border: 1px solid #aaa;margin: 0 auto 5px; height: 10px;">
            <div class="progress-bar" role="progressbar" aria-value={{goal.current_badge.progress_out_of_100}} aria-valuemin="0" aria-valuemax="100" style={{goal.current_badge.progress_style}}>
              <span class="sr-only">
                {{t "%{pct}% Complete" key='percent_complete' pct=goal.current_badge.progress_out_of_100}}
              </span>
            </div>
          </div>
        {{/if}}
      {{else if goal.badge_image_url}}
        <img src={{goal.badge_image_url}} style='widht: 50px; max-height: 50px; opacity: 0.8;' />
      {{else}}
        <span class='glyphicon glyphicon-flag' style='margin-top: 10px;'></span>
      {{/if}}
    </div>
  {{/if}}
  {{#link-to 'user.goal' model.user_name goal.id class='summary'}}
    {{goal.summary}}
  {{/link-to}}
  {{#if goal.template}}
    {{t "(template)" key='template_paren'}}
  {{/if}}
  {{#if model.permissions.edit}}
    <div style='float: right;'>
      {{#if goal.active}}
        <span style='margin-right: 15px;'>
          <button {{action 'new_note' goal}} class='btn btn-lg btn-default' title={{t "new note" key='new_note'}}><span class='glyphicon glyphicon-file'></span><span class='sr-only'>{{t "new note" key='new_note'}}</span></button>
          <button {{action 'quick_assessment' goal}} class='btn btn-lg btn-default' title={{t "quick assessment" key='quick_assessment'}}><span class='glyphicon glyphicon-list-alt'></span><span class='sr-only'>{{t "quick assessment" key='quick_assessment'}}</span></button>
        </span>
        {{#if goal.primary}}
          <button {{action 'update' goal 'primary' 'off'}} class='btn btn-lg btn-default' title={{t "make secondary goal" key='make_secondary_goal'}}><span class='glyphicon glyphicon-hand-down'></span><span class='sr-only'>{{t "make secondary goal" key='make_secondary_goal'}}</span></button>
        {{else}}
          <button {{action 'update' goal 'primary' 'on'}} class='btn btn-lg btn-default' title={{t "make primary goal" key='make_primary_goal'}}><span class='glyphicon glyphicon-hand-up'></span><span class='sr-only'>{{t "make primary goal" key='make_primary_goal'}}</span></button>
        {{/if}}
        <button {{action 'delete' goal}} class='btn btn-lg btn-default' title={{t "retire goal" key='retire_goal'}}><span class='glyphicon glyphicon-remove'></span><span class='sr-only'>{{t "retire goal" key='retire_goal'}}</span></button>
      {{else}}
        <button {{action 'update' goal 'active' 'on'}} class='btn btn-lg btn-default' title={{t "restore goal" key='restore_goal'}}><span class='glyphicon glyphicon-arrow-up'></span><span class='sr-only'>{{t "restore goal" key='restore_goal'}}</span></button>
        <button {{action 'delete' goal}} class='btn btn-lg btn-default' title={{t "delete goal" key='delete_goal'}}><span class='glyphicon glyphicon-trash'></span><span class='sr-only'>{{t "delete goal" key='delete_goal'}}</span></button>
      {{/if}}
    </div>
  {{/if}}
  <div class='details'>
    {{#if goal.active}}
      {{date_ago goal.started}}
    {{else}}
      {{date_ago goal.ended}}
    {{/if}}
  </div>
  <div class='description text-muted'>
    {{goal.description}}
  </div>
</div>