{{#opening-observer opening='opening' closing='closing'}}
<div class="highlight" style={{model.top_style}} {{action "close"}}>
</div>
<div class="highlight" style={{model.left_style}} {{action "close"}}>
</div>
<div class="highlight" style={{model.right_style}} {{action "close"}}>
</div>
<div class="highlight" style={{model.bottom_style}} {{action "close"}}>
</div>
<div class="highlight box" style={{model.highlight_style}} {{action "select"}}>
</div>
<div class="highlight box inner" style={{model.inner_highlight_style}} {{action "select"}}>
</div>
{{/opening-observer}}