<h2>{{t "Finding the Right Home Board" key='finding_a_home_board'}}</h2>
<p>{{t "When using a communication tool, the home board is your starting point to say some things quickly but also jump off into deeper topics. It's important to have a good starting place, but there's lots of different styles of communication boards out there, and it's not really clear which is the best. Every person is different. Here are some different styles of home boards with some detail about why they might be useful." key='finding_home_board1'}}</p>
<p>{{t "When you find a home board that makes sense, open it and hit \"Set as Home\" to make it your home board. You can also \"Make a Copy\" to personalize the images, rearrange the buttons, etc." key='finding_home_board2'}}</p>
<h3>{{t "Core Vocabulary" key='core_vocabulary'}}</h3>
<p>{{t "In a typical conversation, the number of unique words we use is actually pretty small. Words like \"it\" and \"do\" are called core vocabulary because they are used so often. Core-based communication sets put core vocabulary on the home board for quick access. Non-core words are often grouped together by subject or intent and placed on sub-boards. Below are a list of core vocabulary-based home boards:" key='core_vocabulary1'}}</p>
<div id="core_vocabulary">
  {{#if core_vocabulary.loading}}
    <em>{{t "Loading..." key='loading'}}</em>
  {{else}}
    {{#if core_vocabulary}}
      <div class="row">
        {{#each core_vocabulary as |board|}}
          <div class="col-sm-2 col-xs-4">
            {{partial "board-icon"}}
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#if persistence.online}}
        <em>{{t "None found" key='none_found'}}</em>
      {{else}}
        <em>{{t "Not online, please connect to the Internet to see the list of available boards." key='none_found_offline'}}</em>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
<h3>{{t "Subject-Specific" key='subject_vocabulary'}}</h3>
<p>{{t "Some communication devices are used only for communication in specific locations, like when a person is admitted to the hospital. These boards don't necessarily need a full vocabulary because they are subject-specific.  Below are a list of subject-based home boards:" key='subject_vocabulary1'}}</p>
<div id="subject_vocabulary">
  {{#if subject_vocabulary.loading}}
    <em>{{t "Loading..." key='loading'}}</em>
  {{else}}
    {{#if subject_vocabulary}}
      <div class="row">
        {{#each subject_vocabulary as |board|}}
          <div class="col-sm-2 col-xs-4">
            {{partial "board-icon"}}
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#if persistence.online}}
        <em>{{t "None found" key='none_found'}}</em>
      {{else}}
        <em>{{t "Not online, please connect to the Internet to see the list of available boards." key='none_found_offline'}}</em>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
<div style="display: none;">
  <h3>{{t "Disability-Specific" key='disability_vocabulary'}}</h3>
  <p>{{t "Every person is different, but some disabilities cause similar enough characteristics that creating boards tailored to a specific group of people makes sense. It's important to note that just because a board is labelled for a certain disability doesn't mean it will or won't work well for an individual with that diability -- but it may be a good starting point. Below are a list of disability-specific home boards:" key='disability_vocabulary1'}}</p>
  <div id="disability_vocabulary">
    {{#if disability_vocabulary.loading}}
      <em>{{t "Loading..." key='loading'}}</em>
    {{else}}
      {{#if disability_vocabulary}}
        <div class="row">
          {{#each disability_vocabulary as |board|}}
            <div class="col-sm-2 col-xs-4">
              {{partial "board-icon"}}
            </div>
          {{/each}}
        </div>
      {{else}}
        {{#if persistence.online}}
          <em>{{t "None found" key='none_found'}}</em>
        {{else}}
          <em>{{t "Not online, please connect to the Internet to see the list of available boards." key='none_found_offline'}}</em>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
