{{#modal-dialog stretch_ratio=1.5 opening='opening' closing='closing'}}
  <div class="modal-body">
    <div class="video_box">
      <iframe src={{model.video.url}} id="video_preview" frameborder="0"></iframe>
      {{#if player.started}}
        {{#unless model.hide_overlay}}
          <div class="video_box_overlay"></div>
        {{/unless}}
      {{/if}}
    </div>
    <p style="margin-top: 10px;">
      <button class="btn btn-lg btn-default" {{action "toggle_video"}} style="width: 160px;">
        {{#if player.paused}}
          {{t "Resume Video" key='resume_video'}}
        {{else}}
          {{t "Pause Video" key='pause_video'}}
        {{/if}}
      </button>
      <button class='btn btn-lg btn-default' {{action 'close'}}>{{t "Close" key='close'}}</button>
      {{#if player.time}}
        {{#if player.duration}}
          <span class="text-muted" style="margin-left: 10px;">{{duration player.time}} / {{duration player.duration}}</span>
        {{/if}}
      {{/if}}
    </p>
  </div>
{{/modal-dialog}}
