{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Connected Tool Details" key='integration_details'}}
    </h3>
  </div>
  <div class="modal-body">
    <h4>{{model.integration.name}}</h4>
    <p>{{t "The following tokens are necessary for this connected tool to access and receive information from CoughDrop. You should copy these tokens down, as they will not be visible again in the future." key='connected_tool_details'}}</p>
    <div style='width: 90%; overflow :auto;'>
      {{t "API Access Token: %{token}" token=model.integration.access_token}} <br/><br/>
      {{t "Webhook Token: %{token}" token=model.integration.token}}
    </div>
  </div>
  <div class="modal-footer">
    <button {{action "close"}} class="btn btn-default">{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}
