<tr>
  <td>
    {{#link-to 'user.log' user.user_name log.id}}
      {{#if log.video_type}}
        <span class="glyphicon glyphicon-film"></span>
        <span class="sr-only">{{t "video" key='video'}}</span>
      {{else if log.note_type}}
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="sr-only">{{t "message" key='message'}}</span>
      {{else if log.assessment_type}}
        <span class="glyphicon glyphicon-list-alt"></span>
        <span class="sr-only">{{t "assessment" key='assessment'}}</span>
      {{else}}
        <span class="glyphicon glyphicon-time"></span>
        <span class="sr-only">{{t "session" key='session'}}</span>
      {{/if}}
    {{/link-to}}
  </td>
  <td style="font-size: 12px; width: 100%;">
    {{#if log.note_type}}
      <div style="font-size: 10px; color: #888;">
        {{t "Note by" key='note_by'}}
        {{log.author.user_name}}
        {{#if log.goal.status}}
          <br/>
          <span class='face_label'><span class={{log.goal_status_class}}></span></span>
        {{/if}}
      </div>
      <span style="white-space: pre-line;">{{log.note.text}}</span>
    {{else if log.assessment_type}}
      <div style="font-size: 10px; color: #888;">
        {{t "Assessment by" key='assessment_by'}}
        {{log.author.user_name}}
      </div>
      {{log.assessment.description}}<br/>
      {{log.assessment.summary}}
    {{else}}
      <span style="white-space: pre-line;">{{log.summary}}</span>
    {{/if}}
  </td>
  {{#unless messages_only}}
    <td style="white-space: nowrap;">
      {{#link-to 'user.log' user.user_name log.id}}
        {{#if log.note_type}}
          ...
        {{else}}
          {{t "minute" key='minute' count=log.minutes}}
        {{/if}}
      {{/link-to}}
    </td>
    <td>
      {{#if log.event_note_count}}
        {{#link-to 'user.log' model.user_name log.id}}
          <span class="label label-primary">{{log.event_note_count}}</span>
        {{/link-to}}
      {{/if}}
    </td>
  {{/unless}}
  <td style="white-space: nowrap;">{{date log.started_at}}</td>
</tr>
