{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Modify Core Word List" key='modify_core_word_list'}}
    </h3>
  </div>
  <div class="modal-body">
    <p>{{t "Select from one of the precompiled core word lists below, or customize one, or create your own. CoughDrop uses this list to track which button pressed are core vs. fringe to help with long-term language development." key='choose_a_word_list'}}
      <a href="http://praacticalaac.org/strategy/join-together-core-fringe-vocabulary/" target='_blank'>{{t "Learn more about core/fringe words." key='learn_more_about_core_fringe_words'}}</a>
    </p>
    <div class='row'>
      <div class='col-sm-6'>
        {{bound-select select_class="form-control" select_id="core_list" content=core_lists selection=core_list action=(action (mut core_list)) }}
      </div>
      <div class='col-sm-6'>
        {{#if default_core_list}}
          <button class='btn btn-default' {{action 'modify_list'}}>{{t "Customize This List" key='customize_this_list'}}</button>
        {{/if}}
      </div>
    </div>
    <div style='margin-top: 10px; margin-bottom: 20px;'>
      {{#if editing}}
        {{textarea value=word_lines class='form-control' placeholder='Type or paste in a list of words, either separated by commas or one per line' rows=6}}
      {{else}}
        <div style='max-height: 150px; overflow: auto; padding: 5px 15px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;'>
          {{#each words as |word|}}
            <span style='padding-right: 5px;'>{{word}}</span>
          {{/each}}
        </div>
      {{/if}}
      <div style='text-align: right;'>
        {{t "word" count=parsed_words.length key='n_words'}}
      </div>
    </div>
    <p><em>{{t "Keep in mind that changes to the core word list will only affect new logs, past logs will still use the same core list they were configured for." key='core_update_only_affects_new_logs'}}</em></p>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-primary' disabled={{save_disabled}} {{action 'save'}}>
      {{#if state.saving}}
        {{t "Updating Core Word List..." key='updating_core_word_list'}}
      {{else if state.error}}
        {{t "Error Updating Core Word List" key='error_updating_core_word_list'}}
      {{else}}
        {{t "Update Core Word List" key='update_core_word_list'}}
      {{/if}}
    </button>
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
