{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Set a New Goal" key='set_a_new_goal'}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if selected_goal}}
      <form class="form-horizontal">
        {{#if selected_goal.sequence}}
          <div class="form-group">
            <label for="sequence_summary" class="col-sm-2 control-label">{{t "Sequence" key='sequence'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>
                <strong>{{selected_goal.sequence_summary}}</strong><br/>
                {{t "sequence of" key='sequence_of'}}
                {{t "goal" key='n_goals' count=selected_goal.template_stats.goals}}{{#if selected_goal.template_stats.total_duration}}{{t " over " key='over'}}
                  {{seconds_ago selected_goal.template_stats.total_duration 'long'}}
                {{/if}}
                {{#if selected_goal.template_stats.loop}}{{t "(repeating sequence)" key='repeating_sequence'}}{{/if}}
              </p>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
              <div class='form-control-static safe_html'>{{safe selected_goal.sequence_description}}</div>
            </div>
          </div>
          <div class="form-group">
            {{#if selected_goal.date_based}}
              <label class="col-sm-12"><h4>{{t "Current Goal in the Sequence" key='current_goal_details'}}</h4></label>
            {{else}}
              <label class="col-sm-12"><h4>{{t "First Goal in the Sequence" key='first_goal_details'}}</h4></label>
            {{/if}}
          </div>
        {{/if}}
        <div class="form-group">
          <label for="new_goal_summary" class="col-sm-2 control-label">{{t "Summary" key='summary'}}</label>
          <div class="col-sm-10">
            <p class='form-control-static'>{{selected_goal.summary}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="new_goal_description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
          <div class="col-sm-10">
            <div class='form-control-static safe_html'>{{safe selected_goal.description}}</div>
          </div>
        </div>
        {{#if selected_goal.duration}}
          <div class="form-group">
            <label for="new_goal_duration" class="col-sm-2 control-label">{{t "Duration" key='duration'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>{{seconds_ago selected_goal.duration 'long'}}</p>
            </div>
          </div>
        {{else if selected_goal.advance}}
          <div class="form-group">
            <label for="new_goal_duration" class="col-sm-2 control-label">{{t "Changes" key='changes'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>{{date selected_goal.advance}}</p>
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <fieldset>
            <label class="col-sm-2 control-label">{{t "Primary" key='primary'}}</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  {{input type="checkbox" checked=selected_goal.user_primary id="primary"}}
                  {{t "Set as the User's Primary Goal" key='set_as_primary_user_goal'}}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    {{else if browse_goals}}
      {{#if goals}}
        {{#each goals as |goal|}}
          <div class='well goal' {{action 'select_goal' goal}} style='cursor: pointer;'>
            {{goal.high_level_summary}}
            {{#if goal.sequence}}
              <div class='details'>
                {{t "sequence of" key='sequence_of'}}
                {{t "goal" key='n_goals' count=goal.template_stats.goals}}
                {{#if goal.template_stats.loop}}{{t "(repeating sequence)" key='repeating_sequence'}}{{/if}}
              </div>
            {{/if}}
            <div class='description text-muted'>
              {{safe goal.high_level_description 'stripped'}}
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#unless goals.loading}}
          {{#unless goals.error}}
            <p>{{t "No goals to show" key='no_goals'}}</p>
          {{/unless}}
        {{/unless}}
      {{/if}}
      {{#if goals.loading}}
        <p>{{t "Loading goals..." key='loading_goals'}}</p>
      {{else if goals.error}}
        <p>{{t "There was an error loading goals" key='error_loading_goals'}}</p>
      {{/if}}
    {{else}}
      <form class="form-horizontal">
        <!-- TODO: form should wrap to include submit button, no? -->
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <a href="#" {{action 'browse_goals'}}>{{t "Not sure what kind of goal to set? Check out our community-built goals!" key='community_goals'}}</a>
          </div>
        </div>
        <div class="form-group">
          <label for="new_goal_summary" class="col-sm-2 control-label">{{t "Summary" key='summary'}}</label>
          <div class="col-sm-10" style='max-width: 300px;'>
            {{input value=goal.summary class="form-control" id="new_goal_summary" placeholder="short goal summary"}}
          </div>
        </div>
        <div class="form-group">
          <label for="new_goal_description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
          <div class="col-sm-10">
            {{textarea value=goal.description class="form-control" id="new_goal_description" placeholder="longer, detailed description of the goal"}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">{{t "Video" key='video'}}</label>
          <div class="col-sm-10">
            {{video-recorder user=model.user video_ready='video_ready' video_not_ready='video_not_ready'}}
          </div>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="col-sm-2 control-label">{{t "Primary" key='primary'}}</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  {{input type="checkbox" checked=goal.primary id="primary"}}
                  {{t "Set as the User's Primary Goal" key='set_as_primary_user_goal'}}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button {{action "save_goal"}} disabled={{save_disabled}} class="btn btn-primary">{{t "Add Goal" key='add_goal'}}</button>
    {{#if browse_goals}}
      {{#if selected_goal}}
        <button {{action "clear_selected_goal"}} class='btn btn-default'>{{t "Back to Goal List" key='back_to_goals'}}</button>
      {{/if}}
      <button {{action "browse_goals"}} class='btn btn-default'>{{t "Create My Own Goal" key='create_own_goal'}}</button>
    {{/if}}
    <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
