{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{#if goal.id}}
        {{t "Edit Goal" key='edit_goal'}}
      {{else}}
        {{t "Set a New Goal" key='set_a_new_goal'}}
      {{/if}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if selected_goal}}
      <form class="form-horizontal">
        {{#if selected_goal.sequence}}
          <div class="form-group">
            <label for="sequence_summary" class="col-sm-2 control-label">{{t "Sequence" key='sequence'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>
                <strong>{{selected_goal.sequence_summary}}</strong><br/>
                {{t "sequence of" key='sequence_of'}}
                {{t "goal" key='n_goals' count=selected_goal.template_stats.goals}}{{#if selected_goal.template_stats.total_duration}}{{t " over " key='over'}}
                  {{seconds_ago selected_goal.template_stats.total_duration 'long'}}
                {{/if}}
                {{#if selected_goal.template_stats.loop}}{{t "(repeating sequence)" key='repeating_sequence'}}{{/if}}
              </p>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
              <div class='form-control-static safe_html'>{{safe selected_goal.sequence_description}}</div>
            </div>
          </div>
          <div class="form-group">
            {{#if selected_goal.date_based}}
              <label class="col-sm-12"><h4>{{t "Current Goal in the Sequence" key='current_goal_details'}}</h4></label>
            {{else}}
              <label class="col-sm-12"><h4>{{t "First Goal in the Sequence" key='first_goal_details'}}</h4></label>
            {{/if}}
          </div>
        {{/if}}
        <div class="form-group">
          <div class='col-sm-10 col-sm-offset-2'>
            {{#if selected_goal.badge_image_url}}
              <img src={{selected_goal.badge_image_url}} style='width: 50px; max-height: 50px; opacity: 0.8;' />
            {{else}}
              <span class='glyphicon glyphicon-flag' style='margin-top: 10px; font-size: 50px; '></span>
            {{/if}}
          </div>
        </div>
        <div class="form-group">
          <label for="new_goal_summary" class="col-sm-2 control-label">{{t "Summary" key='summary'}}</label>
          <div class="col-sm-10">
            <p class='form-control-static'>{{selected_goal.current_template.summary}}</p>
          </div>
        </div>

        <div class="form-group">
          <label for="new_goal_description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
          <div class="col-sm-10">
            <div class='form-control-static safe_html'>{{safe selected_goal.current_template.description}}</div>
          </div>
        </div>
        {{#if selected_goal.current_template.duration}}
          <div class="form-group">
            <label for="new_goal_duration" class="col-sm-2 control-label">{{t "Duration" key='duration'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>{{seconds_ago selected_goal.current_template.duration 'long'}}</p>
            </div>
          </div>
        {{else if selected_goal.current_template.advance}}
          <div class="form-group">
            <label for="new_goal_changes" class="col-sm-2 control-label">{{t "Changes" key='changes'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>{{date selected_goal.current_template.advance}}</p>
            </div>
          </div>
        {{/if}}
        {{#if selected_goal.current_template.stats.badges}}
          <div class="form-group">
            <label for="badges_total" class="col-sm-2 control-label">{{t "Badges" key='abdges'}}</label>
            <div class="col-sm-10">
              <p class='form-control-static'>{{t "badge" count=selected_goal.current_template.stats.badges key='n_badges'}}</p>
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <fieldset>
            <label class="col-sm-2 control-label">{{t "Primary" key='primary'}}</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  {{input type="checkbox" checked=selected_goal.user_primary id="primary"}}
                  {{t "Set as the User's Primary Goal" key='set_as_primary_user_goal'}}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    {{else if browse_goals}}
      {{#if goals}}
        {{#each goals as |goal|}}
          <div class='well goal' {{action 'select_goal' goal}} style='cursor: pointer;'>
            <div style='float: left; width: 50px; height: 65px; overflow: hidden; margin-right: 10px; font-size: 40px; text-align: center; line-height: 20px;'>
              {{#if goal.badge_image_url}}
                <img src={{goal.badge_image_url}} style='widht: 50px; max-height: 50px; opacity: 0.8;' />
              {{else}}
                <span class='glyphicon glyphicon-flag' style='margin-top: 0px;'></span>
              {{/if}}
            </div>
            {{goal.high_level_summary}}
            {{#if goal.sequence}}
              <div class='details'>
                {{t "sequence of" key='sequence_of'}}
                {{t "goal" key='n_goals' count=goal.template_stats.goals}}
                {{#if goal.template_stats.badges}}{{t "with" key='with'}}{{t "badge" count=goal.template_stats.badges key='n_badges'}}{{/if}}
                {{#if goal.template_stats.loop}}{{t "(repeating sequence)" key='repeating_sequence'}}{{/if}}
              </div>
            {{else if goal.stats.badges}}
              <div class='details'>
                {{t "badge" count=goal.stats.badges key='n_badges'}}
              </div>
            {{/if}}
            <div class='description text-muted'>
              {{safe goal.high_level_description 'stripped'}}
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#unless goals.loading}}
          {{#unless goals.error}}
            <p>{{t "No goals to show" key='no_goals'}}</p>
          {{/unless}}
        {{/unless}}
      {{/if}}
      {{#if goals.loading}}
        <p>{{t "Loading goals..." key='loading_goals'}}</p>
      {{else if goals.error}}
        <p>{{t "There was an error loading goals" key='error_loading_goals'}}</p>
      {{/if}}
    {{else}}
      <form class="form-horizontal">
        <!-- TODO: form should wrap to include submit button, no? -->
        {{#unless goal.id}}
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <a href="#" {{action 'browse_goals'}}>{{t "Not sure what kind of goal to set? Check out our community-built goals!" key='community_goals'}}</a>
            </div>
          </div>
        {{/unless}}
        <div class="form-group">
          <label for="new_goal_summary" class="col-sm-2 control-label">{{t "Summary" key='summary'}}</label>
          <div class="col-sm-10" style='max-width: 300px;'>
            {{input value=goal.summary class="form-control" id="new_goal_summary" placeholder="short goal summary"}}
          </div>
        </div>
        <div class="form-group">
          <label for="new_goal_description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
          <div class="col-sm-10">
            {{textarea value=goal.description class="form-control" id="new_goal_description" placeholder="longer, detailed description of the goal"}}
          </div>
        </div>
        {{#if goal.video}}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{t "Video" key='video'}}</label>
            <div class="col-sm-10">
              <div style="margin-top: 10px;">
                <video src={{model.video.url}} controls style='max-width: 100%; max-height: 400px; border: 1px solid #ccc;'></video>
              </div>
              <a href="#" {{action 'reset_video'}}>{{t "Remove Video" key='remove_video'}}</a>
            </div>
          </div>
        {{else}}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{t "Video" key='video'}}</label>
            <div class="col-sm-10">
              {{video-recorder user=model.user video_ready='video_ready' video_not_ready='video_not_ready'}}
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <label for="auto_assessment" class="col-sm-2 control-label">{{t "Assessment" key='auto_assessment'}}</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                {{input type="checkbox" checked=goal.auto_assessment id="auto_assessment"}}
                {{t "Automatically assess this goal daily based on usage data" key='auto_assess_goal_daily'}}
              </label>
            </div>
          </div>
        </div>
        {{#if goal.assessment_badge}}
          {{badge-settings badge=goal.assessment_badge assessment=true}}
        {{/if}}

        <div class="form-group">
          <label class="col-sm-2 control-label">{{t "Badges" key='badges'}}</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <em style='padding-left: 20px;'>{{t "You can add badges after the goal has been created" key='add_badges_later'}}</em>
            </div>
          </div>
        </div>
        <div class="form-group">
          <fieldset>
            <label class="col-sm-2 control-label">{{t "Primary" key='primary'}}</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  {{input type="checkbox" checked=goal.primary id="primary"}}
                  {{t "Set as the User's Primary Goal" key='set_as_primary_user_goal'}}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button {{action "save_goal"}} disabled={{save_disabled}} class="btn btn-primary">
      {{#if goal.id}}
        {{#if saving}}
          {{t "Updating Goal" key='updating_goal'}}
        {{else}}
          {{t "Update Goal" key='update_goal'}}
        {{/if}}
      {{else}}
        {{#if saving}}
          {{t "Adding Goal" key='adding_goal'}}
        {{else}}
          {{t "Add Goal" key='add_goal'}}
        {{/if}}
      {{/if}}
    </button>
    {{#if browse_goals}}
      {{#if selected_goal}}
        <button {{action "clear_selected_goal"}} class='btn btn-default'>{{t "Back to Goal List" key='back_to_goals'}}</button>
      {{/if}}
      <button {{action "browse_goals"}} class='btn btn-default'>{{t "Create My Own Goal" key='create_own_goal'}}</button>
    {{/if}}
    <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
    {{#if error}}
      <p class='text-danger'>{{t "There was an error trying to save the goal" key='error_saving_goal'}}</p>
    {{/if}}
  </div>
{{/modal-dialog}}
