{{#grid-listener grid_event='grid_event'}}
{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="board_drop">
    <!-- Header, depending on if this is an auto or manually created board -->
    <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
      {{#if model.createAutomatically}}
        <h3>
          {{t "What would you like to talk about?" key='what_would_you_like_to_talk_about'}}
        </h3>
      {{else}}
        <h3>
          {{t "Create a New Board" key='create_a_new_board'}}
        </h3>
      {{/if}}
    </div>

    <!-- Body of the modal -->
    <div class="modal-body">
      <form class="form-horizontal" {{action "saveBoard" on="submit"}}>
      <!-- TODO: form should wrap to include submit button, no? -->

      <!-- Name field, either displayed as search for auto creation or name if not -->
      {{#if model.createAutomatically}}
        <div class="form-group">
          <label for="new_board_name" class="col-sm-2 control-label">{{t "Search" key='name'}}</label>
          <div class="col-sm-10">
            {{input value=model.name class="form-control" id="new_board_name" placeholder="beaches, Harry Potter, Despicable Me"}}
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label for="new_board_name" class="col-sm-2 control-label">{{t "Name" key='name'}}</label>
          <div class="col-sm-10">
            {{input value=model.name class="form-control" id="new_board_name" placeholder="My Board"}}
          </div>
        </div>
      {{/if}}

      <!-- Show supervisees notice regardless which type of board this is -->
      {{#if supervisees}}
        <div class="form-group">
          <label for="for_user_id" class="col-sm-2 control-label">{{t "For" key='for'}}</label>
          <div class="col-sm-10">
            {{user-select select_id="for_user_id" users=supervisees selection=model.for_user_id action=(action (mut model.for_user_id)) }}
          </div>
        </div>
      {{/if}}

      <!-- Only show grid size options if building manually. -->
      {{#unless model.createAutomatically}}
        <div class="form-group">
          <label for="new_board_rows" class="col-sm-2 control-label">{{t "Rows" key='rows'}}</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" {{action "plus_minus" "minus" "model.grid.rows"}}>-</button>
              </span>
              {{input value=model.grid.rows class="form-control" id="new_board_rows" placeholder="##"}}
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" {{action "plus_minus" "plus" "model.grid.rows"}}>+</button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="new_board_columns" class="col-sm-2 control-label">{{t "Columns" key='columns'}}</label>
          <div class="col-sm-3" style="height: 100px;">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" {{action "plus_minus" "minus" "model.grid.columns"}}>-</button>
              </span>
              {{input value=model.grid.columns class="form-control" id="new_board_columns" placeholder="##"}}
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" {{action "plus_minus" "plus" "model.grid.columns"}}>+</button>
              </span>
            </div>
          </div>
          <div class="col-sm-7" id="grid_selection">
            <div class="row">
              {{#each showGrid as |row|}}
                {{#each row as |cell|}}
                  <div style="width: 8.33%; float: left;" class={{cell.preview_class}} data-row="{{unbound cell.row}}" data-col="{{unbound cell.column}}">
                    <div title="{{unbound cell.row}} x {{unbound cell.column}}">
                      &nbsp;
                    </div>
                  </div>
                {{/each}}
              {{/each}}
            </div>
          </div>
        </div>
      {{/unless}}

      <!-- Show checkbox for public or not regardless creation method -->
      <div class="form-group">
        <fieldset>
          <label class="col-sm-2 control-label">{{t "Public" key='public'}}</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                {{input type="checkbox" checked=model.public id="public"}}
                {{t "Anyone can see this board" key='anyone_can_see_board'}}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Only show icon select in main section if we are editing manually.
      If we are creating boards automatically, the icon for the search term will
      become the icon for the board set. -->
      {{#unless model.createAutomatically}}
        <div class="form-group">
          <label for="image_url" class="col-sm-2 control-label">{{t "Icon" key='icon'}}</label>
          <div class="col-sm-10">
            {{icon-select selection=model.image_url action=(action (mut model.image_url)) }}
          </div>
        </div>
      {{/unless}}

      <!-- Now handle more options -->
      {{#unless more_options}}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <a href="#" {{action 'more_options'}}>more options</a>
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label for="new_board_key" class="col-sm-2 control-label">{{t "Key" key='key'}}</label>
          <div class="col-sm-6">
            {{input value=model.key class="form-control" id="new_board_key" placeholder=key_placeholder}}
          </div>
        </div>
        <div class="form-group">
          <label for="license" class="col-sm-2 control-label">{{t "License" key='license'}}</label>
          <div class="col-sm-10">
            {{bound-select select_class="form-control" select_id="license" content=license_options selection=model.license.type action=(action (mut model.license.type)) }}
          </div>
        </div>
        <div class="form-group">
          <label for="locale" class="col-sm-2 control-label">{{t "Language" key='locale'}}</label>
          <div class="col-sm-10">
            {{bound-select select_class="form-control" select_id="locale" content=locales selection=model.locale action=(action (mut model.locale)) }}
          </div>
        </div>
        {{#if attributable_license_type}}
          <div class="form-group">
            <label for="author" class="col-sm-2 control-label">{{t "Author" key='author'}}</label>
            <div class="col-sm-4">
              {{input value=model.license.author_name class="form-control" id="author" placeholder="Name"}}
            </div>
            <div class="col-sm-6">
              {{input value=model.license.author_url class="form-control" title="Author URL" placeholder="Author URL"}}
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <label for="new_board_description" class="col-sm-2 control-label">{{t "Description" key='description'}}</label>
          <div class="col-sm-10">
            {{textarea value=model.description class="form-control" id="new_board_description" placeholder="brief description of the board"}}
          </div>
        </div>
        <div class="form-group">
          <label for="public" class="col-sm-2 control-label">{{t "Suggestions" key='word_suggestions'}}</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                {{input type="checkbox" checked=model.word_suggestions}}
                {{t "Show word completion suggestions" key='show_word_suggestions'}}
              </label>
            </div>
            <em style="padding-left: 20px;">{{t "(helpful for keyboard-style boards)" key='helpful_for_keyboard_boards'}}</em>
          </div>
        </div>
        <div class="form-group">
          <label for="new_board_labels" class="col-sm-2 control-label">{{t "Labels" key='labels'}}</label>
          <div class="col-sm-10">
            {{textarea value=model.grid.labels class="form-control" rows="4" id="new_board_labels" placeholder="list of labels to pre-populate the board, one per line or separated by commas"}}
            <!-- TODO: this is the wrong way to do it, but helper options aren't bound so this is a hack for now -->
            <span class={{labels_class}}>
              {{label_count}} {{t "labels" key='label_count'}}&nbsp;&nbsp;
            </span>
            <a href="#" data-count={{label_count}} {{action 'pick_core'}}>{{t "pick from core lists" key='pick_from_core_lists'}}</a>
            {{#if speech}}
               |
              <a href="#" data-count={{label_count}} {{action 'record_words'}}>{{t "record words" key='record_words'}}</a>
            {{/if}}
            <a style="display: none;" href="#" {{action 'import_from_pdf'}}>{{t "import from pdf" key='import_from_pdf'}}</a>
          </div>
        </div>
        {{#if core_lists}}
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            <ul class="nav nav-pills">
              {{#each core_words as |core_word|}}
                <li class={{if core_word.active 'active'}}>
                  <a href="#" {{action 'enable_word' core_word.id}}>{{ core_word.label }}</a>
                </li>
              {{/each}}
            </ul>
            </div>
          </div>
        {{else}}
          {{#if speech.recording}}
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
              <div style="margin-bottom: 5px;">
                {{t "Listening..." key='listening'}}
                <button class='btn btn-default' {{action 'next_word'}}>{{t "Next Word" key='next_word'}}</button>
                <button class='btn btn-default' {{action 'stop_recording'}}>{{t "Stop Listening" key='stop_recording'}}</button>
              </div>
              <ul class="nav nav-pills">
                {{#each speech.words as |word|}}
                  <li class="active" style="margin-right: 3px; margin-bottom: 3px;">
                    <a href="#" {{action 'remove_word' word.id}}>
                      {{word.label}}
                      <span class="glyphicon glyphicon-remove" title="remove"></span>
                    </a>
                  </li>
                {{/each}}
              </ul>
              </div>
            </div>
          {{else}}
            {{#if speech.almost_recording}}
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <p>Waiting for approval...</p>
                </div>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/unless}}
      </form>
    </div>
    <div class="modal-footer">
      <button {{action "saveBoard"}} class="btn btn-primary">{{t "Create Board" key='create_board'}}</button>
      <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
    </div>
  </div>
{{/modal-dialog}}
{{/grid-listener}}
