<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "CoughDrop Partners and Supported Integrations" key='coughdrop_partners_and_supported_integrations'}}</h2>
    <p>{{t "CoughDrop is committed to working with other companies and organizations to provide communicators with the best possible experience. Here are some of the partners and compatible resources we have available." key='compatibility_intro'}}</p>
    <h3>{{t "Community Partners" key='community_partners'}}</h3>
    <p>{{t "Community partners are technical and support partners that provide assistive technology resources and tools that can also make CoughDrop usage more effective for some communicators and their support teams." key='community_partners_explainer'}}</p>
    <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
      <tbody><tr>
      <td class='well' style='width: 33%; vertical-align: top;'>
        <a href="http://www.frs-solutions.com/" target="_blank">
          <img src={{path 'images/partners/frs.png'}} class='img-thumbnail' style='margin-bottom: 5px;'/>
        </a><br/>
        {{t "FRS works with insurance to get their ProSlate dedicated tablet funded with CoughDrop pre-installed." key='frs_explainer'}}
      </td>
      <td class='well' style='width: 33%; vertical-align: top;'>
        <a href="https://www.ablenetinc.com/" target="_blank">
          <img src={{path 'images/partners/ablenet.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
        </a><br/>
        {{t "AbleNet works with insurance to get their QuickTalker FreeStyle dedicated tablet funded with CoughDrop pre-installed." key='ablenet_explainer'}}
      </td>
      <td class='well' style='width: 33%; vertical-align: top;'>
        <a href="http://www.acapela-group.com/" target="_blank">
          <img src={{path 'images/partners/acapela.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
        </a><br/>
        {{t "Acapela provides premium synthesized voices for speech generation. Acapela voices in CoughDrop for iOS, Android and Windows." key='acapela_explainer'}}
      </td>
      </tr></tbody>
    </table>

    <h3>{{t "Compatible Hardware" key='compatible_hardware'}}</h3>
    <h4>{{t "Switches" key='switches'}}</h4>
      <p>{{t "CoughDrop's built-in switch-activated scanning will work with one or two switch actions. Most if not all bluetooth switches should work with CoughDrop via keyboard emulation, and on Windows other keyboard-style switches can also be configured in a user's preferences." key='switch_explainer'}}</p>
      <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
        <tbody><tr>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="https://www.ablenetinc.com/blue2-bluetooth-switch" target="_blank">
            <img src={{path 'images/partners/blue2.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "The Blue2 switch worked with mobile and Windows devices and provides one and two-button switch control" key='blue2_explainer'}}
        </td>
        <td style='width: 33%;'></td>
        <td style='width: 33%;'></td>
        </tr></tbody>
      </table>

    <h4>{{t "Eye Trackers" key='eye_trackers'}}</h4>
      <p>{{t "On Windows devices, you can download and install the CoughDrop app to use CoughDrop with hardware eye trackers. Some eye trackers (EyeX and EyeTribe) currently have native integrations, while others (Tobii, myGaze, eyetech, etc.) work very well running in cursor mode. Settings like dwell time and activation distance can be configured in a user's preferences." key='eye_trackers_explainer'}}</p>
      <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
        <tbody><tr>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <img src={{path 'images/partners/eye_gaze.png'}} class='img-thumbnail' style='margin-bottom: 5px;' /><br/>
        </td>
        <td style='width: 33%;'></td>
        <td style='width: 33%;'></td>
        </tr></tbody>
      </table>
    <h4>{{t "Head Pointers and Mice" key='head_pointers_and_mice'}}</h4>
      <p>{{t "The mouse cursor on Windows can be controlled by many different kinds of interface, including some header pointers and head mouse tools. These apps and devices can be configured using CoughDrop's built-in dwell tracking, available in the Windows CoughDrop app." key='head_mouse_explainer'}}</p>
      <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
        <tbody><tr>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="http://www.cameramouse.org/" target="_blank">
            <img src={{path 'images/partners/camera_mouse.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "Camera Mouse is a free head-tracking Windows app that uses the computer's camera to control the mouse cursor." key='camera_mouse_explainer'}}
        </td>
        <td style='width: 33%;'></td>
        <td style='width: 33%;'></td>
        </tr></tbody>
      </table>
    <h4>{{t "Bluetooth Speakers" key='bluetooth_speakers'}}</h4>
      <p>{{t "Some devices don't have loud enough speakers, or have speakers that point the wrong direction so they don't help a communicator speak effectively. Bluetooth speakers can be used with CoughDrop to facilitate communication, and even to make using CoughDrop just a little more fun." key='bluetooth_speakers_explainer'}}</p>
      <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
        <tbody><tr>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="https://www.amazon.com/dp/B00BYOEIMC/ref=twister_B00C57PN6W?_encoding=UTF8&psc=1" target="_blank">
            <img src={{path 'images/partners/ion_clipster.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "ION Clipster is a clip-on bluetooth speaker that can connect to devices and provide additional volume and direct sound out in from of the communicator." key='clipster_explainer'}}
        </td>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="https://bluebeepals.com/" target="_blank">
            <img src={{path 'images/partners/bluebee_pals.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "Bluebee Pals are cute stuffed animals with a built-in bluetooth speaker whose mouths move as they speak. They can be a great reinforcement tool for developing communicators." key='bluebee_explainer'}}
        </td>
        <td style='width: 33%;'></td>
        </tr></tbody>
      </table>
    <h4>{{t "Key Guards" key='key_guards'}}</h4>
      <p>{{t "For some users it can be hard to get their fingers down on the right buttons. Keyguards can help them navigate to the right place, and some companies can create custom keyguards for just about any CoughDrop board configuration." key='keyguard_explainer'}}</p>
      <table style='border-spacing: 20px; border-collapse: separate; font-size: 12px;'>
        <tbody><tr>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="http://www.laseredpics.biz/" target="_blank">
            <img src={{path 'images/partners/lasered_pics.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "Lasered Pics can create custom keyguards for many different tablets and devices. By sending them a screenshot from the device they can support many CoughDrop configurations." key='lasered_pics_explainer'}}
        </td>
        <td class='well' style='width: 33%; vertical-align: top;'>
          <a href="http://www.frs-solutions.com/" target="_blank">
            <img src={{path 'images/partners/frs.png'}} class='img-thumbnail' style='margin-bottom: 5px;' />
          </a><br/>
          {{t "FRS can create custom keyguards for different CoughDrop configurations that work with their ProSlate dedicated tablets." key='frs_keyguards_explainer'}}
        </td>
        <td style='width: 33%;'></td>
        </tr></tbody>
      </table>
    <!-- TODO: style options
      <h4>{{t "Stylus?" key='stylus'}}</h4>
    -->
  </div>
</div>