{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="note" class="col-sm-2 control-label">{{t "For" key='for'}}</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            <img src={{model.avatar_url_with_fallback}} style="max-height: 30px;"/>
            {{model.user_name}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="note" class="col-sm-2 control-label">{{t "Date" key='date'}}</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            {{date}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label id="note_type" class="col-sm-2 control-label">{{t "Type" key='type'}}</label>
        <div class="col-sm-10">
          <div class="btn-group" role="group" aria-labelledby="note_type">
            <button type="button" class={{text_class}} {{action 'set_type' 'text'}}>{{t "Text" key='text'}}</button>
            <button type="button" class={{video_class}} {{action 'set_type' 'video'}}>{{t "Video" key='video'}}</button>
          </div>
        </div>
      </div>
      {{#if text_note}}
        <div class="form-group">
          <label for="note" class="col-sm-2 control-label">{{t "Note" key='note'}}</label>
          <div class="col-sm-10">
            {{textarea value=note class="form-control" id="note" rows="6"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                {{input checked=notify type="checkbox"}}
                {{t "Notify others of this message" key='notify_others'}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" {{action "saveNote"}}>{{t "Save Note" key='save_note'}}</button>
            <button class="btn btn-default" {{action "close"}}>{{t "Cancel" key='cancel'}}</button>
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label for="video" class="col-sm-2 control-label">{{t "Video" key='video'}}</label>
          <div class="col-sm-10">
            {{#if video_allowed}}
              {{#if app_state.feature_flags.video_recording}}
                {{video-recorder video_ready='video_ready' video_not_ready='video_not_ready'}}
              {{else}}
                {{t "Coming Soon!" key='coming_soon'}}
              {{/if}}
            {{else}}
              <p>
                {{t "CoughDrop is a powerful, flexible communication tool with lots of great features. Some features, including this one, are only available to users who have a paid premium subscription. Please " key='purchase_subscription_1'}}
                {{#if app_state.currentUser}}
                  {{#link-to 'user.subscription' app_state.currentUser.user_name}}{{t "purchase a premium subscription" key='purchase_subscription_2'}}{{/link-to}}
                {{else}}
                  {{t "purchase a premium subscription" key='purchase_subscription_2'}}
                {{/if}}
                {{t "to support this good cause and to unlock this feature." key='purchase_subscription_3'}}
              </p>
            {{/if}}
          </div>
        </div>
        <div class="form-group">
          <label for="note" class="col-sm-2 control-label">{{t "Note" key='note'}}</label>
          <div class="col-sm-10">
            {{textarea value=note class="form-control" id="note" rows="1"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                {{input checked=notify type="checkbox"}}
                {{t "Notify others of this message" key='notify_others'}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{#if video_allowed}}
              {{#if app_state.feature_flags.video_recording}}
                <button class="btn btn-primary" disabled=no_video_ready {{action "saveNote" 'video'}}>{{t "Save Note" key='save_note'}}</button>
              {{/if}}
            {{/if}}
            <button class="btn btn-default" {{action "close"}}>{{t "Cancel" key='cancel'}}</button>
          </div>
        </div>
      {{/if}}
    </form>
    <div style="clear: left;"></div>
  </div>
{{/modal-dialog}}
