{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "New Note for %{user_name}" key='new_note' user_name=model.user_name}}
    </h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      {{#if goal_options}}
        <div class="form-group">
          <label for="goal_options" class="col-sm-2 control-label">{{t "Goal" key='goal'}}</label>
          <div class="col-sm-10">
            {{bound-select select_class="form-control" select_id="goal_options" content=goal_options selection=goal_id action=(action (mut goal_id)) }}
          </div>
        </div>
        {{#if goal_id}}
          <div class="form-group">
            <label for="goal_options" class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
              {{#each goal_statuses as |status|}}
              <div style='width: 25%; float: left; padding: 5px;'>
                <button class={{status.button_display_class}} {{action 'set_status' status.id}}>
                  <span class={{status.display_class}}></span>
                  {{status.text}}
                </button>
              </div>
              {{/each}}
              <div style='clear: left;'></div>
            </div>
          </div>
        {{/if}}
      {{/if}}
      <div class="form-group">
        <label id="note_type" class="col-sm-2 control-label">{{t "Type" key='type'}}</label>
        <div class="col-sm-10">
          <div class="btn-group" role="group" aria-labelledby="note_type">
            <button type="button" class={{text_class}} {{action 'set_type' 'text'}}>{{t "Text" key='text'}}</button>
            <button type="button" class={{video_class}} {{action 'set_type' 'video'}}>{{t "Video" key='video'}}</button>
          </div>
        </div>
      </div>
      {{#if text_note}}
        <div class="form-group">
          <label for="note" class="col-sm-2 control-label">{{t "Note" key='note'}}</label>
          <div class="col-sm-10">
            {{textarea value=note class="form-control" id="note" rows="6"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                {{input checked=notify type="checkbox"}}
                {{t "Notify others of this message" key='notify_others'}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" {{action "saveNote"}}>{{t "Save Note" key='save_note'}}</button>
            <button class="btn btn-default" {{action "close"}}>{{t "Cancel" key='cancel'}}</button>
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label for="video" class="col-sm-2 control-label">{{t "Video" key='video'}}</label>
          <div class="col-sm-10">
            {{video-recorder user=model video_ready='video_ready' video_pending='video_pending' video_not_ready='video_not_ready'}}
          </div>
        </div>
        <div class="form-group">
          <label for="note" class="col-sm-2 control-label">{{t "Note" key='note'}}</label>
          <div class="col-sm-10">
            {{textarea value=note class="form-control" id="note" rows="1"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                {{input checked=notify type="checkbox"}}
                {{t "Notify others of this message" key='notify_others'}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{#if app_state.feature_flags.video_recording}}
              <button class="btn btn-primary" disabled={{no_video_ready}} {{action "saveNote" 'video'}}>{{t "Save Note" key='save_note'}}</button>
            {{/if}}
            <button class="btn btn-default" {{action "close"}}>{{t "Cancel" key='cancel'}}</button>
          </div>
        </div>
      {{/if}}
    </form>
    <div style="clear: left;"></div>
  </div>
{{/modal-dialog}}
