<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>{{t "Redeem a Gift Code" key='redeem_gift_code'}}</h2>
    <span class="glyphicon glyphicon-gift" style="font-size: 30px; float: left; margin: 5px 10px 10px 0;"></span>
    {{#if model.invalid}}
      {{#if persistence.online}}
        <p>{{t "No available gift was found for the code <b>%{code}</b>. It's possible the code has already been redeemed, or the code was entered incorrectly. Please contact the giver and confirm the details." key='invalid_code' code=model.code}}</p>
      {{else}}
        <p>{{t "No gift could be found. Please check your Internet connection." key='invalid_code_check_internet'}}</p>
      {{/if}}
    {{else if model}}
      <p>
        {{t "Someone has shared a premium membership to CoughDrop as a gift to you! This gift will give you free premium access to CoughDrop for <b>%{duration}</b>." duration=model.duration key='gift_details'}}
        {{#if app_state.currentUser}}
          {{t "To redeem it, just hit the button below." key='or_hit_button'}}
        {{else}}
          {{t "To redeem it, you'll need to be logged in, then activate it from the subscription page in your profile or visit this page again." key='login_for_redemption'}}
        {{/if}}
      </p>
      {{#if app_state.currentUser}}
        {{#link-to 'user.subscription' app_state.currentUser.user_name (query-params code=code) class='btn btn-primary btn-lg'}}
          {{t "Redeem This Gift" key='redeem_gift'}}
        {{/link-to}}
      {{else}}
        <p>
          {{t "Before you can redeem this code you'll need to " key='before_redeem'}}
          <a href="#" {{action "authenticateSession"}}>{{t "sign in" key="sign_in"}}</a>
          {{t "or" key='or'}}
          {{#link-to "register"}}{{t "create a new account" key="create_a_new_account"}}{{/link-to}}.
        </p>
      {{/if}}
    {{else}}
      <p>{{t "Retrieving gift details..." key='retrieving_gift'}}</p>
    {{/if}}
  </div>
</div>