<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <button class={{if self_currently_selected 'btn btn-info' 'btn btn-default'}} {{action 'select' 'self'}} style="width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
      <img src={{app_state.sessionUser.avatar_url}} style="height: 60px; max-width: 100px;"/><br/>
      {{app_state.sessionUser.user_name}}<br/>&nbsp;
    </button>
  </div>
  {{#each model.supervisees as |supervisee|}}
    <div class="col-md-3 col-sm-4 col-xs-6">
      <button disabled={{supervisee.disabled}} class={{if supervisee.currently_selected 'btn btn-info' 'btn btn-default'}} {{action 'select' supervisee.id}} style="width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
        <img src={{supervisee.avatar_url}} style="height: 60px; max-width: 100px;"/><br/>
        {{supervisee.user_name}}<br/>
        {{#if supervisee.disabled}}
          <em class='text-muted'>{{t "not allowed" key='not_allowed'}}</em>
        {{else}}
          &nbsp;
        {{/if}}
      </button>
    </div>
  {{/each}}
</div>