{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Set Home Board" key='set_home_board'}}
    </h3>
  </div>  
  <div class="modal-body">
    <p>
      {{t "For which user would you like to set <b>%{board_key}</b> as the new home board?" key='which_user_set_as_home' board_key=model.board.key}}
    </p>
    {{#if errored}}
      <p class='text-danger'>{{t "Setting home board failed, please try again." key='set_as_home_failed'}}</p>
    {{/if}}
    {{partial "select-user"}}
  </div>
  <div class="modal-footer">
    <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
