{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Share Text" key='share_text'}}</h3>
  </div>
  <div class="modal-body">
    <p>{{t "Copy the message you entered to paste it into another app,<br/> or select the place you'd like to share it." key='copy_sentence'}}</p>

    <div class="row" style="margin: 30px 0;">
      <div class="col-sm-8">
        <input type="text" id='sentence' value={{sentence}} class="form-control select_on_click"/>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static" style="line-height: 34px; vertical-align: middle;">
          {{#if utterance_record.link}}
            <a href={{utterance_record.link}} target="_blank"><span class="glyphicon glyphicon-hand-up"></span> Link</a>
          {{/if}}
        </p>
      </div>
    </div>
    {{#if copy_result.succeeded}}
      <p class='text-success'>{{t "Text copied to the clipboard!" key='copied_to_clipboard'}}</p>
    {{else if copy_result.failed}}
      <p class='text-danger'>{{t "Copying to the clipboard failed." key='copy_failed'}}</p>
    {{/if}}

    {{#if utterance_record}}
      {{share-bar url=utterance_record.link text=sentence element_id='sentence' user=app_state.currentUser utterance=utterance_record copy_event='copy_event'}}
    {{/if}}
  </div>
{{/modal-dialog}}
