{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Link Settings" key='link_settings'}}</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" {{action 'nothing' on='submit'}}>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{t "Action" key='action'}}</label>
        <div class="col-sm-10">
          <p class='form-control-static'>
            {{#if model.button.key}}
              {{#link-to 'board' model.button.key}}{{t "Open board %{board}" key='open_board_key' board=model.button.key}}{{/link-to}}
            {{else if model.button.alert}}
              <a href="#" {{action 'alert'}}>
                <span class="glyphicon glyphicon-bullhorn"></span>
                {{t "Play Alert Sound" key='play_alert_sound'}}
              </a>
            {{else}}
              {{t "Unrecognized Button Type" key='unrecognized_button_type'}}
            {{/if}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{t "Name" key='name'}}</label>
        <div class="col-sm-10">
          <div style="width: 100px;">
            {{input value=model.button.name class="form-control" id="name" placeholder="Board"}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">{{t "Icon" key='icon'}}</label>
        <div class="col-sm-10">
          {{icon-select selection=model.button.image action=(action (mut model.button.image)) }}
        </div>
      </div>
      {{#unless model.button.alert}}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <label>
              {{input type='checkbox' checked=model.button.home_lock}}
              {{t "Set as temporary Home when loaded from the sidebar" key='set_home_lock'}}
            </label>
          </div>
        </div>
      {{/unless}}
    </form>
  </div>
  <div class="modal-footer">
    <button class='btn btn-default' {{action "close" }}>{{t "Close" key='close'}}</button>
  </div>

{{/modal-dialog}}


