{{#modal-dialog opening='opening' closing='closing' desired_width=625}}
  <div class="modal-header">
    {{#if model.user.really_expired}}
      <h3>{{t "Subscription Update" key='subscription_update'}}</h3>
    {{else}}
      <h3>{{t "Welcome to CoughDrop!" key='welcome_to_coughdrop'}}</h3>
    {{/if}}
  </div>
  <div class="modal-body" id="button_settings">
    {{#if model.user.really_expired}}
      <p>
        {{t "Your CoughDrop trial period has expired. Please update your subscription settings to continue using CoughDrop." key='welcome_fill_out_subscription'}}
      </p>
    {{else}}
      <p>
        {{t "We're excited you're here! Every user account starts with 2 months of free access to our cloud extras so you can try CoughDrop out and see if it's going to work before making a commitment, or you're welcome to sign up for one of our purchase plans right away." key='welcome_fill_out_subscription'}}
      </p>
      {{#if model.subscription.discount_period}}
        <p>
          {{t "<strong>Discount available!</strong> If you purchase within the first 24 hours after signing up you're eligible for a <strong>25% discount</strong> on your account. You'll still get your 2-month trial included as well." key='welcome_fill_out_subscription_free_trial'}}
        </p>
      {{else if model.subscription.sale}}
        <p>
          {{t "<strong>CoughDrop is on sale!</strong> Sign up now to receive a discount, the sale ends" key='welcome_fill_out_subscription_sale'}}
          {{date model.subscription.sale_ends 'day'}}{{t "." key='period'}}
        </p>
      {{/if}}
    {{/if}}
    {{#if model.subscription.finalizing_purchase}}
      <h4>{{t "Confirming purchase..." key='finalizing_subscription'}}</h4>
    {{else if error}}
      <h4 class='text-danger'>{{error}}</h4>
    {{else}}
      {{subscription-form user=model.user subscription=model.subscription trial_option=true subscription_skip='subscription_skip' subscription_error='subscription_error' subscription_success='subscription_success'}}
    {{/if}}
  </div>
{{/modal-dialog}}
