{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "CoughDrop Support" key='coughdrop_support'}}
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{t "Stumped? Something not working like you think it should? We're always on the lookout for ways to make CoughDrop better! Please tell us what you think, what's broken, or what you'd like to see made easier." key='support_intro'}}
      {{#unless app_state.no_linky}}
        {{t "Here's some resources that might help:" key='support_resources'}}
      {{/unless}}
    </p>
    {{#if app_state.no_linky}}
      {{#if ios}}
        <ul style='font-size: 18px; margin-top: 10px; list-style-type: none; line-height: 30px;'>
          <li><a href='https://coughdrop.zendesk.com/hc/en-us/articles/208011386-How-do-I-troubleshoot-speech-output-issues-' target='_blank'><span class="glyphicon glyphicon-volume-up"></span> {{t "Not Hearing Anything in Speak Mode?" key='not_hearing_speech'}}</a></li>
        </ul>
      {{/if}}
    {{else}}
      <ul style='font-size: 18px; margin-top: 10px; list-style-type: none; line-height: 30px;'>
        {{#if ios}}
          <li><a href='https://coughdrop.zendesk.com/hc/en-us/articles/208011386-How-do-I-troubleshoot-speech-output-issues-' target='_blank'><span class="glyphicon glyphicon-volume-up"></span> {{t "Not Hearing Anything in Speak Mode?" key='not_hearing_speech'}}</a></li>
        {{/if}}
        <li><a href='https://coughdrop.zendesk.com' target='_blank'><span class="glyphicon glyphicon-question-sign"></span> {{t "Support and Helpful How-To Articles" key='how_to_link'}}</a></li>
        <li><a href='https://www.youtube.com/playlist?list=PL8oiM_hsU8kZqw-psK9L5jUgFcnG_o6UD' target='_blank'><span class='glyphicon glyphicon-film'></span> {{t "YouTube Walkthrough Videos" key='how_to_videos'}}</a></li>
      </ul>
    {{/if}}

    <form class="form-horizontal" {{action "submit_message" on="submit"}}>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-3">
          <h3 style="margin-bottom: -5px; font-size: 18px;">{{t "Report a Problem/Share Feedback" key='problem_or_feedback'}}</h3>
        </div>
      </div>
      {{#unless app_state.currentUser}}
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">{{t "Name" key='name'}}</label>
          <div class="col-sm-7">
            {{input value=name class="form-control" id="name" placeholder="Your Name"}}
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">{{t "Email" key='email'}}</label>
          <div class="col-sm-7">
            {{input value=email class="form-control" id="email" placeholder="you@example.com"}}
          </div>
        </div>
      {{/unless}}
      <div class="form-group">
        <label for="subject" class="col-sm-3 control-label">{{t "Subject" key='subject'}}</label>
        <div class="col-sm-7">
          {{input value=subject class="form-control" id="subject" placeholder=""}}
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-sm-3 control-label">{{t "Message" key='message'}}</label>
        <div class="col-sm-7">
          {{textarea value=message class="form-control" id="message" placeholder="" rows=3}}
          <div class='text-muted' style='text-align: right;'>v{{app_state.version}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button disabled={{disabled}} type="submit" class="btn btn-primary">{{t "Send Message" key='send_message'}}</button>
          <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
          <span style="padding-left: 5px;">{{#link-to "troubleshooting"}}{{t "troubleshooting" key='troubleshooting'}}{{/link-to}}</span>
        </div>
      </div>
      {{#if error}}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <p class="text-danger">{{t "Submission failed, please try again" key='ticket_failed'}}</p>
          </div>
        </div>
      {{/if}}
    </form>
  </div>
{{/modal-dialog}}
