{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Sync Details" key='sync_details'}}</h3>
  </div>
  <div class="modal-body">
    {{#if model.details}}
      {{#each model.details as |sync|}}
        <h3>
          {{#if sync.errored}}
            <span class='text-danger'>{{date_ago sync.finished}}</span>
          {{else}}
            <span class='text-success'>{{date_ago sync.finished}}</span>
          {{/if}}
        </h3>
        {{#if sync.manual}}{{t "Manual sync. " key='manual_sync'}}{{/if}}
        {{sync.summary}}
        {{#if sync.statuses}}
          <br/>
          {{t "Boards: %{num} downloaded," num=sync.downloaded key='boards_n_downloaded_comma'}}
          {{t "%{num} updated, " num=sync.re_downloaded key='n_re_downloaded_comma'}}
          {{t "%{num} cached" num=sync.cached key='n_cached'}}
          <a href='#'{{action 'toggle_statuses' sync}}>{{t "see details" key='see_details'}}</a>
          {{#if sync.toggled}}
            <table class='table table-striped table-hover'>
              <tbody>
                {{#each sync.statuses as |status|}}
                  <tr>
                    <td>{{status.key}}</td>
                    <td>
                      {{#if status.downloaded}}
                        {{t "downloaded" key='downloaded'}}
                      {{else if status.re_downloaded}}
                        {{t "updated" key='re_downloaded'}}
                      {{else if status.cached}}
                        {{t "cached (no change)" key='cached_no_change'}}
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        {{/if}}
      {{/each}}
    {{else}}
      <p>{{t "No sync details to show" key='no_sync_details'}}</p>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button class='btn btn-default' {{action 'close'}}>{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}

