<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>{{t "App Troubleshooting" key='app_troubleshooting'}}</h2>
    <p>
      {{t "This tool can help test for functionality that is expected or required in order for CoughDrop to function correctly. Some tests will run automatically, while others may require manual testing. If you come across anything unexpected please hit the 'Support' link at the bottom of the page and report the problem." key='troubleshooting_intro'}}
    </p>
    {{#unless testing}}
      <div style="margin: 50px; text-align: center;">
        <button class='btn btn-lg btn-primary' {{action 'run_default_tests'}}>{{t "Check For Supported Functionality" key='run_tests'}}</button>
      </div>
    {{else}}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{t "Component" key='component'}}</th>
            <th>{{t "Description" key='description'}}</th>
            <th style="width: 220px;">{{t "Results" key='results'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each tests as |test|}}
            <tr>
              <td>{{test.name}}</td>
              <td>{{test.description}}</td>
              <td>
                {{test.bacon}}
                {{#if test.results}}
                  {{#if test.results.passed}}
                    <span class='text-success'>{{t "Supported" key='supported'}}</span>
                    {{#if test.results.content}}
                      <div style='white-space: pre-line; max-height: 100px; overflow: auto;'>{{test.results.content}}</div>
                    {{/if}}
                  {{else if test.results.partially_passed}}
                    <span class='text-warning'>
                      {{t "Partially Supported" key='partially_supported'}}{{#if test.results.reason}}. {{test.results.reason}}{{/if}}
                    </span>
                  {{else}}
                    <span class='text-danger'>
                      {{t "Not Supported" key='not_supported'}}{{#if test.results.reason}}. {{test.results.reason}}{{/if}}
                    </span>
                  {{/if}}
                  {{#if test.tests}}
                    <br/>
                    {{#each test.tests as |num|}}
                      <button class="btn btn-default" {{action "test_feature" test.key num}}>{{t "Test %{num}" key='test_num' num=num}}</button>
                    {{/each}}
                  {{/if}}
                {{else}}
                  <span class='text-info'>{{t "Testing..." key='testing'}}</span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          <tr>
            <td>{{t "CSS Alpha" key='css_alpha'}}</td>
            <td>{{t "CoughDrop supports transparent colors for more flexible rendering of boards and board buttons." key='css_alpha_info'}}</td>
            <td>
              <div style="position: relative; float: left; margin-right: 5px; background: rgba(0, 0, 255, 1.0);">
                <div style="width: 20px; height: 20px; background: rgba(255, 0, 0, 0.5);">
                </div>
                <div style="position: absolute; top: 0; left: 0; width: 10px; height: 20px; background: rgba(0, 255, 0, 0.5);">
                </div>
              </div>
              {{t "This text should appear next to a half-green, half-purple box." key='alpha_test'}}
            </td>
          </tr>
          <tr>
            <td>{{t "CSS Animations" key='css_animation'}}</td>
            <td>{{t "Progress bars and spinners use animation to make CoughDrop feel more responsive." key='animation_info'}}</td>
            <td>
              <span class="glyphicon glyphicon-refresh spinning"></span>
              {{t "The icon next to this text should appear to be spinning." key='spinning_test'}}
            </td>
          </tr>
        </tbody>
      </table>

      <h4 style="margin-top: 50px;">{{t "App Details" key='app_details'}}</h4>
      <table class='table table-striped table-hover' style='max-width: 400px'>
        <tbody>
          {{#if should_reload}}
            <tr>
              <td colspan='3' class='text-danger'>
                {{t "After clearing, you should really reload" key='should_reload'}}<br/>
                <button class='btn btn-primary' {{action 'reload'}}>{{t "Reload Now" key='reload_now'}}</button>
              </td>
            </tr>
          {{/if}}
          {{#if storage}}
            <tr>
              <td style='vertical-align: middle;'>{{t "File Storage" key='file_storage'}}</td>
              <td style='vertical-align: middle;'>
                {{#if storage.pending}}
                  {{t "Checking..." key='checking'}}
                {{else}}
                  {{t "%{size}Mb" size=storage.size key='megabytes'}}
                {{/if}}
              </td>
              <td style='vertical-align: middle;'>
                <button class='btn btn-default' {{action 'clear_file_storage'}}>{{t "Clear" key='clear'}}</button>
              </td>
            </tr>
          {{/if}}
          <tr>
            <td style='vertical-align: middle;'>{{t "Databases" key='databases'}}</td>
            <td style='vertical-align: middle;'>
              {{#if db.pending}}
                {{t "Checking..." key='checking'}}
              {{else if db}}
                {{db.type}}
              {{else}}
                {{t "none" key='none'}}
              {{/if}}
            </td>
            <td style='vertical-align: middle;'>
              {{#if db}}
                <button class='btn btn-default' {{action 'clear_databases'}}>{{t "Clear" key='clear'}}</button>
              {{/if}}
            </td>
          </tr>
          <tr>
            <td style='vertical-align: middle;'>{{t "Local Storage" key='local_storage'}}</td>
            <td style='vertical-align: middle;'>
              {{#if local_storage}}
                {{t "available" key='available'}}
              {{else}}
                {{t "not available" key='not_available'}}
              {{/if}}
            </td>
            <td style='vertical-align: middle;'>
              {{#if local_storage}}
                <button class='btn btn-default' {{action 'clear_local_storage'}}>{{t "Clear" key='clear'}}</button>
              {{/if}}
            </td>
          </tr>
          <tr class='text-muted'>
            <td>{{t "App Version" key='version'}}</td>
            <td colspan='2'>{{app_state.version}}</td>
          </tr>
          <tr class='text-muted'>
            <td>{{t "Recognized Device" key='version'}}</td>
            <td colspan='2'>{{app_state.device_name}}</td>
          </tr>
        </tbody>
      </table>
    {{/unless}}
  </div>
</div>
