<p>
  {{#if notif.push_message}}
    {{#link-to 'user' notif.user_name}}
      {{notif.user_name}}
    {{/link-to}}
    {{t " - new note by %{user_name}" key='user_new_message' user_name=notif.author_user_name}}
    <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">
      <span title="{{unbound date notif.occurred_at}}">
        {{date_ago notif.occurred_at}}
      </span>
      {{t " - " key='dash'}}
      {{notif.text}}
    </span>
  {{else if notif.utterance_shared}}
    {{#link-to 'user' notif.sharer.user_name}}
      {{notif.sharer.user_name}}
    {{/link-to}}
    {{t "said to you, " key='said' }}
    {{#link-to 'utterance' notif.utterance_id}}
      {{notif.text}}
    {{/link-to}}
    <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">
      <span title="{{unbound date notif.occurred_at}}">
        {{date_ago notif.occurred_at}}
      </span>
    </span>
  {{else if notif.org_removed}}
    {{t "You have been removed as a %{role} for the organization %{org_name}" key='removed_from_org' role=notif.user_type org_name=notif.org_name}}
    <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">
      <span title="{{unbound date notif.occurred_at}}">
        {{date_ago notif.occurred_at}}
      </span>
    </span>
  {{else if notif.board_buttons_changed}}
    {{#link-to 'board' notif.key}}
      {{notif.name}}
    {{/link-to}}
    {{t " - board was modified" key='board_contents changed'}}
    <span style='font-size: 10px;'>
      {{#link-to 'board.history' notif.key}}{{t "history" key='history'}}{{/link-to}}
    </span>
    <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">
      <span title="{{unbound date notif.occurred_at}}">
        {{date_ago notif.occurred_at}}
      </span>
      {{#if app_state.currentUser.supporter_role}}
        {{t " - " key='dash'}}
        {{t "used by" key='used_by'}}
        {{#if notif.for_user}}
          {{#link-to 'user' app_state.currentUser.user_name}}
            {{t "you" key='you'}}{{/link-to}}{{#if notif.for_supervisees}}{{t ", " key='comma_space'}}{{/if}}
        {{/if}}
        {{#if notif.for_supervisees}}
          {{#each notif.for_supervisees as |supervisee index|}}
            {{#if index}}{{t ", " key='comma_space'}}{{/if}}
            {{#link-to 'user' supervisee}}
              {{supervisee}}
            {{/link-to}}
          {{/each}}
        {{/if}}
      {{/if}}
    </span>
  {{/if}}
</p>
