<div class="well" style="text-align: center;">
  <img src={{model.avatar_url_with_fallback}} style="max-height: 100px;"/>
  <h2 style="margin-bottom: 0;">{{ model.name }}</h2>
  <div style="margin-bottom: 10px;">{{ model.user_name }}</div>
  <div>{{ model.description }}</div>
  {{#if model.details_url}}
  <div><a href={{model.details_url}} target="_blank">{{ model.details_url }}</a></div>
  {{/if}}
  <div>{{ model.location }}</div>
  {{#if model.joined}}
    <div title={{date model.joined}}>{{t "joined" key='joined'}} {{date_ago model.joined}}</div>
  {{/if}}
  {{#if model.last_access}}
    <div class="text-muted" title={{date model.last_access}}>{{t "used" key='used'}} {{date_ago model.last_access 'day'}}</div>
  {{/if}}
</div>