{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Word Data For \"%{word}\"" word=model.word key='word_data_for_word'}}
    </h3>
  </div>
  <div class="modal-body">
    <!-- TODO:
            - dropdown to select different user
            - load user's core_lists if not loaded
            - usage examples
            - color something based on part of speech
            - frequency if stats are available
            - percentage if stats are available
            - make a note if no part of speech found
            - make a note if suggestions found
            - way to suggest examples
    -->

    <dl class="dl-horizontal">
      <dt>{{t "Part of speech:" key='common_part_of_speech'}}</dt>
      <dd>
        {{#if parts_of_speech.loading}}
          {{t "Loading..." key='loading'}}
        {{else if parts_of_speech.error}}
          {{t "Error loading word data" key='error_loading_word_data'}}
        {{else if part_of_speech}}
          <span class={{part_of_speech_class}}></span>
          {{part_of_speech}}
        {{else}}
          {{t "Data not available" key='no_data_available'}}
        {{/if}}
      </dd>
      {{#if model.usage_stats}}
        <dt>{{t "Usage:" key='usage'}}</dt>
        <dd>
          {{#if frequency.total}}
            {{t "time" count=frequency.total key='n_times'}} ({{frequency.percent}}%) {{t "for the time period" key='for_the_period'}}
          {{else}}
            {{t "not used in the time period" key='not_used_in_the_period'}}
          {{/if}}
        </dd>
      {{/if}}
      {{#if model.user.core_lists}}
        <dt>{{t "Availability:" key='availability'}}</dt>
        <dd>
          {{#if reachable}}
            {{t "This word is in the board set for %{user_name}" user_name=model.user.user_name key='in_user_board_set'}}
          {{else}}
            <span class='text-danger'>{{t "This word is NOT in the board set for %{user_name}" user_name=model.user.user_name key='not_in_user_board_set'}}</span>
          {{/if}}
        </dd>
      {{/if}}
      {{#if part_of_speech}}
        <dt>{{t "Suggestions:" key='suggestions'}}</dt>
        <dd>
          {{#if suggestions}}
            <p>{{t "Here are some examples of sentences using \"%{word}\"" word=model.word key='examples_using_word'}}</p>
            <div class='list-group'>
              {{#each suggestions as |suggestion|}}
                <span class='list-group-item'>"{{suggestion.sentence}}"</span>
              {{/each}}
            </div>
          {{else}}
            <p>{{t "No suggestions currently available for \"%{word}\"" word=model.word key='no_suggestions_for_word'}}</p>
          {{/if}}
        </dd>
      {{/if}}
    </dl>
    {{#if part_of_speech}}
      {{#if app_state.currentUser.permissions.admin_support_actions}}
        <div class='row'>
          <div class='col-sm-3'>
            <p class='form-control-static'>New Suggestion:</p>
          </div>
          <div class='col-sm-5'>
            {{input type='text' value=sentence class='form-control'}}
          </div>
          <div class='col-sm-4'>
            <button class='btn btn-default' {{action 'add_sentence'}} disabled={{sentence.loading}}>
              {{#if sentence_state.loading}}
                {{t "Adding Suggestion..." key='adding_suggestion'}}
              {{else if sentence_state.error}}
                {{t "Error Adding Suggestion" key='error_adding_suggestion'}}
              {{else}}
                {{t "Add Suggestion" key='add_suggestion'}}
              {{/if}}
            </button>
          </div>
          <div class='col-sm-12'>
            <p class='text-muted'><em>{{t "Only admins can suggest sentences right now." key='suggestions_for_admins_only'}}</em></p>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class='modal-footer'>
    <button class='btn btn-default' {{action 'close'}}>{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}
