<div class={{elem_class}} style={{elem_style}}>
  <h3>{{t "Core/Parts of Speech" key='core_parts_of_speech'}}</h3>
  <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
  <div style='height: 250px; overflow: auto;'>
    {{#each core_words as |word|}}
      <a href='#' {{action 'word_data' word.text}} class={{word.weight_class}}>{{word.text}}</a>
    {{/each}}
  </div>
</div>
