<div class={{if side_by_side "col-sm-6" "col-sm-8"}} style={{if right_side "border-left: 1px solid #eee;"}}>
  <h3>{{t "Location-Based Reports" key='location_based_reports'}}</h3>
  <p>{{t "CoughDrop can show awesome map data on how this user is communicating across different locations, but only if geo-logging is enabled. Right now it's turned off, but you can enable it in your preferences." key='geo_logging_disabled'}}</p>
  {{#if model.permissions.edit}}
    <button {{action "enable_geo_logging"}} type="button" class='btn btn-default'>{{t "Enable Geolocation Logging & Reports" key='enable_geo_logging'}}</button>
  {{/if}}
</div>
