<div class={{if side_by_side "col-sm-6" "col-sm-8"}} style={{if right_side "border-left: 1px solid #eee;"}}>
  <h3>{{t "Locations" key='maps'}}</h3>
  {{#if usage_stats.geo_locations}}
    {{map-with-markers action="marker_link_select"}}
  {{else}}
    <p>{{t "There is not enough data to show geographic locations. Please check back after using CoughDrop a few more times." key='need_more_geo_data'}}</p>
  {{/if}}
</div>
