<div class={{elem_class}} style={{elem_style}}>
  <div style={{inner_elem_style}}>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>
            {{t "IP Addresses" key='ip_addresses'}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#if usage_stats.ip_locations}}
          {{#with this as |controller|}}
          {{#each usage_stats.ip_locations as |location|}}
            <tr>
              <td>
                <strong>
                  <a href="#" {{action 'filter' location}}>
                    {{location.readable_ip_address}}
                  </a>
                </strong><br/>
                <span class="text-muted" style="padding-left: 10px;">{{t "%{term} sessions" key='session_count' term=location.total_sessions}}</span>
              </td>
            </tr>
          {{/each}}
          {{/with}}
        {{else}}
          <tr>
            <td>{{t "No data available" key='no_data'}}</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
