<div class="col-sm-3 col-xs-6" style={{if right_side "border-left: 1px solid #eee;"}}>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Utterances per minute" key='utterances_per_minute'}}
    </div>
    <div class="panel-body">
      {{round usage_stats.utterances_per_minute}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Buttons per minute" key='buttons_per_minute'}}
    </div>
    <div class="panel-body">
      {{round usage_stats.buttons_per_minute}}
    </div>
  </div>
</div>
