<div class="col-sm-3 col-xs-6" style={{if right_side "border-left: 1px solid #eee;"}}>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total sessions" key='total_sessions'}}
    </div>
    <div class="panel-body">
      {{ usage_stats.total_sessions}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total words" key='total_words'}}
    </div>
    <div class="panel-body">
      {{ usage_stats.total_words}}
    </div>
  </div>
</div>
