<div class={{if side_by_side "col-sm-6" "col-sm-4"}} style={{if right_side "border-left: 1px solid #eee;"}}>
  <div style={{if side_by_side "margin-top: 30px; height: 150px; overflow-y: scroll;" "margin-top: 30px; max-height: 200px; overflow-y: scroll;"}}>
    <strong>{{t "Weighted Words" key='weighted_words'}}</strong>
    <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
    <br/>
    {{#each usage_stats.weighted_words as |word|}}
      <span class={{word.weight_class}}>{{word.text}}</span>
    {{/each}}
  </div>
</div>
