<div class={{elem_class}} style={{elem_style}}>
  <div style={{inner_elem_style}}>
    <strong>{{t "Weighted Words" key='weighted_words'}}</strong>
    <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
    <br/>
    {{#each usage_stats.weighted_words as |word|}}
      <span class={{word.weight_class}}>{{word.text}}</span>
    {{/each}}
  </div>
</div>
