Hello! This is a final reminder that the <%= @user.grace_period? ? "free trial" : "subscription" %> for the CoughDrop 
user account <b><%= @user.user_name %></b> is about to expire. It is set to expire 
<b><%= @user.expires_at.to_s(:long_ordinal) %></b>. Please
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/subscription">update your subscription settings</a> 
so you don't lose out on CoughDrop's rich set of communication and tracking
tools.<br/><br/>

CoughDrop is more than just a communication app. CoughDrop is a movement.
We're trying to show just how much better communication can be, and how much of
a different a team-enabling tool like CoughDrop can make in helping communicators
be heard, and we need your help spreading that vision. Your subscription doesn't
just help you, it can help fund the app for families in need, and also supports
initiatives for more openness and interoperability in AAC. We hope you'll consider
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/subscription">purchasing a subscription</a>
to help in this good work.

If you need help finding a funding solution yourself, please don't be afraid to reach out to us, 
we're willing to work with individuals to find a good solution. Just 
<a href="https://coughdrop.zendesk.com">access our support site</a>
to make a request.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
