<div id="audio"></div>

<div id="loading_box" <% if crawler? %>style="display: none;"<% end %>>
  <h2 id="loading">
    <img src="/images/logo-big.png"/>
    Loading CoughDrop<%= " Demo" if params['embed'] %>...
    <span id="loading_message" style="display: none; font-size: 14px; font-weight: normal;">(this may take a little while...)</span>
  </h2>
  <% unless params['embed'] %>
    <%= render 'shared/footer' %>
  <% end %>
</div>
<!-- TODO: i18n this ^ ERB-style -->

<!-- ignore below this when generating -->
<% if Rails.env.production? %>
  <script>
  (function() {
    window.load_state = window.load_state || {};
    window.load_state.state = "init";
    window.load_state.init = true;

    function loadingSay(html) {
      var message = document.getElementById('loading_message');
      if(message) {
        message.style.display = 'block';
        message.innerHTML = html;
      }
    }
    function checkState() {
      var googlebot = window.navigator && window.navigator.userAgent && window.navigator.userAgent.match(/googlebot/i);
      window.load_state = window.load_state || {};
      if(!window.FileReader && !googlebot) {
        loadingSay("your web browser appears out of date and will not work with CoughDrop, <a href='http://www.whatbrowser.org' target='_blank'>you should consider upgrading</a>.");
//       } else if(!local_storage_available) {
//         loadingSay("your browser's privacy settings appear to be preventing CoughDrop from loading successfully. Please <a target='_blank' href='https://coughdrop.zendesk.com/hc/en-us/articles/202007575'>make sure your browser is set up properly for CoughDrop to run</a>.");
      } else if(!window.load_state.js_retrieved) {
        if(!window.load_state.js_still_waiting) {
          window.load_state.js_still_waiting = true;
          loadingSay("downloading resources, this may take a little while...");
          setTimeout(checkState, 5000);
        } else if(!window.load_state.js_really_still_waiting) {
          window.trackJs && window.trackJs.track("slow download");
          window.load_state.js_really_still_waiting = true;
          loadingSay("still downloading. It doesn't usually take this long, there may be a slow connection...");
          setTimeout(checkState, 60000);
        } else {
          window.trackJs && window.trackJs.track("download failed");
          if(window.capabilities && window.capabilities.db_error) {
            loadingSay("there might be a problem with your installation. You can try deleting and re-installing the app, keep waiting, or <a href='https://coughdrop.zendesk.com' target='_blank'>contact support</a>");
          } else {
            loadingSay("looks like there might be a problem. You can keep waiting or <a href='https://coughdrop.zendesk.com' target='_blank'>contact support</a>");
          }
        }
      } else if(!window.load_state.js_loaded) {
        if(!window.load_state.js_still_loading) {
          window.load_state.js_still_loading = true;
          loadingSay("initializing...");
          setTimeout(checkState, 5000);
        } else if(!window.load_state.js_really_still_loading) {
          window.trackJs && window.trackJs.track("slow init");
          window.load_state.js_really_still_loading = true;
          loadingSay("initialization is taking longer than expected...");
          setTimeout(checkState, 30000);
        } else {
          window.trackJs && window.trackJs.track("init failed");
          if(window.capabilities && window.capabilities.db_error) {
            loadingSay("there might be a problem with your installation. You can try deleting and re-installing the app, keep waiting, or <a href='https://coughdrop.zendesk.com' target='_blank'>contact support</a>");
          } else {
            loadingSay("something may be broken. You can keep waiting or <a href='https://coughdrop.zendesk.com' target='_blank'>contact support</a>. You may also want to <a href='http://www.whatbrowser.org' target='_blank'>try a different browser</a>.");
          }
        }
      }
    }
    setTimeout(checkState, 500);
    navigator.standalone = navigator.standalone || (navigator.userAgent.match(/android/i) && navigator.userAgent.match(/chrome/i) && (screen.height-document.documentElement.clientHeight<40));
    if(window.FileReader) {
      var script = document.createElement('script');
      script.src = "<%= asset_path('application.js') %>";
      document.body.appendChild(script);
    }
  })();
  </script>
  <% if ENV['TRACK_JS_TOKEN'] %>
    <script type="text/javascript">window._trackJs = { token: "<%= ENV['TRACK_JS_TOKEN'] %>" };</script>
    <script type="text/javascript" async src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% end %>
  <% if ENV['CURRENT_SALE'] %>
    <script type="text/javascript">window.sale = "<%= ENV['CURRENT_SALE'] %>";</script>
  <% end %>
<% else %>
  <%= javascript_include_tag "application", :defer => true %>
<% end %>
<!-- folder icon attribution: CD http://www.thenounproject.com/informationarchitect -->
